.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start; 
  justify-content: center; 
  z-index: 1000;
}

.modal-content {
  position: absolute;
  top: 10%;
  background: white;
  padding: 40px 10px;
  border-radius: 10px;
  width: 500px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px; /* Adds some space from the top of the screen */
}

.modal-header {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.modal-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.modal-backdrop .modal .modal-content h3 {
  text-align: center;
  margin: 0 0 10px;
  font-size: smaller;
}

.modal-backdrop .modal .modal-content textarea {
  resize: none;
  width: 95%;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-backdrop .modal .modal-content .modal-actions {
  display: flex;
  justify-content: center;
  gap: 1%;
}

.modal-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal-actions .confirm-pending {
  background-color: #F68721;
  border: 1px solid #F68721; /* Yellow border for Cancel button */
  color: #fff;
}

.modal-actions .confirm-disapprove {
  background-color: red;
  border: 1px solid red; /* Red border for Cancel button */
  color: #fff;
}

.modal-actions .confirm-approve {
  background-color: green;
  border: 1px solid green; /* Green border for Cancel button */
  color: #fff;
}

.modal-actions .cancel-pending {
  border: 1px solid #F68721; /* Yellow border for Cancel button */
}

.modal-actions .cancel-disapprove {
  border: 1px solid red; /* Red border for Cancel button */
}
.modal-actions .cancel-create-listing{
  border: #EA4335 1px solid;
}
.modal-actions .cancel-approve {
  border: 1px solid green; /* Green border for Cancel button */
}
.modal-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.title-pending {
  color: #f68721; /* Orange */
}

.title-disapprove {
  color: red;
}
.modal-title{
  text-align: center;
}
.title-approve {
  color: green;
}
.title-approve
.title-default {
  color: black;
}

.modal-actions .confirm-create-listing {
  background-color: #EA4335;
  border: 1px solid #EA4335; /* Red border for Confirm button */
  color: #fff;
}

.confirm-create-listing{
  text-align: center;
  color: #EA4335;
}