:root {
    --font-color: #000000;
    --font-size: 15px !important;
    --font-family: "Poppins", Helvetica !important;
    --red-border-color: #d90000 !important;
    --background-color: #fff !important;
    --gray-border-color: #8c9094 !important;
} 