/* Styles for the component */
.active-contentContainer {
    display: flex;
    width: 100%;
    gap: 1rem;
  }
  
  .side-bar {
    width: 15%;
    padding: 0;
  }
  
  .active-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.5rem;
  }
  
  .active-contentContainer .listing-table-wrapper {
    background:#e9ecef;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
  }
  .custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
  }
  
  .custom-modal {
    background: white;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
    height: 150px;
    max-width: 80%;
    text-align: center;
    padding: 40px;
  }
  /* .custom-modal-overlay h2 {
    color: #D90000;
    font-size: 25px;
  } */
  .custom-modal-overlay p {
    font-size: 16px;
    margin: 10px;
  }
  .tag-sold-Button{
    border-radius: 30px;
    border: 1px solid black;
    padding: 3px;
    align-items: center;
  }
  .tag-sold-Button:hover{
    background-color: #B4BBC1;
  }
  .tagsold-confirm-buttons{
    border-radius: 20px;
    padding: 20px;
    gap: 1rem;
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  .confirm-button{
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 6px;
    border: none;
    margin-left: 50px;
  }
  .confirm-button-tag{
    background-color: #D90000;
    color: #ddd;
    border-radius: 20px;
    border: none;
    padding: 6px;
    display: flex;
    
  }
  .sold-success-button{
    background-color: #D9D9D9;
    /* color: #ddd; */
    border-radius: 20px;
    border: none;
    padding: 7px;
    width: 30%;
    margin: 30px;
  }
  .sold-success-modal .sold-success  h2{
    color: #256E2C;
  }
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .sold-success-modal{
    background: white;
    padding: 20px;
    border-radius: 30px;
    width: 230px;
    height: 120px;
    max-width: 80%;
    text-align: center;
    padding: 40px;
  }
  .sold-message{
    font-size: 22px;
    color: #256E2C;
    
  }
  
  .active-header-section {
    display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 30px;
  background-color: rgba(140, 144, 148, 0.18);
  /* height: 100%; */
  }
  
  .tabs {
    display: flex;
    gap: 1rem;
  }
  .srchwrapp{
    display: flex;
  align-items: center;
  width: 161px;
  height: 34px;
  position: relative;
  }
 .active-container{

 }
  
  .active-search-section {
    display: flex;
    align-items: center;
  }
  
  .dropdown {
    margin-right: 10px;
    padding: 5px;
  }
  
  .searchInputCont {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 5px;
  }
  
  .searchinT {
    width: 100%;
    padding: 8px 16px 8px 40px; /* Increase the left padding to make space for the icon */
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 30px;
  }
  .searchinT::placeholder {
    color: black;
  
  }
  
  .search-input:focus {
    outline: none;
  }
  .searchico{
    position: absolute;
  left: 12px; /* Adjust the position of the icon */
  top: 50%;
  transform: translateY(-50%); /* Center the icon vertically */
  color: black;
  }
  
  .listingsTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .listingsTable th,
  .listingsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .listingsTable th {
    background-color: #f4f4f4;
  }
  
  .evenRow {
    background-color: #f9f9f9;
  }
  
  .oddRow {
    background-color: #fff;
  }
  
  .showDetailsButton {
    background-color: #8C9094;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .actionButtons {
    display: flex;
    gap: 5px;
  }
  
  .actionButton {
    border: 1px solid black;
    color: rgb(10, 10, 10);
    
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .pageLink {
    display: block;
    padding: 10px 15px;
    color: Black;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 50px;
  }
  
  .pageLink.active {
    background-color: #D90000;
    color: white;
  }
  
  .pageLink:hover {
    background-color: #e9ecef;
  }
  
  .paginationContainer {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
  }
  
  .paginationList {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .pageItem {
    margin: 0 5px;
  }
  /* New Button */
.new-button {
    border: none;
    color: black;
    padding: 25px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s ease;
  }
  
  .new-button:hover {
    transform: scale(1.1);
    background-color: #ffffff;
  }
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
    .pageLink {
      display: block;
      padding: 10px 15px;
      color: Black;
      text-decoration: none;
      border: 1px solid #ddd;
      border-radius: 50px;
    }
    
    .pageLink.active {
      background-color: #D90000;
      color: white;
    }
    
    .pageLink:hover {
      background-color: #e9ecef;
    }
    
    .paginationContainer {
      display: flex;
      justify-content: flex-end;
      margin: 10px 0;
    }