

/* sa banner active steps */
.listing-details-container {
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    border-radius: 30px;
    margin: 0 auto;
  }
  
  .listing-details-header {
    font-size: 30px;
    font-weight: bold;
    color: #d90000;
    text-align: center;
  }
  
  .listing-details-subheader {
    font-size: 16px;
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  


/* sa active list steps */

.active-steps-listing-status-container {
    border-radius: 30px;
    padding: 10%;
    text-align: left;
    /* background-color: #fceaea; */
    border:1px solid #ff0000;
    max-width: 90%;
    margin: 0  20 auto;
    margin-top: 2%;
  }
  
  .active-steps-listing-id, .active-steps-status {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .active-steps-listing-id {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #d90000;
  }
  .active-steps-listing-id strong{
    color: black;
  }
  .active-steps-status span {
    color: green;
    font-size: 20px;
    font-weight: bold;
  }
  
  .active-steps-step {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px 0;
  }
  
  .active-steps-circle {
    width: 20px;
    height: 20px;
    border: 2px solid #d90000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .active-steps-checked {
    background-color: #FFDBDB;
    color: black;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .active-steps-preview-button-container {
    margin-top: 10px;
  }
  
  .active-steps-preview-button {
    border: 1px solid red;
    border-radius: 15px;
    padding: 8px 15px;
    background-color: white;
    color: red;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-left: 65%;
  }
  