.AddFeature {
	width: 100%;
}
.AddFeature .features {
	display: flex;
	flex-direction: column;
}
.addFeatureList .features {
	width: 100%;
}
.feature-item-container {
	display: flex;
	align-items: center;
	margin: 5px 0;
	width: 40%;
}
.feature-item-container .feature-item {
	flex-grow: 1;
	padding: 10px;
	cursor: pointer;
	margin: 5px;
	display: flex;
	align-items: center;
    border: 1px solid #d90000;
	border-radius: 30px;
	width: 50%;
	height: 50%;
}

.addFeatureList .features ul {
	padding: 0;
	height: 7vh;
}
/* .feature-item {
    flex-grow: 1;
    padding: ;
    border: 1px solid #d90000;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
} */
.feature-items {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 0;
}
/* .feature-row td {
  padding: 16px;
} */
.feature-table {
	width: 100%;
	border-collapse: collapse;
}
/* td {
  border: 1px solid var(--red);
  border-collapse: collapse;
} */
.feature-item:last-child {
	border-right: none;
}

/* .feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 24px;
} */
.feature-item {
	display: flex;
	flex-direction: column;
	/* align-items: center;
  justify-content: center; */
	margin-right: 0px;
	padding: 0px 15px 0px 15px;
	border-right: 1px solid var(--red);
	height: 70px;

}

.feature-item-container button {
	background: none;
	border: none;
	font-size: large;
}
.addFeatureList .top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/* .feature-item.selected {
	background-color: red;
	color: white;
} */

.add-button {
	padding: 10px 20px;
	background-color: #8c9094;
	color: white;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 10px;
	width: 10%;
}

.add-button:hover {
	background-color: #8c9094;
}

.add-new-item {
	margin-top: 10px;
	display: flex;
	align-items: center;
	width: 40%;
}
.AddFeature .top .p {
	color: #8c9094;
}
.add-new-item input {
	padding: 10px;
	margin-right: 5px;
	border: 1px solid #d90000;
	border-radius: 20px;
	flex-grow: 0.9;
}
@media only screen and (max-width: 320px) {
	.AddFeature .top {
		flex-wrap: wrap;
	}
	.add-button {
		width: 100%;
	}
	.AddFeature .feature-item {
		width: 100%;
	}
	.feature-item-container {
		width: 100%;
	}
	.addFeatureList .features ul {
		height: 100%;
	}
}
@media only screen and (max-width: 800px) {
	.AddFeature .top {
		flex-wrap: wrap;
	}
	.add-button {
		width: 100%;
	}
	.AddFeature .feature-item {
		width: 100%;
		font-size: 16px;
	}
	.feature-item-container {
		width: 100%;
	}
	.addFeatureList .features ul {
		height: 100%;
	}
}
@media only screen and (min-width: 800px) and (max-width: 1280px) {
	.add-button {
		width: 20%;
	}
	.AddFeature .feature-item {
		width: 100%;
	}
	/* .feature-item-container {
		width: 50%;
	} */
	.addFeatureList .features ul {
		height: 100%;
	}
	
}
