.modalBackground {
  background: var(--bg-shadow);
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.alert-modal .modal-body {
  display: grid;
  text-align: center;
  background-color: var(--white);
}
#title-alert {
  font-weight: 700;
  font-size: 19px;
}

#text-alert {
  margin: 20px;
  line-height: 23px;
  word-wrap: break-word;
  font-size: 17px;
}
#Ok-btn {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 40px;
  background-color: var(--red);
  color: var(--white);
  font-weight: 100px;
  border-radius: var(--radius);
  border-color: var(--border-color);
}

#sub-btn{
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 40px;
  background-color: var(--red);
  color: var(--white);
  font-weight: 100px;
  border-radius: var(--radius);
  border-color: var(--border-color);
  font-size: 15px;
  cursor: pointer;
}