.all-container {
	/* background: #fff; */
	/* padding: 1% 5%; */
}

.all-page-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: auto;
	padding-bottom: 50px;
}

.all-searchcomponent {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* .all-page-container .card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  } */
.all-h1 {
	/* font-size: 30px;
    font-weight: bold;
    margin: 50px 0px 20px 120px;
    padding: 0px 110px; */
	/* margin: 0px 20px 0px 20px; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* align-items: flex-start; */
	/* gap: 300px; */
	width: 1500px;
	margin: 30px auto 0;
	padding: 0px 100px;

	font-size: 30px;
	font-weight: bold;
}
.all-h1.breadcrumb--search {
	font-size: 18px !important;
	font-weight: 500;
	margin: 40px auto 0;
}
/* .card {
    border: 1px solid #ddd;
    border-radius: 20px;
    margin: 10px;
    width: calc(33% - 20px);
    width: 100%;
    box-sizing: border-box;
  } */

/* .card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
  
  .card-content {
    padding: 15px;
  } */

@media screen and (min-width: 320px) and (max-width: 359px) {
	.all-page-container .all-h1 {
		font-size: 22px;
		position: relative;
		width: 100% !important;
		padding: 20px 0px 20px 20px;
		/* margin: 20px 0px 20px 20px; */
	}
	/* .rent {
		width: 100%;
		justify-content: center;
		display: flex;
		align-items: center;
	} */
}

@media screen and (min-width: 381px) and (max-width: 480px) {
	.all-page-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 5px;
	}

	.all-page-container .all-h1 {
		font-size: 22px;
		padding: 0px 0px 20px 20px;
		width: 100% !important;
		margin: 30px auto 0px;
	}
}
@media screen and (min-width: 360px) and (max-width: 380px) {
	.all-page-container .all-h1 {
		width: 100% !important;
		padding: 0px 0px 20px 15px;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.all-page-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 5px;
	}

	.all-page-container .all-h1 {
		font-size: 26px;
		margin: 0px 0px 20px 0px;
		padding: 0px;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.all-page-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 5px;
	}

	.all-page-container .all-h1 {
		font-size: 26px;
		padding: 20px 0px 0px 20px;
		width: 100%;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.all-page-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 5px;
	}

	.all-page-container .all-h1 {
		font-size: 26px;
		padding: 20px 0px 0px 30px;
		width: 100%;
	}
}
@media screen and (min-width: 769px) and (max-width: 899px) {
	.all-page-container .all-h1 {
		padding: 20px 0px 0px 25px !important;
		width: 100%;
	}
}
@media screen and (min-width: 900px) and (max-width: 950px) {
	.all-page-container .all-h1 {
		padding: 20px 0px 0px 30px !important;
		width: 100%;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
	.all-page-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 5px;
	}

	.all-page-container .all-h1 {
		font-size: 26px;
		padding: 20px 0px 0px 40px;
		width: 100%;
	}
}
@media screen and (min-width: 1100px) and (max-width: 1200px) {
	.all-page-container .all-h1 {
		padding: 20px 0px 0px 40px !important;
		width: 100% !important;
	}
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
	.all-page-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 5px;
	}

	.all-page-container .all-h1 {
		font-size: 26px;
		padding: 20px 0px 0px 45px;
		width: 1300px;
	}
}
@media screen and (min-width: 1201px) and (max-width: 1399px) {
	.all-page-container .all-h1 {
		padding: 20px 0px 0px 80px !important;
		width: 100%;
	}
}
@media screen and (min-width: 1401px) and (max-width: 1600px) {
	.all-page-container .all-h1 {
		font-size: 26px;
		padding: 20px 0px 0px 0px !important;
		width: 1300px;
	}
}
