  .modal-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-main-container .overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.application-modal-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    justify-content: center;
}

.application-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 15px;
}

.application-header {
    width: 90%;
    display: flex;
    color: #000;
    align-items: flex-start;
}

.application-modal-container {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 650px;
    gap: 1rem;
    height: 820px;
    border-radius: 30px;
    z-index: 100;
    top: 100px;
    left: 700px;
    /* top: 10%; */
    /* height: auto; */
}

.application-row {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.application-first-row {
    display: flex;
    flex-direction: row;
}

.application-first-row .application-input {
    width: 100%;
}

.application-second-row, .application-third-row, .application-fourth-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
}

.application-second-row {
    align-items: center;
    justify-content: center;
}

.application-third-row .application-select, .application-fourth-row .application-select {
    width: 183px;
}

.application-input {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #8C9094;
    padding: 5%;
    color: #8C9094;
    font-size: 15px;
}

.application-select {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #8C9094;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #8C9094;
    font-size: 15px;
}

.address-input {
    display: flex;
    flex-direction: column;
    width: 65%;
    font-size: 15px;
    gap: .5rem;
}

#application-submitbtn {
    width: 20%;
    background-color: #d90000;
    color: #fff;
    border-radius: 10px;
    height: 40px;
    font-size: 13px;
    font-weight: 500;
    width: 80px;
    border: none;
}

.application-submitbtn {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.files-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.files-container h5 {
    font-size: 15px;
}

.files-container .files-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: 2%;
}

.files-container em {
    font-size: 12px;
    color: #8C9094;
}

.files-container .files-span {
    font-size: 10px;
    color: #d90000;
}

.files-container .description-span {
    font-size: 10px;
}
 
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%); 
    gap: 1px;
}

.grid-item {
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    position: relative;
    height: auto; /* Allow height to adjust based on content */
}

.grid-item input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
}
.addButton {
    position: relative;
    border-radius: 10px;
    border: 1px solid #8C9094;
    height: 12vh;
    padding: 5px;
    
}
.addButton p{
    text-wrap: wrap;
}
.addButton img{
    width: 100%;
    height: 100%;
}
.plus-icon {
    top: 35%;
    left: 42%;
    font-size: 24px;
    position: absolute;
    color: #000;
}

.grid-item p {
    margin: 1px 0 0;
    position: static; /* Change to static to avoid overlay */
    transform: none; /* Reset transform */
    top: auto;
    left: auto;
}

.file-description {
    margin-top: 10px; /* Add spacing from the input */
    text-align: center;
    font-size: 12px; 
}

/* Media Queries */
@media only screen and (max-width: 1024px) and (min-width: 721px) {
    .modal-main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .application-modal-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90%;
        justify-content: center;
    }
    
    .application-content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        font-size: 15px;
    }
    
    .application-header {
        width: 90%;
        display: flex;
        color: #000;
        align-items: flex-start;
    }
    
    .application-modal-container {
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 650px;
        gap: .7rem;
        height: 840px;
        border-radius: 30px;
        z-index: 1000;
        top: 10%;
        left: 60px;
    }
    
    .application-row {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    
    .application-first-row {
        display: flex;
        flex-direction: row;
    }
    
    .application-first-row .application-input {
        width: 100%;
    }
    
    .application-second-row, .application-third-row, .application-fourth-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1rem;
        justify-content: space-between;
    }
    
    .application-second-row {
        align-items: center;
        justify-content: center;
    }
    
    .application-third-row .application-select, .application-fourth-row .application-select {
        width: 183px;
    }
    
    .application-input {
        width: 100%;
        height: 3rem;
        border-radius: 10px;
        border: 1px solid #8C9094;
        padding: 5%;
        color: #8C9094;
        font-size: 15px;
    }
    
    .application-select {
        width: 100%;
        height: 3rem;
        border-radius: 10px;
        border: 1px solid #8C9094;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #8C9094;
        font-size: 15px;
    }
    
    .address-input {
        display: flex;
        flex-direction: column;
        width: 65%;
        font-size: 15px;
        gap: .5rem;
    }
    
    #application-submitbtn {
        width: 20%;
        background-color: #d90000;
        color: #fff;
        border-radius: 10px;
        height: 40px;
        font-size: 13px;
        font-weight: 500;
        width: 80px;
    }
    
    .application-submitbtn {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    .files-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .files-container h5 {
        font-size: 15px;
    }
    
    .files-container .files-description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        margin-left: 2%;
    }
    
    .files-container em {
        font-size: 12px;
        color: #8C9094;
    }
    
    .files-container .files-span {
        font-size: 10px;
        color: #d90000;
    }
    
    .files-container .description-span {
        font-size: 10px;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 25%); /* 2 columns for better responsive design */
        gap: 1px;
    }
    
    .grid-item {
        border-radius: 20px;
        padding: 15px;
        text-align: center;
        position: relative;
        height: auto; /* Allow height to adjust based on content */
    }
    
    .grid-item input[type="file"] {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 1;
    }
    .addButton {
        position: relative;
        border-radius: 10px;
        border: 1px solid #8C9094;
        height: 120px;
        padding: 5px;
        
    }
    .addButton p{
        text-wrap: wrap;
    }
    .addButton img{
        width: 100%;
        height: 100%;
    }
    .plus-icon {
        top: 35%;
        left: 42%;
        font-size: 24px;
        position: absolute;
        color: #000;
    }
    
    .grid-item p {
        margin: 1px 0 0;
        position: static; /* Change to static to avoid overlay */
        transform: none; /* Reset transform */
        top: auto;
        left: auto;
    }
    
    .file-description {
        margin-top: 10px; /* Add spacing from the input */
        text-align: center;
        font-size: 12px; 
    }
}

@media only screen and (max-width: 720px) {
    .application-modal-container {
        width: 100%;
        height: auto;
        padding: 1rem;
        box-sizing: border-box;
        left: 50px;
    }

    .application-second-row{
        display: flex;
        flex-direction: column;
    }

    .application-third-row{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .application-fourth-row{
        display: flex;
        flex-direction: column;
    }

    .application-content {
        width: 100%;
    }

    .application-content .application-select{
        width: 100%;
    }

    .address-input {
        width: 100%;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
    }

    .grid-item {
        height: auto;
    }

    .grid-item .addButton {
        padding: 20px;
        height: 100px;
    }
}
/* @media  screen and (min-width:1200px) and  (max-width:1400px){
    .application-modal-container {
        left: 300px;
        height: 550px;
        top: 30px;
    }
    .application-modal-content{
        width: 100%;
        height:500px;
    }
} */
