.listing-ContentContainer {
  /* width: 70%; */
  width: 1350px;
  margin: 0 auto;
}

.listing-banner {
  background-color: #d90000;
  border-radius: 30px;
  padding: 20px;
  /* Adjust padding to match design */
  text-align: center;
  /* width: 1500px; */

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 40px auto;
  /* Adds 20px space on top, bottom, left, and right */
}


.listing-banner h1 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.listing-banner p {
  color: white;
  font-size: 16px;
}

@media screen and (min-width:320px) and (max-width:480px) {
  .listing-banner h1 {
    font-size: 22px;
  }

  .listing-banner p {
    font-size: 15px;
  }

  .listing-banner {
    width: auto;
    padding: 20px 10px;
    align-items: center;
    margin: 25px 10px 10px;
  }

}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .listing-ContentContainer {
    width: 95%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1370px) {
  .listing-ContentContainer {
    width: 90%;
  }
}

@media screen and (min-width:481px) and (max-width:1400px) {
  .listing-banner {
    width: auto;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
}

@media only screen and (min-width: 315px) and (max-width: 899px) {
  .listing-ContentContainer {
    width: 95%;
  }
  .listing-steps-container{
    width: auto;
    margin: 10px;
    gap: 10px;
  }
}