.listing-banner {
  background-color: #d90000;
  border-radius: 30px;
  padding: 20px; /* Adjust padding to match design */
  text-align: center;
  width: calc(100% - 40px); /* Adjust width to accommodate margin */
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 40px auto; /* Adds 20px space on top, bottom, left, and right */
}


.listing-banner h1 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.listing-banner p {
  color: white;
  font-size: 16px;
}
