.buy-a-home-container {
  background-color: #ffffff;
  width: 100%;
}
.buy-a-home-content {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
}

.buy-a-home-content .radio-group {
  display: flex;
}
.buy-a-home-content .radio-options {
  display: flex;
  gap: 100px;
}
.buy-a-home-content .radiobtn-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 100px 0px 0px 0px;
}
.buy-a-home-content .option-label {
  display: flex;
  gap: 75px;
  font-size: 20px;
}
.property-information-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.property-information-container .prop-content {
  width: 80%;
}
.property-information-container h3 {
  color: var(--red);
  font-size: 24px;
}
.property-information-container .prop-quest {
  font-size: 18px;
  font-weight: bold;
}
.prop-quest-subheader {
  font-size: 18px;
  font-weight: bold;
}
.property-information-container .prop-info-btn-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  margin: 30px 0px 0px 0px;
}
.property-information-container .prop-btn {
  margin: 10px;
  max-width: 250px;
  width: 100%;
  height: 55px !important;
  border-style: none;
  background-color: transparent;
  border: 1px solid var(--mute-gray);
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  /* margin: 10px;
  width: 100%;
  height: 55px !important;
  border-style: none;
  background-color: transparent;
  border: 1px solid var(--mute-gray);
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  max-width: 250px; */
}
.property-information-container .prop-btn:hover,
.property-information-container .prop-btn.active {
  background-color: var(--red);
  color: white;
}
.property-information-container .prop-info-btn-group1 {
  width: 60%;
  margin: 20px 0px 0px 0px;
}
.property-information-container .prop-info-btn-group2 {
  width: 60%;
  margin: 20px 0px 0px 0px;
}
.property-information-container .prop-info-btn-group3 {
  width: 60%;
  margin: 20px 0px 0px 0px;
}
.property-information-container .prop-info-btn-group-timeline {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  gap: 50px;
  margin: 30px 0px 0px 0px;
}
.property-information-container .prop-info-btn-group-details {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  gap: 50px;
  margin: 30px 0px 0px 0px;
}
.property-information-container .prop-info-btn-group-details-input input {
  border: 1px solid var(--mute-gray);
  border-radius: 10px;
  width: 30%;
  height: 55px;
  margin: 20px 0px 0px 0px;
  font-size: 18px;
}

.property-information-container .prop-content6 {
  width: 80%;
}

.property-information-container .prop-info-wrap-up-input2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.buy-a-home-container
  :where(.css-dev-only-do-not-override-3rel02).ant-steps
  .ant-steps-item-process
  .ant-steps-item-icon {
  background-color: var(--red);
  border-color: var(--red);
}
.buy-a-home-container
  :where(.css-dev-only-do-not-override-3rel02).ant-progress
  .ant-progress-inner:not(.ant-progress-circle-gradient)
  .ant-progress-circle-path {
  stroke: var(--red);
}
.buy-a-home-container .ant-steps-icon {
  font-size: 0;
}
.buy-a-home-container .ant-steps-item-tail {
  color: var(--red);
}
.buy-a-home-container .ant-steps-item-icon {
  border-width: 1px !important;
  background-color: #d9d9d9 !important;
  height: 30px;
  width: 30px;
}

.buy-a-home-container .buy-a-home-container .ant-steps-item-icon::active {
  background-color: var(--red);
}
.buy-a-home-container
  :where(
    .css-dev-only-do-not-override-3rel02
  ).ant-steps.ant-steps-with-progress.ant-steps-label-vertical
  .ant-steps-item
  .ant-steps-item-tail {
  background-color: var(--red);
}
.buy-a-home-container
  :where(.css-dev-only-do-not-override-3rel02).ant-steps
  .ant-steps-item-tail::after {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: var(--red);
  transition: background 0.3s;
  content: "";
}
.buy-a-home-container
  :where(
    .css-dev-only-do-not-override-m4timi
  ).ant-progress.ant-progress-status-success
  .ant-progress-inner {
  stroke: var(--red);
  stroke-width: 3px;
}

.buy-a-home-container .ant-steps-item-process .ant-steps-item-icon {
  background-color: #d9d9d9 !important;
}

.custom-steps .ant-steps-item-tail::after {
  background-color: red !important;
}

.custom-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: red !important;
  border-color: red !important;
}

.custom-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #d9d9d9 !important;
  border-color: red !important;
}

.custom-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: orange !important;
  border-color: orange !important;
}

.prop-btn.active {
  background-color: #4caf50;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  .property-information-container .prop-content {
    width: 80%;
    margin-top: 50px;
  }

  .property-information-container h3 {
    font-size: 22px;
  }
  .property-information-container .prop-quest {
    font-size: 14px;
  }
  .property-information-container .prop-info-btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 0px;
  }
  .property-information-container .prop-btn {
    margin: 10px;
    width: 290px;
    height: 50px;
    font-size: 16px;
  }
  .prop-content2,
  .prop-content5,
  .prop-content51 {
    margin-top: -50px;
  }

  .property-information-container .prop-info-btn-group1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .property-information-container .prop-quest {
    font-size: 16px;
  }
  .property-information-container .prop-btn {
    width: 290px;
    height: 50px;
    font-size: 16px;
  }
  .property-information-container .prop-info-btn-group3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .property-information-container .prop-info-btn-group-timeline {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0px;
    margin: 10px 0px 0px 0px;
  }
  .prop-content1-timeline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }
  .prop-info-btn-group-timeline .prop-btn {
    /* width: 330px; */
    height: 60px;
    font-size: 15px;
  }
  .prop-quest-subheader {
    font-size: 15px;
  }
  .property-information-container .prop-content32 .prop-info-btn-group1,
  .prop-content41 .prop-info-btn-group3 {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    justify-content: center;
  }
  .property-information-container .prop-info-btn-group-details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0px;
    margin: 30px 10px 10px 0px;
  }
  .prop-content51 .prop-quest {
    margin: 0px 0px 20px 0px;
  }
  .prop-content-looking .prop-info-btn-group-details-input input {
    width: 100%;
  }
  .prop-content-wrap-up .prop-content3 {
    margin: 0px;
  }
  .prop-content2-wrap-up .prop-info-wrap-up-input input {
    width: 100%;
  }
  .wrap-up-inf .prop-content-wrap-up-2 {
    display: flex;
    flex-direction: column;
  }
  .property-information-container .prop-info-wrap-up-input2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .property-information-container .prop-info-wrap-up-input2 input {
    width: 100%;
  }
  .prop-content3 .prop-info-wrap-up-input input {
    width: 100%;
  }
  .prop-content4 .prop-info-wrap-up-input input {
    width: 100%;
  }
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .property-information-container .prop-content {
    width: 80%;
    margin-top: 50px;
  }
  .property-information-container h3 {
    font-size: 22px;
  }
  .property-information-container .prop-quest {
    font-size: 14px;
  }
  .property-information-container .prop-info-btn-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0px;
  }
  .property-information-container .prop-btn {
    margin: 10px;
    width: 290px;
    height: 50px;
    font-size: 16px;
  }
  .prop-content2,
  .prop-content5,
  .prop-content51 {
    margin-top: -50px;
  }

  .property-information-container .prop-info-btn-group1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .property-information-container .prop-quest {
    font-size: 16px;
  }
  .property-information-container .prop-btn {
    width: 290px;
    height: 50px;
    font-size: 16px;
  }
  .property-information-container .prop-info-btn-group3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .property-information-container .prop-info-btn-group-timeline {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0px;
    margin: 10px 0px 0px 0px;
  }
  .prop-content1-timeline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }
  .prop-info-btn-group-timeline .prop-btn {
    /* width: 330px; */
    height: 60px;
    font-size: 15px;
  }
  .prop-quest-subheader {
    font-size: 15px;
  }
  .property-information-container .prop-content32 .prop-info-btn-group1,
  .prop-content41 .prop-info-btn-group3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    justify-content: center;
  }
  .property-information-container .prop-info-btn-group-details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0px;
    margin: 30px 10px 10px 0px;
  }
  .prop-content51 .prop-quest {
    margin: 0px 0px 20px 0px;
  }
  .prop-content-looking .prop-info-btn-group-details-input input {
    width: 90%;
  }
  .prop-content-wrap-up .prop-content3 {
    margin: 0px;
  }
  .prop-content2-wrap-up .prop-info-wrap-up-input input {
    width: 90%;
  }
  .wrap-up-inf .prop-content-wrap-up-2 {
    display: flex;
    flex-direction: column;
  }
  .property-information-container .prop-info-wrap-up-input2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .property-information-container .prop-info-wrap-up-input2 input {
    width: 90%;
  }
  .prop-content3 .prop-info-wrap-up-input input {
    width: 90%;
  }
  .prop-content4 .prop-info-wrap-up-input input {
    width: 90%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .property-information-container .prop-info-btn-group1 {
    width: 100%;
    /* margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    gap: 20px;
  }
  .property-information-container .prop-info-btn-group3 {
    width: 100%;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: row;
  }
  .property-information-container .prop-info-btn-group-timeline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 0px;
    margin: 30px 0px 0px 0px;
  }
  .property-information-container .prop-info-wrap-up-input input {
    width: 90%;
  }
  .property-information-container .prop-info-wrap-up-input2 input {
    width: 90%;
  }
}
@media screen and (min-width: 469px) and (max-width: 1024px) {
  .property-information-container .prop-info-btn-group1 {
    width: 100%;
    /* margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    gap: 20px;
  }
  .property-information-container .prop-info-btn-group3 {
    width: 100%;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: row;
  }
  .property-information-container .prop-info-btn-group-timeline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 0px;
    margin: 30px 0px 0px 0px;
  }
  .property-information-container .prop-info-wrap-up-input2 input,
  .property-information-container .prop-info-btn-group-details-input input,
  .property-information-container .prop-info-wrap-up-input input {
    width: 80%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .property-information-container .prop-info-btn-group1 {
    width: 100%;
    /* margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    gap: 20px;
  }
  .property-information-container .prop-info-btn-group3 {
    width: 100%;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: row;
  }
  .property-information-container .prop-info-btn-group-timeline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 0px;
    margin: 30px 0px 0px 0px;
  }
  .property-information-container .prop-info-wrap-up-input2 input,
  .property-information-container .prop-info-btn-group-details-input input,
  .property-information-container .prop-info-wrap-up-input input {
    width: 70%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .property-information-container .prop-info-btn-group1 {
    width: 100%;
    /* margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    gap: 20px;
  }
  .property-information-container .prop-info-btn-group3 {
    width: 100%;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: row;
  }
  .property-information-container .prop-info-btn-group-timeline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 0px;
    margin: 30px 0px 0px 0px;
  }
  .property-information-container .prop-info-wrap-up-input2 input,
  .property-information-container .prop-info-btn-group-details-input input,
  .property-information-container .prop-info-wrap-up-input input {
    width: 50%;
  }
}
