.card {
	border: 1px solid #ddd;
	border-radius: 20px;
	margin: 10px;
	/* width: calc(33% - 30px); */
	box-sizing: border-box;
	width: 30%;
	background: white;
}
.card-container {
	/* width: 92%; */
	display: flex;
	flex-wrap: wrap;
	margin: 30px 100px 10px 100px;
	/* justify-content: center; */
	gap: 40px;
}

.card:hover {
	transform: scale(1.01);
}

.card-img {
	width: 100%;
	border-bottom: 1px solid #dddddd5e;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 350px;
}

.cardImage {
	position: relative;
}

.card-content {
	/* padding: 10px; */
	padding: 10px 20px 25px;
}
.card-content h3 {
	margin: 10px 0;
	font-size: 18px;
	color: #333333;
	font-weight: 400;
	text-wrap:wrap;
}

.card-content h4 {
	margin-top: 25px;
	font-size: 18px;
	color: #8c9094;
	font-weight: 400;
}

.cardImage p {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 5px 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000000;
	border: 1px solid gainsboro;
}

.cardImage p.featured {
	background-color: #ff0000;
	font-weight: 600;
	padding: 1% 2%;
	color: #fff;
}

.card-content p {
	margin: 5px 0;
	color: #555;
}

.likes {
	position: absolute;
	display: flex;
	top: 10px;
	right: 10px;
	border-radius: 10px;
	color: #333333;
	background: #fff;
	padding: 0.7% 2%;
	align-items: center;
	justify-content: center;
	gap: 3px;
}

.likes b {
	font-size: 15px;
}

.bottomicns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 20px;
	font-size: large;
	gap: 10px;
	top: 82%;
}

.icon {
	color: #333333;
	background: #fff;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 39px;
    height: 35px;
	cursor: pointer;
	
}
.icon .anticon{
	font-size: 22px;
}

.bot {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}

.bot .card-icons label {
	color: #333333;
}
.bot .css-i4bv87-MuiSvgIcon-root {
	font-size: 20px;
}

.bot .card-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 17px;
	font-weight: 350;
	gap: 10px;
	color: #333333;
}

.bot .card-icons .card-icons--feature{
	display: flex;
	align-items: center;
	gap: 2px;
}
.bot .card-price-detail p {
	color: #d90000;
	font-size: 17px;
	font-weight: 400;
}
.bot .card-icons #bed-icon {
	color: #333333;
}

@media screen and (min-width: 320px) and (max-width: 359px) {
	.bottomicns {
		right: 10px;
		bottom: 20px;
	}
	.bot {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.card {
		width: 90%;
	}
	.card-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 10px 0px 10px 5px;
	}
	.card-img {
		height: 200px;
	}
	.card-content h3,
	.card-content h4 {
		font-size: 15px;
	}
	.bot .card-price-detail p {
		font-size: 14px;
	}
	.bot p {
		font-size: 14px;
	}
}

@media screen and (min-width: 360px) and (max-width: 480px) {
	.bottomicns {
		right: 10px;
		bottom: 20px;
	}
	.bot {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.card {
		width: 100%;
	}
	.card-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 10px 0px 10px 0px;
	}
	.card-img {
		height: 200px;
	}
	.card-content h3,
	.card-content h4 {
		font-size: 15px;
	}
	.bot .card-price-detail p {
		font-size: 15px;
	}
	.bot p {
		font-size: 15px;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.bottomicns {
		right: 20px;
	}
	.bot {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.card {
		width: calc(51% - 30px);
		/* width: 100%; */
	}
	.card-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 10px 0px 10px 0px;
		padding: 0px 10px 0px 10px;
	}
	.card-img {
		height: 250px;
	}
	.card-content h3,
	.card-content h4 {
		font-size: 16px;
	}
	.bot .card-price-detail p {
		font-size: 16px;
	}
	.bot p {
		font-size: 16px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.bottomicns {
		right: 30px;
		bottom: 20px;
	}
	.card {
		width: calc(50% - 30px);
	}
	.card-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 10px 0px 10px 0px;
	}
	.card-img {
		height: 250px;
	}
	.card-content h3,
	.card-content h4 {
		font-size: 16px;
	}
	.bot .card-price-detail p {
		font-size: 16px;
	}
	.bot p {
		font-size: 16px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
	.bottomicns {
		right: 30px;
		bottom: 20px;
	}
	.cardImage p {
		margin: 5px 0px 0px 2px;
	}
	.bot {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.card {
		width: calc(33% - 30px);
	}
	.card-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 10px 0px 0px 30px;
	}
	.card-img {
		height: 250px;
	}
	.card-content h3,
	.card-content h4 {
		font-size: 16px;
	}
		.bot .card-price-detail p {
		font-size: 17px;
	}
	.bot p {
		font-size: 17px;
	}
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
	.bottomicns {
		right: 30px;
		bottom: 20px;
	}
	.card {
		width: calc(33% - 30px);
	}
	.card-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 10px 0px 0px 20px ;
		/* margin: 10px 0px 10px 0px; */
	}
	.card-img {
		height: 250px;
	}
	.card-content h3,
	.card-content h4 {
		font-size: 16px;
	}
}
