.card {
	border: 1px solid #ddd;
	border-radius: 20px;
	margin: 10px;
	/* width: calc(33% - 30px); */
	box-sizing: border-box;
	width: 30%;
	background: white;
}
.card-container,
.card-skeleton-loading {
	/* width: 92%; */
	display: flex;
	flex-wrap: wrap;
	margin: 30px 100px 10px 100px;
	/* justify-content: center; */
	gap: 40px;
}

.card:hover {
	transform: scale(1.01);
}

.card-img {
	width: 100%;
	border-bottom: 1px solid #dddddd5e;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 400px;
}

.cardImage {
	position: relative;
}

.card-content {
	text-align: left;
	padding: 15px !important;
	font-family: var(--font-family);
	background-color: #ffffff;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 170px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.card-content h3 {
	margin-top: 0px;
	font-size: 18px;
	color: #333333;
	font-weight: 400;
	text-wrap: wrap;
}
.card-listing-title-public {
	height: 100px;
	margin: 10px 5px 0px 5px;
}

.card-content h4 {
	margin-top: 25px;
	font-size: 18px;
	color: #8c9094;
	font-weight: 400;
}

.cardImage p {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 5px 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000000;
	/* border: 1px solid gainsboro; */
}

.cardImage p.featured {
	background-color: #ff0000;
	font-weight: 600;
	padding: 1% 2%;
	color: #fff;
}

.card-content p {
	margin: 5px 0;
	color: #555;
}

.likes {
	position: absolute;
	display: flex;
	top: 10px;
	right: 10px;
	border-radius: 10px;
	color: #333333;
	background: #fff;
	padding: 0.7% 2%;
	align-items: center;
	justify-content: center;
	gap: 3px;
}

.likes b {
	font-size: 15px;
}

.bottomicns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 20px;
	font-size: large;
	gap: 10px;
	top: 82%;
}

.icon {
	color: #333333;
	background: #fff;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 39px;
	height: 35px;
	cursor: pointer;
}
.icon .anticon {
	font-size: 22px;
}

.bot {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px 5px 0px 5px;
	height: 30px;
	/* padding-top: 10px; */
	align-items: center;
}

.bot .card-icons label {
	color: #333333;
}
.bot .css-i4bv87-MuiSvgIcon-root {
	font-size: 20px;
}

.bot .card-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 350;
	gap: 10px;
	color: #333333;
}

.bot .card-icons .card-icons--feature {
	display: flex;
	align-items: center;
	gap: 2px;
}
.bot  p {
	color: #d90000;
	font-size: 16px;
	font-weight: 400;
}
.bot .card-icons #bed-icon {
	color: #333333;
}

@media screen and (min-width: 320px) and (max-width: 359px) {
	.card-container,
	.card-skeleton-loading {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0px;
	}
	.card-container .card {
		width: 300px;
	}
	.card-listing-title-public{
		margin: 0px;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 200px;
	}
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-container .card-content {
		height: 180px;
	}
	.card-container .card-content h4 {
		margin-top: 10px;
	}
	.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
	}
	.bot .card-icons {
		font-size: 12px;
	}
	.bot {
		margin: 0px;
	}
	/* .bottomicns {
		right: 10px;
		bottom: 20px;
	}
	.bot {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.card {
		width: 90%;
	}
	.card-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 10px 0px 10px 5px;
	}
	.card-img {
		height: 200px;
	}
	.card-content h3,
	.card-content h4 {
		font-size: 15px;
	}
	.bot .card-price-detail p {
		font-size: 14px;
	}
	.bot p {
		font-size: 14px;
	} */
}

@media screen and (min-width: 360px) and (max-width: 480px) {
	.card-container,
	.card-skeleton-loading {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 10px 0px;
		justify-content: center;
		align-items: center;
	}
	.card-container .card {
		width: 330px;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 200px;
	}
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-container .card-content {
		/* padding: 10px 10px; */
		height: 180px;
	}
	.card-container .card-content h4 {
		margin-top: 10px;
	}
	.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
	}
	.bot .card-icons {
		font-size: 14px;
	}
	.card-container .card-content .bot{
		padding-bottom: 20px;
	}
	.card-listing-title-public {
		margin: 0px;
	}
}

@media screen and (min-width: 481px) and (max-width: 601px) {
	.card-container,
	.card-skeleton-loading {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		margin: 10px 0px;
		justify-content: center;
		align-items: center;
	}
	.card-container .card {
		width: 350px !important;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 200px;
	}
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-container .card-content {
		padding: 10px 10px;
	}
	.card-container .card-content h4 {
		margin-top: 10px;
	}
	.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
	}
	.card-listing-title-public {
		margin: 0px;
	}
}
@media screen and (min-width: 602px) and (max-width: 654px) {
	.card-container .card {
		width: 280px;
		height: 380px;
		margin: 0px;
		padding: 0px;
	}
	.card-container,
	.card-skeleton-loading {
		width: 100%;
		display: flex;
		/* flex-wrap: wrap; */
		flex-direction: row;
		margin: 10px 0px;
		justify-content: flex-start;
	
		align-items: flex-start;
		gap: 30px;
	}
	.card-container{
		padding-left: 30px;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 200px;
	}
	.card-content{
		gap: 5px;
	}
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-container .card-content h4 {
		margin-top: 10px;
		font-size: 16px;
	}
	.card-container .card-content .bot {
		margin-bottom: 10px;
	}
	.card-listing-title-public {
		margin: 0px;
	}
	.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
		font-size: 12px;
	}
	.card-container .card-content h3 {
		font-size: 16px;
	}
.card-content 	.bot p{
	font-size: 15px;
	margin: 0px;

}
	.card-container .card-content .bot .card-icons {
		gap: 2px;
	}

}
@media screen and (min-width: 655px) and (max-width: 664px) {
	.card-container .card {
		width: 295px;
		height: 400px;
		margin: 0px;
		padding: 0px;
	}
	.card-container,
	.card-skeleton-loading {
		width: 100%;
		display: flex;
		/* flex-wrap: wrap; */
		flex-direction: row;
		margin: 10px 0px;
		justify-content: flex-start;
	
		align-items: flex-start;
		gap: 30px;
	}
	.card-container{
		padding-left: 30px;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 230px;
	}
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-container .card-content h4 {
		margin-top: 10px;
		font-size: 15px;
	}
	.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
		font-size: 12px;
		gap: 0px;
	}
	.card-container .card-content h3 {
		font-size: 15px;
	}
.card-content 	.bot p{
	font-size: 15px;
	margin: 0px;

}
}
@media screen and (min-width: 665px) and (max-width: 689px) {
	.card-container .card {
		width: 300px;
		height: 400px;
		margin: 0px;
		padding: 0px;
	}
	.card-container,
	.card-skeleton-loading {
		width: 100%;
		display: flex;
		/* flex-wrap: wrap; */
		flex-direction: row;
		margin: 10px 0px;
		justify-content: flex-start;
	
		align-items: flex-start;
		gap: 30px;
	}
	.card-container{
		padding-left: 40px;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 230px;
	}
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-container .card-content h4 {
		margin-top: 10px;
		font-size: 15px;
	}
	.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
		font-size: 12px;
		gap: 0px;
	}
	.card-container .card-content h3 {
		font-size: 15px;
	}
.card-content 	.bot p{
	font-size: 15px;
	margin: 0px;

}

}
@media screen and (min-width: 669px) and (max-width: 709px) {
	.card-container .card {
		width: 300px;
		height: 400px;
		margin: 0px;
		padding: 0px;
	}
	.card-container,
	.card-skeleton-loading {
		width: 100%;
		display: flex;
		/* flex-wrap: wrap; */
		flex-direction: row;
		margin: 10px 0px;
		justify-content: flex-start;
	
		align-items: flex-start;
		gap: 30px;
	}
	.card-container{
		padding-left: 40px;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 230px;
	}
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-container .card-content h4 {
		margin-top: 10px;
		font-size: 15px;
	}
	.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
		font-size: 13px;
		gap: 0px;
	}
	.card-container .card-content h3 {
		font-size: 15px;
	}
.card-content 	.bot p{
	font-size: 15px;
	margin: 0px;

}

}
@media screen and (min-width: 710px) and (max-width: 768px) {
	.card-container .card {
		width: 330px;
		height: 400px;
		margin: 0px;
		padding: 0px;
	}
	.card-container,
	.card-skeleton-loading {
		width: 100%;
		display: flex;
		/* flex-wrap: wrap; */
		flex-direction: row;
		margin: 10px 0px;
		justify-content: flex-start;
	
		align-items: flex-start;
		gap: 30px;
	}
	.card-container{
		padding-left: 30px;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 230px;
	}
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-container .card-content h4 {
		margin-top: 10px;
		font-size: 15px;
	}
	.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
		font-size: 13px;
		gap: 0px;
	}
	.card-container .card-content h3 {
		font-size: 15px;
	}
.card-content 	.bot p{
	font-size: 15px;
	margin: 0px;

}

}

/* @media screen and (min-width: 602px) and (max-width: 768px) {
	.card-container, .card-skeleton-loading {
		width: 100%;
		display: flex;
		flex-direction: row;
		margin: 10px 0px;
		justify-content: center;
		align-items: center;
		gap:25px;
	}

	.card-container .card {
		width: 300px  !important;
		height: 400px;
		margin: 0px;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 200px;
	}
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-container .card-content h4 {
		margin-top: 10px;
		font-size: 15px;
	}
	.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
		font-size: 12px;
	}
	.card-container .card-content h3 {
		font-size: 15px;
	}
	.card-container .card-content .bot .card-price-detail p {
		font-size: 15px;
	}
} */

@media screen and (min-width: 769px) and (max-width: 900px) {
	.card-container,
	.card-skeleton-loading {
		width: 100%;
		display: flex;
		/* flex-wrap: wrap; */
		flex-direction: row;
		margin: 10px 0px;
		justify-content: flex-start;
	
		align-items: flex-start;
		gap: 30px;
	}
	.card-container{
		padding-left: 40px;
	}
	.card-container .card {
		width: 320px;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 260px;
	}
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-content .bot {
		display: flex;
		/* flex-direction: column; */
	}
	.card-container .card-content h4 {
		margin-top: 10px;
	}
	.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
	}
		.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
		font-size: 13px;
		gap: 0px;
	}
	.card-container .card-content h3 {
		font-size: 16px;
	}
.card-content 	.bot p{
	font-size: 15px;
	margin: 0px;

}
}
@media screen and (min-width: 901px) and (max-width: 1024px) {
	.card-container,
	.card-skeleton-loading {
		width: 100%;
		display: flex;
		/* flex-wrap: wrap; */
		flex-direction: row;
		margin: 10px 0px;
		justify-content: flex-start;
	
		align-items: flex-start;
		gap: 30px;
	}
	.card-container{
		padding-left: 70px;
	}
	.card-container .card {
		width: 350px;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 260px;
	}
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-content .bot {
		display: flex;
		/* flex-direction: column; */
	}
	.card-container .card-content h4 {
		margin-top: 10px;
	}
	.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
	}
		.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
		font-size: 13px;
		gap: 0px;
	}
	.card-container .card-content h3 {
		font-size: 16px;
	}
.card-content 	.bot p{
	font-size: 15px;
	margin: 0px;

}
}


@media screen and (min-width: 1025px) and (max-width: 1200px) {
	.card-container,
	.card-skeleton-loading {
		width: 100%;
		display: flex;
		/* flex-wrap: wrap; */
		flex-direction: row;
		margin: auto;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
		gap: 20px;
	}
	
	.card-container .card {
		width: 300px;
		height: 380px;
		border-radius: 10px;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 230px;
	}
	.cardImage p,
	.likes {
		margin-top: 5px;
		border-radius: 10px;
	}
	
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-content {
		padding-bottom: 10px;
	}
	.card-content .bot {
		display: flex;
		flex-direction: row;
	}
	.card-container .card-content h4 {
		margin-top: 7px;
		font-size: 15px;
	}
		.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
		font-size: 13px;
		gap: 0px;
	}
	.card-container .card-content h3 {
		font-size: 16px;
	}
.card-content 	.bot p{
	font-size: 15px;
	margin: 0px;

}
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
	.card-container,
	.card-skeleton-loading {
		width: 100%;
		display: flex;
		/* flex-wrap: wrap; */
		flex-direction: row;
		margin: 10px 0px;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
	}
	.card-container .card {
		width: 28%;
		border-radius: 10px 10px 0 0;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 250px;
	}
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-content .bot {
		display: flex;
		flex-direction: row;
	}
	.card-container .card-content h4 {
		margin-top: 10px;
	}
			.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
		font-size: 15px;
		gap: 0px;
	}
	.card-container .card-content h3 {
		font-size: 17px;
	}
.card-content 	.bot p{
	font-size: 15px;
	margin: 0px;

}
}
@media screen and (min-width: 1401px) {
	.card-container,
	.card-skeleton-loading {
		width: 1500px;
		display: flex;
		flex-wrap: wrap;
		/* flex-direction: row; */
		margin: auto ;
		justify-content: flex-start;
		/* align-items: center; */
		padding-top: 20px;
		padding-left: 100px;
		gap: 25px;
		/* margin-left: 50px; */
	}
	.card-container .card {
		width: 400px;
		height: 380px;
		border-radius: 10px;
	}
	.card-container .card img {
		border-radius: 10px 10px 0 0;
		height: 230px;
	}
	.cardImage p,
	.likes {
		margin-top: 5px;
		border-radius: 10px;
	}
	.second-content h1 {
		margin: auto !important;
		padding: 0px 85px;
		width: 1500px;
	}
	.card-container .bottomicns {
		bottom: 30px;
		right: 10px;
	}
	.card-content {
		padding-bottom: 10px;
	}
	.card-content .bot {
		display: flex;
		flex-direction: row;
	}
	.card-container .card-content h4 {
		margin-top: 7px;
		font-size: 17px;
	}
	.card-content h3 {
		font-size: 17px;
		height: 50px;
		margin-top: 0px;
	}
	.card-price-detail p {
		font-size: 17px !important;
	}
	.card-content p {
		margin: 0px;
	}
	.card-container .card-content .bot .card-icons {
		display: flex;
		justify-content: start;
		font-size: 15px !important;
	}
}
