.checkbox{
    width: 100%;
}
.checkbox h3{
    margin-bottom: 10px;
    color: #8C9094;
}
.checkbox .letters{
 
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        gap: 1rem;
        justify-content: flex-start;
     
}
.checkbox .letter-arrangements{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        gap: 10px;
        align-items: center;
        justify-content: center;


}
.checkbox .colors-letters{
    display: flex;
    align-items: center;
    color: #8C9094;
}
/* Responsive styles */
@media screen and (min-width: 315px) and (max-width: 480px) {
    .checkbox .letters {
        flex-direction: column;
        gap: 0.5rem;
    }

    .checkbox .letter-arrangements {
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
    .checkbox .letters {
        flex-direction: row;
        gap: 0.75rem;
    }

    .checkbox .letter-arrangements {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
    .checkbox .letters {
        flex-direction: row;
        gap: 1rem;
    }

    .checkbox .letter-arrangements {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
}