.coming-soon {
 background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../asset/banners/dashboard-banner.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: darken !important;
}

.content {
  text-align: center;
  background: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  margin:10px;

}

.coming-soon .content h1 {
  font-size: 30px;
  color: #333;
}
.coming-soon .content .working-on-it-info{
  margin-top: 20px;
}
.coming-soon .content p {
  font-size: 1.5rem;
  color: #666;
}