*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .contactUsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
  }

  .contactUsContainer .banner{
    background-image: url('../asset/icons/contactBanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    max-height: 70%;
  }

  .bannerTitle{
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 5%;
    font-weight: bold;
  }

  .bannerSubTitle{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
  }

  .contactUsContent{
    position: relative;
    margin-top: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .location{
    width: 30%;
    text-align: left;
    /* margin-top: 2%; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 5%;
  }

  .location-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .location-header{
    font-size: 1.6rem;
  }

  #location {
    font-size: 1.5rem;
    color: #000;
  }

  .pinned-location{
    font-size: 1.1rem;
  }

  .map{
    width: 30%;
    position: relative;
  }

  #map{
    width: 80%;
    height: auto;
  }

  .pinned{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-color: #fff;
    border-radius: 20px;
    height: 25%;
    width: 30%;
    left: 40%;
    top: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .FAQs-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 5%;
    margin-top: 3%;
  }

  .FAQs-field{
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .questions{
    width: 35%;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 7%;
    margin-left: 5%;
  }
  
  #questions{
    font-size: 1.1rem;
  }

  #sub-info{
    font-size: 1.1rem;
  }

  hr{
    border-top: 1px solid #C8CCD0;
    width: 90%;
  }

  .FAQs{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: left;
  }

  #FAQs{
    font-size: 1.4rem;
  }

  .FAQs-email{
    border-radius: 30px;
    color: #8C9094;
    text-align: left;
    padding: 7%;
    height: 9%;
    outline: none;
    border: 1px solid red; 
  }

  
  #submitbtn{
    background-color: #d90000;
    color: #fff;
    padding: 6%;
    height: 1%;
    border-radius: 30px;
    
  }

  .contact-field{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top:15%;
    position: absolute;
    background-color: #fff;
    width: 65%;
    left: 17%;
    height: 22%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputFields{
  padding-top: 3.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    /* gap: 1rem; */

}
#input-header{
  padding: 0;
  text-align: start;
  width: 100%;
}

#input-header h1{
  font-size: 2rem;
  padding: 0;
  margin: 0%;
}

#input-header p{
  font-size: 1rem;
}

.inputFields #inputField{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nameField{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: left;
    width: 100%;
}

.name{
  background-color: #D9D9D9;
  border-radius: 18px;
  color: #8C9094;
  text-align: left;
  padding: 2.5%;
  width: 100%;
  outline: none;
  border: none;
}

.input{
  background-color: #D9D9D9;
  border-radius: 18px;
  color: #8C9094;
  text-align: left;
  padding: 2.5%;
  outline: none;
  border: none;
}

#messageField{
  background-color: #D9D9D9;
  border-radius: 20px;
  outline: none;
  color: #8C9094;
  display: flex;
  text-align: left;
  padding-bottom:10% ;
  padding-top: 2%;
  padding-left: 2%;
  border: none  ;
}

.contactInfos{
  width: 36%;
}

#contactInfos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border:#d90000 1px solid;
  border-radius: 20px;
  text-align: left;
  padding: 3%;
  gap: 1.5rem;
}

.contactInfos h2{
  font-size: 1.2rem;
}

#customercare{
  display: flex;
  font-size: .9rem;
}

.phone-num{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  font-size: .9rem;
}

#foreignContact{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: .9rem;
}

#foreignContact h4{
  color: #000;
  font-size: 1.2rem;
}

#others{
  display: flex;
  margin-top: 7%;
  font-size: 1rem;
}

#messagebtn{
  background-color: #d90000;
  border-radius: 25px;
  padding: 5%;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
}
.contact-field .field-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;  
  height: 100%;
}

@media only screen and (max-width: 1024px ){
  .contactUsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
  }

  .contactUsContainer .banner{
    background-image: url('../asset/icons/contactBanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    max-height: 70%;
  }

  .bannerTitle{
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 7%;
    font-weight: bold;
  }

  .bannerSubTitle{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
  }

  .contactUsContent{
    position: relative;
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    flex-direction: row;
    gap: 2rem;
  }

  .location{
    width: 50%;
    text-align: left;
    /* margin-top: 2%; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 6%;
  }

  .location-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  #location {
    font-size: x-large;
    color: #000;
  }

  .location-header{
    font-size: x-large;
  }

  .pinned-location{
    font-size: large;
  }

  .map{
    width: 55%;
    position: relative;
  }

  #map{
    width: 100%;
    height: auto;
  }

  .pinned{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .2rem;
    background-color: #fff;
    border-radius: 10px;
    height: 80px;
    width: 160px;
    left: 52%;
    top: 37%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .pinned p{
    font-size:small;
  }

  .pinned img{
    width: 10%;
  }

  .FAQs-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    margin-top: 30px;
    justify-content: space-between;
    gap: 2rem;
  }

  .FAQs-field{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: .5rem;
  }

  .questions{
    width: 70%;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 50px;
  }
  
  #questions h2{
    font-size: 20px;
  }

  #sub-info{
    font-size: 15px;
  }

  hr{
    border-top: .5px solid #C8CCD0;
    width: 100%;
  }

  .FAQs{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
  }

  #FAQs{
    font-size: x-large;
  }

  .FAQs-email{
    border-radius: 30px;
    color: #8C9094;
    text-align: left;
    padding: 6%;
    height: 9%;
    outline: none;
    border: .5px solid red; 
    font-size: small;
  }

  
  #submitbtn{
    background-color: #d90000;
    color: #fff;
    padding: 6%;
    height: 1%;
    border-radius: 30px;
    font-size: small;
  }

  .contact-field{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top:210px;
    position: absolute;
    background-color: #fff;
    width: 750px;
    left: 4%;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputFields{
  padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    /* gap: 1rem; */

}
#input-header{
  padding: 0;
  text-align: start;
  width: 100%;
}

#input-header h1{
  font-size: 25px;
  padding: 0;
  margin: 0%;
}

#input-header p{
  font-size: small;
}

.inputFields #inputField{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.nameField{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: left;
    width: 100%;
}

.name{
  background-color: #D9D9D9;
  border-radius: 15px;
  color: #8C9094;
  text-align: left;
  padding: 2.5%;
  width: 100%;
  outline: none;
  border: none;
  font-size: small;
}

.input{
  background-color: #D9D9D9;
  border-radius: 15px;
  color: #8C9094;
  text-align: left;
  padding: 2.5%;
  outline: none;
  border: none;
  font-size: small;
}

#messageField{
  background-color: #D9D9D9;
  border-radius: 20px;
  outline: none;
  color: #8C9094;
  display: flex;
  text-align: left;
  padding-bottom:10% ;
  padding-top: 2%;
  padding-left: 2%;
  border: none  ;
  font-size: small;
}

.contactInfos{
  width: 40%;
}

#contactInfos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border:#d90000 .5px solid;
  border-radius: 10px;
  text-align: left;
  padding: 3%;
  gap: .5rem;
}

.contactInfos h2{
  font-size: large;
}

#customercare{
  display: flex;
  font-size: 15px;
}

.phone-num{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: small;
}

#foreignContact{
  display: flex;
  flex-direction: column;
  gap: .1rem;
  font-size: small;
}

#foreignContact h4{
  color: #000;
  font-size: large;
}

#others{
  display: flex;
  margin-top: 7%;
  font-size: 14px;
}

#messagebtn{
  background-color: #d90000;
  border-radius: 25px;
  height: 2%;
  color: #FFFFFF;
  font-size: small;
  font-weight: bold;
}
.contact-field .field-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;  
  height: 100%;
}
}

@media only screen and (max-width: 768px ){
  .contactUsContent{
    position: relative;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 2rem;
  }

  #map{
    width: 95%;
    height: auto;
  }

  .contact-field{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top:210px;
    position: absolute;
    background-color: #fff;
    width: 750px;
    left: 1%;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pinned{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: .2rem;
  background-color: #fff;
  border-radius: 10px;
  height: 80px;
  width: 160px;
  left: 48%;
  top: 37%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

}

@media only screen and (max-width: 720px ){
  .contactUsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
  }

  .contactUsContainer .banner{
    background-image: url('../asset/icons/contactBanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    max-height: 200px;
  }

  .bannerTitle{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 5%;
    font-weight: bold;
    text-align: center;
  }

  .bannerSubTitle{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    text-align: center;
  }

  .contactUsContent{
    position: relative;
    margin-top: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .location{
    width: 100%;
    text-align: left;
    /* margin-top: 2%; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 5%;
  }

  .location-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .location-header{
    font-size: 1.2rem;
  }

  #location {
    font-size: 1.2rem;
    color: #000;
  }

  .pinned-location{
    font-size: 1rem;
  }

  .map{
    width: 90%;
    position: relative;
  }

  #map{
    width: 100%;
    height: auto;
  }

  .pinned{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .2rem;
    background-color: #fff;
    border-radius: 15px;
    height: 80px;
    width: 130px;
    left: 50%;
    top: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .pinned p{
    font-size: 10px;
  }

  .pinned img {
    width: 15px;
  }

  .FAQs-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 5%;
    margin-top: 3%;
    gap: 2rem;
  }

  .FAQs-field{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .questions{
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-top: 7%;
  }
  
  #questions{
    font-size: 30px;
  }

  #sub-info{
    font-size: 15px;
  }

  hr{
    border-top: 1px solid #C8CCD0;
    width: 90%;
  }

  .FAQs{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
  }

  #FAQs{
    font-size: 1.4rem;
  }

  .FAQs-email{
    border-radius: 30px;
    color: #8C9094;
    text-align: left;
    padding: 10px;
    height: 9%;
    outline: none;
    border: 1px solid red; 
    font-size: small;
  }

  
  #submitbtn{
    background-color: #d90000;
    color: #fff;
    padding: 4%;
    border-radius: 30px;
    font-size: small;
    
  }

  .contact-field{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 7%;
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0%;
    height: 720px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputFields{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    align-items: center;
}
#input-header{
  padding: 0;
  text-align: start;
  width: 100%;
}

#input-header h1{
  font-size: x-large;
  padding: 0;
  margin: 0%;
}

#input-header p{
  font-size: 1rem;
}

.inputFields #inputField{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.nameField{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: left;
    width: 100%;
}

.name{
  background-color: #D9D9D9;
  border-radius: 18px;
  color: #8C9094;
  text-align: left;
  padding: 6px;
  width: 100%;
  outline: none;
  border: none;
  font-size: small;
}

.input{
  background-color: #D9D9D9;
  border-radius: 18px;
  color: #8C9094;
  text-align: left;
  padding: 2.5%;
  outline: none;
  border: none;
  font-size: small;
}

#messageField{
  background-color: #D9D9D9;
  border-radius: 20px;
  outline: none;
  color: #8C9094;
  display: flex;
  text-align: left;
  padding-bottom:10% ;
  padding-top: 2%;
  padding-left: 2%;
  border: none  ;
  font-size: small;
}

.contactInfos{
  width: 90%;
}

#contactInfos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border:#d90000 1px solid;
  border-radius: 20px;
  text-align: left;
  padding: 3%;
  gap: .3rem;
}

.contactInfos h2{
  font-size: 1.2rem;
}

#customercare{
  display: flex;
  font-size: .9rem;
}

.phone-num{
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: .9rem;
}

#foreignContact{
  display: flex;
  flex-direction: column;
  gap: .3rem;
  font-size: .9rem;
}

#foreignContact h4{
  color: #000;
  font-size: 1.2rem;
}

#others{
  display: flex;
  margin-top: 7%;
  font-size: 1rem;
}

#messagebtn{
  background-color: #d90000;
  border-radius: 25px;
  padding: 5%;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
}
.contact-field .field-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;  
  height: 100%;
}
}