.advance-searchdropdown span {
    font-size: 16px;
    color: #444444;
  }
  
  .advance-searchdropdown {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
  }
  
  .advance-searchdropdown .advance-search-group1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  
  .sub-options-search {
    display: flex;
    flex-direction: row;
    width: 100%;
  
  }
  .sub-options-search span{
    color: #666666;
    font-size: 14px;
  }
  
  .advance-searchdropdown p {
    font-size: 16px;
    color: #444444;
  }
  
  .search-custom-slider {
    display: inline-block;
  }
  .garage-group{
    display: flex;
    width: 100%;
    gap: 1rem;
  }
  .sub-options-search-beds{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sub-options-search-bath{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .bed-select option {
    padding: 5px 0px 0px 20px;
  }

/* 
listing search */

.first-content {
  background-color: #BBBCC1;
  color: white;
  height: auto;
  width: 90%;
  margin: 50px 0px 0px 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;

}

.sub-content1 {
  opacity: 100%;
  width: 99%;
  background-color: white;
  height: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;

}

.subcontent-inputs {
  /* justify-content: space-between; */
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 20px;
}

.input-field,
.select-field {
  flex: 1;
  margin: 0 10px;
  color: black;
  border-radius: 15px;
}

.input-field::placeholder {
  color: black;
}

.select-field::placeholder {
  color: black;
}


.select-field .ant-select-arrow {
  color: red !important;
}

.select-field .ant-select-dropdown {
  background-color: red !important;
  color: white !important;
}

.subcontent-buttons {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* margin-top: 0px; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.right-button {
  background-color: #ff2800;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}

.right-button {
  display: flex;
  align-items: center;
  justify-content: center;

}

.right-button-advanced {
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: white;
  border: 2px solid #ff2800;
  color: #ff2800;
  margin: 0px 10px 0px 0px;
  font-weight: bold;
}

.right-button .anticon {
  margin-right: 5px;
}

.right-buttons {
  display: flex;
  justify-content: flex-end;
}

.left-button {
  background-color: #ff2800;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.button-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background-color: white; */
  color: white;
  margin-right: 10px;
  border: 1px solid white;
}

.left-button:hover {
  background-color: #ff2800;
}

.left-button:hover .button-icon {
  background-color: #ff2800;
}