.properties-for-rent-container {
    padding: 20px;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  
  @media (min-width: 768px) {
    .image-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .image-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .property-info {
    padding: 10px;
    text-align: left;
  }
  
  .property-info h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .property-info span {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ff2800;
  }
  
  .property-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
  .property-details-price {
    justify-content: flex-start;
  }
  
  .properties-desc {
    display: flex;
  }
  
  .camera-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    background-color: rgba(248, 243, 243, 0.986);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 40px;
    height: 20px;
    padding: 0px 0px 5px 5px;
  }
  
  .new-label,
  .days-ago-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(248, 243, 243, 0.986);
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 10px;
  }
  
  .new-label {
    color: #128f12;
  }
  
  .days-ago-label {
    color: #ff0000;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 360px) and (max-width: 480px) {
    .image-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .property-info h3 {
      font-size: 14px;
    }
  
    .property-info span,
    .property-details {
      font-size: 12px;
    }
  
    .camera-icon,
    .new-label,
    .days-ago-label {
      font-size: 12px;
      padding: 3px 6px;
    }     

  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .image-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .property-info h3 {
      font-size: 15px;
    }
  
    .property-info span,
    .property-details {
      font-size: 13px;
    }
  
    .camera-icon,
    .new-label,
    .days-ago-label {
      font-size: 14px;
      padding: 4px 8px;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .image-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .property-info h3 {
      font-size: 16px;
    }
  
    .property-info span,
    .property-details {
      font-size: 14px;
    }
  
    .camera-icon,
    .new-label,
    .days-ago-label {
      font-size: 16px;
      padding: 5px 10px;
    }
  }
  @media screen and (min-width: 1025px) and (max-width: 1200px) {

  }
  @media screen and (min-width: 1201px) and (max-width: 1400px) {
  
  }