.subcontent-inputs-1 .select-field .ant-select-arrow,
.subcontent-inputs-2 .select-field .ant-select-arrow {
	color: var(--red) !important;
}

.advance-searchdropdown .advance-search-group1 span {
	font-size: 16px;
	color: #444444;
	/* padding: 10px 10px 10px 0px; */
}

.custom-alert .ant-alert-icon {
	color: red;
	font-size: 24px;
	margin-right: 10px;
}
.advance-searchdropdown {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 10px;
	/* padding: 0px 0px 0px 40px; */
}

.advance-searchdropdown .slider-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px;
}

.advance-searchdropdown .slider-container .range-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	width: 40%;
}

.advance-searchdropdown .slider-container .range-container .range-border {
	border: 1px solid #8c9094;
	padding: 10px;
	width: 100%;
	height: 55px;
	display: flex;
	align-items: center;
	border-radius: 3px;
}
.advance-searchdropdown .slider-container .range-container .range-input {
	border: none;
	width: 100%;
	font-weight: bold;
	color: #f60000;
	/* background: transparent; */
	font-size: inherit;
	padding: 0;
}
.advance-searchdropdown .slider-container .range-container .range-prefix input {
	border: none;
	outline: none;
}
.advance-searchdropdown .slider-container .range-container .range-prefix {
	display: flex;
	align-items: center;
	font-size: inherit;
	color: #f60000;
	font-weight: bold;
	padding: 0;
}
.advance-searchdropdown .custom-range-button {
	border: none;
	padding: 5px;
	height: 55px;
	font-size: 30px;
	border-radius: 3px;
	color: var(--red);
	margin-top: 0;
	font-weight: 500;
	display: block;
}

.advance-searchdropdown .advance-search-group1 {
	display: flex;
	flex-direction: row;
	padding: 2px 20px;
	/* justify-content: center; */
	width: 80%;
	gap: 0.6rem;
	border: 1px solid #8c9094;
	border-radius: 3px;
	/* padding: 2px; */
	height: 55px;
}

.sub-options-search {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.sub-options-search span {
	color: #666666;
	font-size: 14px;
}

.advance-searchdropdown p {
	font-size: 16px;
	color: #444444;
}
.advance-searchdropdown
	:where(.css-dev-only-do-not-override-m4timi).ant-slider-horizontal
	.ant-slider-rail {
	height: 10px;
	background-color: rgb(217, 0, 0, 40%);
	border-radius: 10px;
}
.search-custom-slider {
	display: inline-block;
}
.garage-group {
	display: flex;
	flex-direction: row;
	gap: 100px;
}
/* .garage-group span {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z' fill='%23ff0000'/%3E%3C/svg%3E") no-repeat right center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.sub-options-search-beds {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 100px;
}
.sub-options-search-bath {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 330px;
}
.bed-select option {
	padding: 5px 0px 0px 20px;
}
.garage-group input {
	width: 200px;
	height: 30px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	border-bottom: 1px solid rgba(140, 144, 148, 0.52);
	outline: none;
	font-size: 13px;
	padding-right: 30px;
}
.advance-searchdropdown
	:where(.css-dev-only-do-not-override-m4timi).ant-slider
	.ant-slider-handle::after {
	width: 20px;
	height: 20px;
	background-color: var(--red);
	border: 1px solid var(--red);
}
.advance-searchdropdown .ant-slider-track,
.advance-searchdropdown .ant-slider-rail {
	height: 10px;
	background-color: #f1cac7;
	border-radius: 10px;
}
.advance-searchdropdown .ant-slider .ant-slider-handle::after {
	background-color: #d90000;
	width: 20px;
	height: 20px;
	box-shadow: none;
}
.advance-searchdropdown .ant-slider-track:hover,
.advance-searchdropdown .ant-slider-rail:hover,
.advance-searchdropdown .ant-slider .ant-slider-handle-1:hover {
	background-color: #f1cac7;
}
.advance-searchdropdown .ant-slider:hover .ant-slider-track {
	background-color: #f1cac7;
}
/* 
listing search */

.first-content {
	/* background-color: #fff; */
	color: white;
	height: auto;
	width: var(--default-page-size);
	/* margin: 50px 0px 0px 50px; */
	border-radius: 8px;
	display: flex;
	padding-top: 50px;
	justify-content: center;
	align-items: center;
	/* padding-top: 40px; */
}

.sub-content1 {
	background-color: white;
	height: auto;
	display: flex;
	flex-direction: column;
	width: var(--default-page-size);
	padding: 20px;
}

.subcontent-inputs-1 {
	display: flex;
	width: 99.5%;
}

.subcontent-inputs-2 {
	display: flex;
	width: 100%;
}

.searh-custom-slider {
	width: 85%;
	padding: 5px;
}
.subcontent-inputs-1 .select-field,
.subcontent-inputs-2 .select-field,
.subcontent-inputs-2 .select-field-features {
	margin: 0 10px;
	color: black;
	padding: 12px;
	height: 55px;
	font-size: 15px;
	border-radius: 3px;
	gap: 9rem;
	width: 100%;
	border: 1px solid #8c9094;
	display: flex;
	justify-content: space-between;
	padding: 0px;
	box-sizing: border-box;
	background: url("../asset/icons/dropdown-arrow.png") no-repeat right 10px
		center;
	background-size: 17px;
	align-items: center;
}
.select-field-features span {
	padding: 0px 10px;
}
.select-field.ant-select .ant-select-selection-placeholder {
	color: black !important;
}
.subcontent-inputs-1 .input-field,
.subcontent-inputs-2 .input-field {
	margin: 0 10px;
	color: black;
	padding: 12px;
	height: 55px;
	font-size: 15px;
	border-radius: 3px;
	gap: 9rem;
	width: 100%;
	border: 1px solid #8c9094;
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;
	background-image: none;
	outline: none;
}
.subcontent-inputs-1 .select-field,
.subcontent-inputs-2 .select-field,
.subcontent-inputs-2 .select-field-features {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.subcontent-inputs-1 .select-field option,
.subcontent-inputs-2 .select-field option {
	font-size: 15px;
}

.subcontent-inputs-1 .select-field .ant-select-selector,
.subcontent-inputs-2 .select-field .ant-select-selector {
	border: none;
}

.subcontent-inputs-1 .input-field::placeholder {
	color: black;
	padding: 5px;
}

.subcontent-inputs-1 .select-field::placeholder {
	color: black;
	padding: 5px;
}
.advance-searchdropdown .subcontent-inputs-2 .select-field span {
	padding: 0;
}

.subcontent-inputs-1 .select-field .ant-select-dropdown {
	background-color: red !important;
	color: white !important;
}

.subcontent-buttons {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.subcontent-inputs-1 .right-button,
.subcontent-inputs-1 .right-button.ant-btn:hover {
	background-color: var(--red) !important;
	color: white;
	border-radius: 5px;
	padding: 10px 25px;
	cursor: pointer;
	font-weight: 500;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 55px;
	width: 100px;
	margin-top: 0px;
	border-color: var(--red) !important;
}

.right-button:hover {
	background-color: var(--red) !important;
}

.right-button-advanced {
	border-radius: 20px;
	padding: 10px 15px;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid var(--red);
	color: var(--red);
	margin: 0px 10px 0px 0px;
	font-weight: 500;
	color: black;
}

.right-button-advanced:hover {
	background-color: var(--transparent) !important;
}

.right-button .anticon {
	margin-right: 5px;
}

.right-buttons {
	display: flex;
	justify-content: flex-end;
}

.left-button {
	background-color: var(--red);
	color: white;
	border-radius: 20px;
	padding: 10px 15px;
	cursor: pointer;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	font-weight: bold;
}

.button-icon {
	margin-right: 5px; /* Adds space between icon and text */
	border: 2px solid white;
	border-radius: 100%;
}
.subcontent-buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}

/* //certainfeatures css */
.search-certain-features {
	display: flex;
	margin: 10px 0px 20px 80px;
	/* margin: 10px 0px 20px 150px; */
	align-items: center;
	background-color: var(--red);
	color: white;
	border-radius: 20px;
	padding: 10px 15px;
	cursor: pointer;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	font-weight: bold;
}

.left-button:hover {
	background-color: var(--red) !important;
}

.button-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: white;
	margin-right: 10px;
	border: 1px solid white;
}

.left-button:hover .button-icon {
	background-color: var(--red) !important;
}

.left-button:hover {
	background-color: var(--red);
}

.left-button:hover .button-icon {
	background-color: var(--red);
}

/* //certainfeatures css */
.certain-feature-menu-container {
	padding: 16px;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	height: 500px;
	overflow-y: auto;
}
/* .certain-feature-menu-container:hover {
	color: #fff;
} */

.show-all-container span {
	font-size: 16px;
}

.features-section {
	margin-bottom: 16px;
}

.features-section span {
	font-size: 15px;
}

.features-header {
	display: block;
	font-weight: bold;
	color: #f60000;
	margin-bottom: 8px;
	margin-left: 20px;
}

.features-list {
	display: flex;
}

.features-column {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.feature-item-content {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.feature-item-content input[type="checkbox"],
.show-all-container input[type="checkbox"] {
	margin-right: 8px;
	width: 18px;
	height: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	border: 1px solid #000;
	position: relative;
	border-radius: 3px;
}

.feature-item-content input[type="checkbox"]:checked,
.show-all-container input[type="checkbox"]:checked {
	background-color: #000;
	border-color: #000;
}

.feature-item-content input[type="checkbox"]:checked::after,
.show-all-container input[type="checkbox"]:checked::after {
	content: "✔";
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 12px;
}

.show-all-container {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	margin-left: 20px;
}
.unavailableListings {
	font-size: 18px;
	position: absolute;
	margin-left: 650px;
	padding-bottom: 20px;
}
/*successmoda*/
.success-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.success-modal-content-body {
	position: absolute;
	top: 10%;
	background: white;
	border-radius: 10px;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 30px;
}
.success-details {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.modal-success-header {
	font-size: 20px;
	font-weight: 700;
	color: green;
}
.success-modal-content-body .success-details p {
	font-size: 16px;
	text-align: center;
}
.success-details {
	font-size: 16px;
}

.ant-tooltip .ant-tooltip-arrow {
	border-color: #f00;
}

.ant-tooltip .ant-tooltip-inner {
	background-color: #f00;
	color: #fff;
	font-size: 14px;
}

@media (max-width: 575px){
	.first-content {
	 width: 100%;
	}
	.first-content .sub-content1 {
		display: flex;
		flex-direction: column;
		height: 920px;
		width: 300px;
	}
	.first-content .subcontent-inputs-1 {
		width: 95%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		flex-direction: column;
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: 95%;
		margin-top: 0px;
	}
	.ant-tooltip .ant-tooltip-inner {
		font-size: 10px;
		width: 60px;
		padding: 0px 5px;
	}

	.advance-searchdropdown .slider-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 10px;
		padding: 0;
	}
	.advance-searchdropdown .subcontent-inputs-2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 5px;
		align-items: center;
		padding-right: 20px;
	}
	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.subcontent-inputs-1 .right-button {
		margin-top: 1400px;
		margin-left: 200px;
		height: 40px;
		position: absolute;
	}
	.advance-searchdropdown .custom-range-button {
		width: 100%;
		margin-top: 890px;
		padding-left: 60px;
		position: absolute;
	}
	.unavailableListings {
		font-size: 14px;
		position: absolute;
		margin-left: 90px;
		padding-bottom: 20px;
		margin-top: 10px;
	}
	.subcontent-inputs-1 .input-field {
		padding: 0px 0px 0px 10px;
	}
	.subcontent-inputs-1 .select-field,
	.subcontent-inputs-2 .select-field,
	.subcontent-inputs-2 .select-field-features {
		padding: 0px 15px 0px 15px;
	}
	.success-modal-content-body {
		width: 90%;
		font-size: 18px;
	}
}

@media screen and (min-width: 360px) and (max-width: 420px) {
	.first-content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 360px;
		/* margin: 40px 5px 0px 10px; */
	}
	.first-content .sub-content1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* padding: 10px; */
		padding-bottom: 100px;
		/* height: 960px; */
		width: 90%;
	}
	.first-content .subcontent-inputs-1 {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		flex-direction: column;
	}
	.success-modal-content-body {
		width: 90%;
		margin: 0px 10px;
		text-align: center;
	}
	.modal-success-header {
		font-size: 20px;
	}
	.subcontent-inputs-1 .input-field {
		padding: 0px 0px 0px 10px;
	}
	.subcontent-inputs-2 .input-field {
		padding: 0px 0px 0px 13px;
	}

	.subcontent-inputs-1 .select-field,
	.subcontent-inputs-2 .select-field,
	.subcontent-inputs-2 .select-field-features {
		padding: 3px;
	}
	.subcontent-inputs-2 .select-field-features {
		padding: 10px 15px 0px 15px;
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.advance-searchdropdown .slider-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 10px;
		padding: 0;
	}
	.advance-searchdropdown .subcontent-inputs-2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 13px;
		align-items: center;
		padding-right: 20px;
	}
	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.subcontent-inputs-1 .right-button {
		margin-top: 1400px !important;
		display: flex;
		height: 40px !important;
		position: absolute !important;
		margin-left: 190px !important;
	}
	.advance-searchdropdown .custom-range-button {
		margin-top: 890px;
		margin-left: 50px;
		position: absolute;
	}
	.advance-searchdropdown .ant-slider-track,
	.advance-searchdropdown .ant-slider-rail {
		height: 6px;
	}
	.advance-searchdropdown .ant-slider .ant-slider-handle::after {
		height: 15px;
		width: 15px;
	}
	.unavailableListings {
		font-size: 15px;
		position: absolute;
		margin-left: 110px;
		padding-bottom: 20px;
		margin-top: 10px;
	}
	.advance-searchdropdown .slider-container .range-container .range-border {
		padding: 15px;
	}
	.ant-tooltip .ant-tooltip-inner {
		font-size: 12px;
		width: 70px;
		padding: 0px 5px;
	}
}
@media screen and (min-width: 421px) and (max-width: 435px) {
	.first-content {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 40px 5px 0px 10px;
	}
	.first-content .sub-content1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* padding: 10px; */
		padding-bottom: 100px;
		width: 90%;
	}
	.first-content .subcontent-inputs-1 {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		flex-direction: column;
	}
	.success-modal-content-body {
		width: 90%;
		margin: 0px 10px;
		text-align: center;
	}
	.modal-success-header {
		font-size: 20px;
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.advance-searchdropdown .slider-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 10px;
		padding: 0;
	}
	.advance-searchdropdown .subcontent-inputs-2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 5px;
		align-items: center;
		padding-right: 20px;
	}
	.subcontent-inputs-1 .input-field,
	.subcontent-inputs-2 .input-field {
		padding: 10px;
	}
	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.subcontent-inputs-1 .right-button {
		margin-top: 1400px !important;
		display: flex;
		height: 40px !important;
		position: absolute !important;
		margin-left: 240px !important;
	}
	.advance-searchdropdown .custom-range-button {
		margin-top: 890px;
		margin-left: 90px;
		position: absolute;
	}
	.advance-searchdropdown .ant-slider-track,
	.advance-searchdropdown .ant-slider-rail {
		height: 6px;
	}
	.advance-searchdropdown .ant-slider .ant-slider-handle::after {
		height: 15px;
		width: 15px;
	}
	.unavailableListings {
		font-size: 15px;
		position: absolute;
		margin-left: 140px;
		padding-bottom: 20px;
		margin-top: 20px;
	}
}
@media screen and (min-width: 436px) and (max-width: 450px) {
	.first-content {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 40px 5px 0px 10px;
	}
	.first-content .sub-content1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 100px;
		/* padding: 10px; */
		/* height: 960px; */
		width: 90%;
	}
	.first-content .subcontent-inputs-1 {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		flex-direction: column;
	}
	.success-modal-content-body {
		width: 90%;
		margin: 0px 10px;
		text-align: center;
	}
	.modal-success-header {
		font-size: 20px;
	}

	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.advance-searchdropdown .slider-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 10px;
		padding: 0;
	}
	.advance-searchdropdown .subcontent-inputs-2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 10px;
		align-items: center;
		padding-right: 20px;
	}
	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.subcontent-inputs-1 .right-button {
		margin-top: 1500px;
		display: flex;
		height: 40px;
		position: absolute;
		margin-left: 250px;
	}
	.advance-searchdropdown .custom-range-button {
		width: 100%;
	}
	.advance-searchdropdown .ant-slider-track,
	.advance-searchdropdown .ant-slider-rail {
		height: 6px;
	}
	.advance-searchdropdown .ant-slider .ant-slider-handle::after {
		height: 15px;
		width: 15px;
	}
	.unavailableListings {
		font-size: 15px;
		position: absolute;
		margin-left: 140px;
		padding-bottom: 20px;
		margin-top: 20px;
	}
}
@media screen and (min-width: 451px) and (max-width: 480px) {
	.first-content {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 40px 5px 0px 10px;
	}
	.first-content .sub-content1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* padding: 10px;
		height: 960px; */
		padding-bottom: 100px;
		width: 90%;
	}
	.first-content .subcontent-inputs-1 {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		flex-direction: column;
	}
	.success-modal-content-body {
		width: 90%;
		margin: 0px 10px;
		text-align: center;
	}
	.modal-success-header {
		font-size: 20px;
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.advance-searchdropdown .slider-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 10px;
		padding: 0;
	}
	.advance-searchdropdown .subcontent-inputs-2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 5px;
		align-items: center;
		padding-right: 20px;
	}
	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.subcontent-inputs-1 .right-button {
		margin-top: 1400px;
		display: flex;
		height: 40px;
		position: absolute;
		margin-left: 270px;
	}
	.advance-searchdropdown .custom-range-button {
		margin-top: 880px;
		margin-left: 120px;
		position: absolute;
	}
	.advance-searchdropdown .ant-slider-track,
	.advance-searchdropdown .ant-slider-rail {
		height: 6px;
	}
	.advance-searchdropdown .ant-slider .ant-slider-handle::after {
		height: 15px;
		width: 15px;
	}
	.unavailableListings {
		font-size: 15px;
		position: absolute;
		margin-left: 160px;
		padding-bottom: 20px;
		margin-top: 20px;
	}
}

@media screen and (min-width: 481px) and (max-width: 485px) {
	.first-content {
		/* margin: 50px 0px 0px 10px; */
		height: 550px;
	}
	.first-content .sub-content1 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 90%;
		/* margin-left: 5px; */
	}
	.subcontent-inputs-1 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 10px;
	}
	.success-modal-content-body {
		width: 90%;
		margin: 0px 10px;
		text-align: center;
	}
	.modal-success-header {
		font-size: 20px;
	}
	.subcontent-inputs-1 .input-field,
	.subcontent-inputs-1 .select-field {
		margin: 0px;
		padding: 5px;
		width: calc(55% - 26px);
		/* width: 200px; */
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		/* justify-content: center;
		align-items: center; */
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.advance-searchdropdown .slider-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0px;
	}

	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 5px;
		align-items: center;
		padding-right: 20px;
	}
	.subcontent-inputs-2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 10px;
	}
	.subcontent-inputs-1 .right-button {
		margin-top: 410px;
		display: flex;
		height: 40px;
		position: absolute;
		margin-left: 290px;
	}
	.subcontent-inputs-2 .input-field,
	.subcontent-inputs-2 .select-field,
	.subcontent-inputs-2 .select-field-features {
		margin: 0px;
		padding: 5px;
		/* width:calc(50%-30px); */
		width: calc(55% - 26px);
	}
	.subcontent-inputs-2 .select-field[type="button"],
	.subcontent-inputs-2 .select-field-features[type="button"] {
		width: 100%;
	}
	.unavailableListings {
		font-size: 15px;
		position: absolute;
		margin-left: 0px;
		padding-bottom: 20px;
		margin-top: 70px;
	}
}
@media screen and (min-width: 486px) and (max-width: 489px) {
	.first-content {
		/* margin-left: 15px; */
		height: 550px;
	}
	.first-content .sub-content1 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 90%;
		/* margin-left: 5px; */
	}
	.subcontent-inputs-1 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 10px;
	}
	.success-modal-content-body {
		width: 90%;
		margin: 0px 10px;
		text-align: center;
	}
	.modal-success-header {
		font-size: 20px;
	}
	.subcontent-inputs-1 .input-field,
	.subcontent-inputs-1 .select-field {
		margin: 0px;
		padding: 5px;
		width: calc(55% - 26px);
		/* width: 200px; */
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		/* justify-content: center;
		align-items: center; */
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.advance-searchdropdown .slider-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0px;
	}

	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 5px;
		align-items: center;
		padding-right: 20px;
	}
	.subcontent-inputs-2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 10px;
	}
	.subcontent-inputs-1 .right-button {
		margin-top: 450px;
		display: flex;
		height: 40px;
		position: absolute;
		margin-left: 310px;
	}
	.subcontent-inputs-2 .input-field,
	.subcontent-inputs-2,
	.subcontent-inputs-2 .select-field-features {
		margin: 0px;
		padding: 5px;
		/* width:calc(50%-30px); */
		width: calc(55% - 26px);
	}
	.subcontent-inputs-2 .select-field[type="button"] {
		width: 100%;
	}
	.unavailableListings {
		font-size: 15px;
		position: absolute;
		margin-left: 0px;
		padding-bottom: 20px;
		margin-top: 70px;
	}
}
@media screen and (min-width: 490px) and (max-width: 506px) {
	.first-content {
		/* margin-left: 15px; */
		height: 550px;
	}
	.first-content .sub-content1 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin-left: 5px;
		width: 90%;
	}
	.subcontent-inputs-1 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 10px;
	}
	.subcontent-inputs-1 .input-field,
	.subcontent-inputs-1 .select-field {
		margin: 0px;
		padding: 5px;
		width: calc(61% - 53px);
		/* width: 200px; */
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		/* justify-content: center;
		align-items: center; */
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.advance-searchdropdown .slider-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0px;
	}

	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 5px;
		align-items: center;
		padding-right: 20px;
	}
	.subcontent-inputs-2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 10px;
	}
	.subcontent-inputs-1 .right-button {
		margin-top: 410px;
		display: flex;
		height: 40px;
		position: absolute;
		margin-left: 290px;
	}
	.subcontent-inputs-2 .input-field,
	.subcontent-inputs-2 .select-field,
	.subcontent-inputs-2 .select-field-features {
		margin: 0px;
		padding: 5px;
		/* width:calc(50%-30px); */
		width: calc(61% - 53px);
	}
	.subcontent-inputs-2 .select-field[type="button"] {
		width: 100%;
	}
	.unavailableListings {
		font-size: 15px;
		position: absolute;
		margin-left: 0px;
		padding-bottom: 20px;
		margin-top: 70px;
	}
}
@media screen and (min-width: 507px) and (max-width: 538px) {
	.first-content {
		height: 550px;
	}
	.first-content .sub-content1 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 90%;

		/* margin-left: 5px; */
	}
	.subcontent-inputs-1 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 10px;
	}
	.subcontent-inputs-1 .input-field,
	.subcontent-inputs-1 .select-field {
		margin: 0px;
		padding: 10px;
		width: calc(53% - 19px);
		/* width: 200px; */
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		/* justify-content: center;
		align-items: center; */
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.advance-searchdropdown .slider-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0px;
	}

	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 10px;
		align-items: center;
		padding-right: 20px;
	}
	.subcontent-inputs-2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 10px;
	}
	.subcontent-inputs-1 .right-button {
		margin-top: 480px;
		display: flex;
		height: 40px;
		position: absolute;
		margin-left: 350px;
	}
	.subcontent-inputs-2 .input-field,
	.subcontent-inputs-2 .select-field {
		margin: 0px;
		padding: 10px;
		/* width:calc(50%-30px); */
		width: calc(53% - 19px);
	}
	.subcontent-inputs-2 .select-field-features {
		margin: 0px;
		padding: 5px;
	}
	.subcontent-inputs-2 .select-field[type="button"] {
		width: 100%;
	}
	.unavailableListings {
		font-size: 15px;
		position: absolute;
		margin-left: 0px;
		padding-bottom: 20px;
		margin-top: 70px;
	}
}
@media screen and (min-width: 539px) and (max-width: 574px) {
	.first-content {
		/* margin-left: 15px; */
		height: 560px;
		padding-top: 50px;
		margin-bottom: 30px;
	}
	.first-content .sub-content1 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 90%;

		padding: 20px 20px 80px 20px;

		/* margin-left: 5px; */
	}
	.subcontent-inputs-1 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 10px;
	}
	.subcontent-inputs-1 .input-field,
	.subcontent-inputs-1 .select-field {
		margin: 0px;
		padding: 10px;
		width: calc(52% - 15px);

		/* width: 200px; */
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		/* justify-content: center;
		align-items: center; */
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.advance-searchdropdown .slider-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0px;
	}

	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 10px;
		align-items: center;
		padding-right: 20px;
	}
	.subcontent-inputs-2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 10px;
	}
	.subcontent-inputs-1 .right-button {
		margin-top: 480px;
		display: flex;
		height: 40px;
		position: absolute;
		margin-left: 350px;
	}
	.subcontent-inputs-2 .input-field,
	.subcontent-inputs-2 .select-field {
		margin: 0px;
		padding: 10px;
		/* width:calc(50%-30px); */
		width: calc(52% - 15px);
	}
	.subcontent-inputs-2 .select-field-features {
		margin: 0px;
		/* padding: 5px; */
	}
	.subcontent-inputs-2 .select-field[type="button"] {
		width: 100%;
	}
	.unavailableListings {
		font-size: 15px;
		position: absolute;
		margin-left: 0px;
		padding-bottom: 20px;
		margin-top: 70px;
	}
}
@media screen and (min-width: 575px) and (max-width: 609px) {
	.first-content {
		margin-left: 15px;
		height: 550px;
	}
	.first-content .sub-content1 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin-left: 5px;
	}
	.subcontent-inputs-1 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 10px;
	}
	.subcontent-inputs-1 .input-field,
	.subcontent-inputs-1 .select-field {
		margin: 0px;
		padding: 10px;
		width: calc(53% - 21px);
		/* width: 200px; */
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		/* justify-content: center;
		align-items: center; */
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.advance-searchdropdown .slider-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0px;
	}

	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 10px;
		align-items: center;
		padding-right: 20px;
	}
	.subcontent-inputs-2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 10px;
	}
	.subcontent-inputs-1 .right-button {
		margin-top: 480px;
		display: flex;
		height: 40px;
		position: absolute;
		margin-left: 400px;
	}
	.subcontent-inputs-2 .input-field,
	.subcontent-inputs-2 .select-field {
		margin: 0px;
		padding: 10px;
		/* width:calc(50%-30px); */
		width: calc(53% - 21px);
	}
	.subcontent-inputs-2 .select-field-features {
		margin: 0px;
		/* padding: 10px; */
	}
	.subcontent-inputs-2 .select-field[type="button"] {
		width: 100%;
	}
	.unavailableListings {
		font-size: 15px;
		position: absolute;
		margin-left: 0px;
		padding-bottom: 20px;
		margin-top: 70px;
	}
}
@media screen and (min-width: 610px) and (max-width: 619px) {
	.first-content {
		margin-left: 15px;
		height: 500px;
	}
	.first-content .sub-content1 {
		display: flex;
		/* flex-wrap: wrap; */
		flex-direction: row;
		margin-left: 5px;
		padding: 25px;
	}
	.subcontent-inputs-1 {
		display: flex;
		flex-direction: row;
		/* flex-wrap: wrap; */
		width: 100%;
		gap: 10px;
	}
	.subcontent-inputs-1 .input-field,
	.subcontent-inputs-1 .select-field {
		margin: 0px;
		padding: 10px;
		width: calc(53% - 21px);
		/* width: 200px; */
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		/* justify-content: center;
		align-items: center; */
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.advance-searchdropdown .slider-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0px;
	}

	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 10px;
		align-items: center;
		padding-right: 20px;
	}
	.subcontent-inputs-2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		/* width: 100%; */
		gap: 10px;
	}
	.subcontent-inputs-1 .right-button {
		margin-top: 420px;
		display: flex;
		height: 40px;
		position: absolute;
		margin-left: 420px;
	}
	.subcontent-inputs-2 .input-field,
	.subcontent-inputs-2 .select-field {
		margin: 0px;
		padding: 10px;
		/* width:calc(50%-30px); */
		width: calc(53% - 21px);
	}
	.subcontent-inputs-2 .select-field-features {
		/* margin: 0px 8px; */
		padding: 10px;
		margin: 0px;
		width: 100%;
	}
	.subcontent-inputs-2 .select-field[type="button"] {
		width: 100%;
	}
	.unavailableListings {
		font-size: 15px;
		position: absolute;
		margin-left: 0px;
		padding-bottom: 20px;
		margin-top: 70px;
	}
}
@media screen and (min-width: 620px) and (max-width: 725px) {
	.first-content {
		margin-left: 15px;
		height: 400px;
	}
	.first-content .sub-content1 {
		display: flex;
		/* flex-wrap: wrap; */
		flex-direction: row;
		margin-left: 5px;
		padding: 25px;
	}
	.subcontent-inputs-1 {
		display: flex;
		flex-direction: row;
		/* flex-wrap: wrap; */
		width: 100%;
		gap: 10px;
	}
	.subcontent-inputs-1 .input-field,
	.subcontent-inputs-1 .select-field {
		margin: 0px;
		padding: 10px;
		/* width: calc(51% - 10px); */
		/* width: 200px; */
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		/* justify-content: center;
		align-items: center; */
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.advance-searchdropdown .slider-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0px;
	}

	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 10px;
		align-items: center;
		padding-right: 20px;
	}
	.subcontent-inputs-2 {
		display: flex;
		flex-direction: row;
		/* flex-wrap: wrap; */
		width: 100%;
		gap: 10px;
	}
	.subcontent-inputs-1 .right-button {
		margin-top: 290px;
		display: flex;
		height: 40px;
		position: absolute;
		margin-left: 450px;
	}
	.subcontent-inputs-2 .input-field,
	.subcontent-inputs-2 .select-field {
		margin: 0px;
		padding: 10px;
		/* width:calc(50%-30px); */
		/* width: calc(53% - 21px); */
	}
	.subcontent-inputs-2 .select-field-features {
		/* margin: 0px 8px; */
		padding: 10px;
		margin: 0px;
		width: 100%;
	}
	.subcontent-inputs-2 .select-field[type="button"] {
		width: 100%;
	}
	.unavailableListings {
		font-size: 15px;
		position: absolute;
		margin-left: 0px;
		padding-bottom: 20px;
		margin-top: 70px;
	}
}
@media screen and (min-width: 726px) and (max-width: 801px) {
	.subcontent-inputs-1 .select-field,
	.subcontent-inputs-2 .select-field,
	.subcontent-inputs-2 .select-field-features {
		background-image: none;
	}
}

@media screen and (min-width: 610px) and (max-width: 1024px) {
	.first-content .sub-content1 {
		display: flex;
		flex-wrap: wrap;
		/* margin-left: 5px; */
		width: 90%;
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		/* justify-content: center;
		align-items: center; */
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 5px;
		align-items: center;
		padding-right: 20px;
	}
	.subcontent-inputs-2 .select-field,
	.subcontent-inputs-2 .select-field-features {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.unavailableListings {
		font-size: 15px;
		position: absolute;
		margin-left: 200px;
		padding-bottom: 20px;
		margin-top: 20px;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
	.first-content {
		margin: 50px 0px 0px 30px;
	}
	.first-content .sub-content1 {
		display: flex;
		flex-wrap: wrap;
		/* width: 90%; */
	}
	.advance-searchdropdown {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		/* justify-content: center;
		align-items: center; */
		gap: 10px;
		width: 100%;
		margin-top: 0px;
	}
	.first-content {
		width: 100%;
		padding: 20px 10px;
		margin: 0px;
	}
	.sub-content1 {
		width: 95%;
		margin: 0px;
	}
	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 0px;
		gap: 10px;
	}
	.advance-searchdropdown .advance-search-group1 {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 5px;
		align-items: center;
		padding-right: 20px;
	}
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
	.advance-searchdropdown .advance-search-group1 .searh-custom-slider {
		width: 75%;
	}
	.advance-searchdropdown .slider-container .range-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 50%;
		margin-top: 0px;
		gap: 10px;
	}
	.first-content {
		width: 100%;
		padding: 40px 0px 40px 0px;
		margin: 0px;
	}
	.sub-content1 {
		width: 89%;
		margin: 0px;
	}
}
@media screen and (min-width: 1401px) and (max-width: 1500px) {
	.first-content {
		width: 100%;
		padding: 40px 10px 40px 0px;
		margin: 0px;
	}
	.sub-content1 {
		width: 92%;
		margin: 0px;
	}
}
@media screen and (min-width: 1501px) and (max-width: 1700px) {
	.first-content {
		width: 100%;
		padding: 40px 10px 40px 0px;
		margin: 0px;
	}
	.sub-content1 {
		width: 85%;
		margin: 0px;
	}
}

@media screen and (min-width: 315px) and (max-width: 500px) {
	.features-list {
		flex-direction: column;
	}
}
@media screen and (min-width: 769px) and (max-width: 794px) {
	.subcontent-inputs-1 .right-button {
		position: absolute;
		margin-left: 600px !important;
		margin-top: 240px !important;
		height: 40px;
	}
	.sub-content1 {
		height: 310px;
		padding-left: 10px;
		margin: 0px;
	}
}
@media screen and (min-width: 710px) and (max-width: 718px) {
	.subcontent-inputs-1 .right-button {
		position: absolute;
		margin-left: 520px !important;
		margin-top: 280px !important;
		height: 40px;
	}
	.sub-content1 {
		height: 310px;
		padding-left: 10px;
		margin: 0px;
	}
	.first-content {
		width: 100%;
		margin: 50px 20px;
	}
}

@media screen and (min-width: 710px) and (max-width: 742px) {
	.subcontent-inputs-1 .right-button {
		position: absolute;
		margin-left: 560px;
		margin-top: 230px;
		height: 40px;
	}
	.sub-content1 {
		height: 310px;
		padding-left: 10px;
	}
}
@media screen and (min-width: 742px) and (max-width: 768px) {
	.subcontent-inputs-1 .right-button {
		position: absolute;
		margin-left: 580px !important;
		margin-top: 240px !important;
		height: 40px;
	}
	.sub-content1 {
		height: 310px;
		padding-left: 10px;
		margin: 0px;
	}
	.first-content {
		margin: 50px 0px;
	}
}
@media screen and (min-width: 795px) and (max-width: 855px) {
	.subcontent-inputs-1 .right-button {
		position: absolute;
		margin-left: 640px !important;
		margin-top: 240px !important;
		height: 40px;
	}
	.sub-content1 {
		height: 310px;
		padding-left: 10px;
		margin: 0px;
	}
	.first-content {
		width: 100%;
		/* margin: 50px 20px; */
	}
}
