  .dashboard {
    /* flex-direction: column; */
    width: 100%;
    background-color: #ffffff;
}


#dashboard .banner {
    /* background: linear-gradient(rgba(0, 0, 0, 0.7)), url('../asset/banners/dashboard-banner.png') !important; */
    background: rgba(0, 0, 0, 0.496) url('../asset/banners/dashboard-banner.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-blend-mode: darken !important;
    height: 100vh;
    /* height: 100%; */
}

#dashboard .banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    padding: 0px 30px;
    height: -webkit-fill-available;
}

#dashboard .banner .banner-content .ant-col {
    margin: 10px auto;
}

#dashboard .banner .banner-title {
    font-size: 35px;
    text-align: center;
    color: white;
}

#dashboard .banner .banner-tags .menu-tags {
    background-color: transparent;
    border-bottom: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#dashboard .banner .banner-tags .menu-tags li {
    background: white;
    margin: 6px;
    border-radius: 30px;
    line-height: 30px;
    padding-inline: 13px;
}

#dashboard .banner .banner-tags .menu-tags li::after {
    color: black;
    border-bottom: none;
}

#dashboard .banner .banner-tags .menu-tags li.ant-menu-item-selected {
    color: white;
    background: var(--red);
}

#dashboard .banner .banner-content .banner-search {
    background: #bbbcc184;
    padding: 18px;
    border-radius: 30px;
}

#dashboard .banner .banner-content .banner-search .ant-card {
    border-radius: 15px;
    width: 100% !important;
}

#dashboard .banner .banner-content .banner-search .card-item {
    margin: 5px;
}
#dashboard :where(.css-dev-only-do-not-override-1uq9j6g).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #d90000;
    border-color: #d90000;
    background: #ffffff;
}

#dashboard .banner .banner-content .banner-search .card-item.field {
    width: 140px;
   
}
#dashboard .banner .banner-content .banner-search .card-item.field  .ant-select-selection-placeholder{
    color: var(--mute-gray);
}

#dashboard .banner .banner-content .banner-search .card-item.field .ant-select-selector,
#dashboard .banner .banner-content .banner-search .card-item.field.ant-input {
    border-radius: 5px !important;
    /* border:1px solid var(--mute-gray); */
    color:  var(--mute-gray);
}

#dashboard .banner .banner-content .banner-search .card-item.field .ant-select-selector:focus,
#dashboard .banner .banner-content .banner-search .card-item.field.ant-input:focus,
#dashboard .banner .banner-content .banner-search .card-item.field .ant-select-selector:hover,
#dashboard .banner .banner-content .banner-search .card-item.field.ant-input:hover {
    border-color: var(--red) !important;
}

#dashboard .banner .banner-content .banner-search .round-btn {
    font-size: 12px;
    font-weight: 600;
    margin: 5px;
    
}

#dashboard .banner .banner-content .banner-search .advanced.round-btn {
    background-color: var(--mute-red);
    border: none;
}

#dashboard .banner .banner-content .banner-search .search.round-btn {
    color: white;
    background-color: var(--red);
    margin: auto 5px;
}

#dashboard .banner .banner-content .banner-search .search.round-btn:hover,
#dashboard .banner .banner-content .banner-search .advanced.round-btn:hover {
    border-color: var(--red);
}

#dashboard .banner .banner-content .banner-search .advanced.round-btn:hover {
    color: black;
}

#dashboard .banner .banner-content .banner-search .advanced.round-btn svg {
    color: var(--red);
}

/* Section 2 Discover*/
.dashboard .discover {
    text-align: center;
    background-color: #ffffff;
    margin-top: 150px;
}

.dashboard .discover .discover-content {
    justify-content:left;
    align-items: left;
    /* display: flex; */
    /* flex-direction: column; */
    margin: 5   0px 0px 50px 100px;
    /* width: 100%; */

}
.dashboard .discover .discover-content .discover-section--title {
    width: 100%;
    align-items: left;
    justify-content: left;
}
.dashboard .discover .discover-content .discover-section--title .section-2-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0px 250px 20px 250px ;
}
.dashboard .discover .discover-content .discover-section--title .section-2-title .see-all-new-listing-dashboard{
    text-decoration: underline;
    color: #8C9094;
} 
.listing-carousel-dashboard{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.dashboard .discover .discover-content .discover-section--title h2 {
    font-size: 32px;
    text-align: left;
    margin-left: 250px;
}

.dashboard .discover .discover-content .discover-section--title p {
    font-size: 18px;
    color: var(--mute-gray);
}

.dashboard .discover .discover-content .card-listing-row .ant-card {
    margin: auto 15px;
}

.discover .container-carousel.card-listing--carousel .react-multiple-carousel__arrow {
    background-color: var(--red);
}

.discover .listing-carousel {
    width: 100%;
    margin: auto;
}

.discover .container-carousel {
    margin: auto;
    border: none;
    /* width: 80%; */
}

.discover .carousel-item {
    width: 350px !important;
    margin: auto 20px;
}

/* .discover .carousel-slider-ul{
    justify-content: center;
    margin: auto;
} */

.dashboard .discover .see-more--container {
    margin: 15px auto 20px auto;
}

.dashboard .discover .see-more--container {
    margin: 15px auto 60px auto;
}

.dashboard .discover .see-more--btn {
    padding: 8px 12px;
    border-radius: 13px;
    color: var(--red);
    font-weight: bold;
    border: 1px solid var(--red);
}

.dashboard .discover .see-more--btn:hover {
    background-color: var(--red);
    color: white;
    border: 1px solid var(--red);
}

.dashboard .discover .discover--section-2 {
    margin: 130px auto 50px auto;
    width: 100%;
    height: auto;
    padding: 20px 20px;
    background-color: #F7F7F7;
}

.dashboard .discover .discover--section-2 h3 {
    color: black;
    font-size: 32px;
}

.dashboard .discover .discover--section-2 .card--brokerage-category {
    margin: 50px auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.dashboard .discover .discover--section-2 .card--brokerage-category .ant-card {
    /* margin: auto 10px; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 330px;
    border-radius: 10px;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    /* width: 100%; */
}

.dashboard .discover .discover--section-2 .card--brokerage-category .overlay-content {
    /* background-color: rgba(0, 0, 0, 0.373); */
    height: 34vh;
    color: #333333;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* width: 210px; */
}

.dashboard .discover .card--brokerage-category .overlay-content .overlay-icon {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dashboard .discover .card--brokerage-category .overlay-content .overlay-icon span {
    background-color: white;
    padding: 10px 13px;
    border-radius: 80px;
}

.dashboard .discover .card--brokerage-category .overlay-content .overlay-description,
.dashboard .discover .card--brokerage-category .overlay-content .overlay-title {
    padding: 15px auto !important;
}

.dashboard .discover .card--brokerage-category .overlay-content .overlay-title {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.95px;
}

.dashboard .discover .card--brokerage-category .overlay-content .overlay-description {
    font-weight: 300;
    font-size: 14px;
    margin: 10px auto;
    height: 120px;
}

.dashboard .discover .discover--section-3 {
    /* background-color: #d9d9d9a1; */
    background-color: #D9D9D9;
    margin: 180px auto 0px auto;
    width: 90%;
    border-radius: 10px;
}

.discover--section-3 .card--brokerage-inquire {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin: 0px;
    /* align-items: center; */
    /* justify-content: space-between;
    flex-wrap: wrap; */
}

 .discover--section-3 .card--brokerage-inquire .inquire--content {
    margin: 50px;
    width: 100%;
}

.dashboard .discover .discover--section-3 h3,.dashboard .discover .discover--section-4 h3 {
    font-size: 35px;
    color: black;
}

 .discover--section-3 .card--brokerage-inquire .ant-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire-image {
    width: 50%;
}

.dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire-image .ant-image {
    display: block;
}

.dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire-image .ant-image-img {
    height: 70vh;
}

.dashboard  .discover--section-3 .card--brokerage-inquire .inquire-container {
    width: 100%;
    text-align:left;
}

.dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--description,
.dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--sub-desc {
    font-size: 20px;
    font-weight: bold;
    color: #1111119b;
    text-align: center;
}

.dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--sub-desc {
    margin: 50px 0px 0px 0px;
    text-align: left;
    font-weight: 500;
}

.dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--description {
    margin: 50px 0px 0px 0px;
    text-align: left;
    font-weight: 500;
}

.dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--content .inquire--actions {
    /* text-align: center; */
    margin: 60px 10px 10px 0px;
}

.dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--actions .action-btn {
    border: 1px solid var(--red);
    width: 200px;
    font-weight: bold;
    margin: 10px 15px;
    padding-top: 23px;
    padding-bottom: 23px;
}

.dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--actions .contact-us--action.action-btn,
.dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--actions .contact-us--action.action-btn:hover {
    background-color: transparent;
    color: black;
   
}

.dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--actions .sign-in--action.action-btn {
    background-color: #000000;
    color: #ffffff;
    width: 30%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    font-size: 20px;
    font-weight: 500;
}

/* FEATURED PROPERTIES */
.dashboard .discover .discover--section-4{
    /* background-color: #fff0f058; */
    padding-top: 70px;
    padding-bottom: 80px;
}

.dashboard .discover .card--brokerage-featured {
    margin: auto;
    width: 75%;
}
.dashboard .discover .discover--section-4 h3{
    text-align: left;
}

/* RATING */
.dashboard .ratings{
    margin: 60px auto 15px auto;
    width: 70%;
}
.dashboard .ratings .rating--title h3{
    color: black !important;
    font-size: 30px;
}

.dashboard .rating--content{
    margin: 30px auto;
}


.dashboard-first-content {
    background-color: rgba(187, 188, 193, 0.62);
    color: white;
    width: 75%;
    margin: 30px auto; /* Centers the element horizontally */
    border-radius: 10px;
    position: absolute;
    display: flex;
    top: 50%;
    z-index: 2000;
    flex-direction: column;
    align-items: center; /* Centers the child elements */
  }
  
  .dashboard-sub-content1 {
    width: 95%;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto; /* Centers the element within the parent */
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  
  .dashboard-subcontent-inputs {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
   padding: 5px;
   margin-left: 35px;
  }
  .dashboard-searh-custom-slider {
    width: 100%;
  }
  .dashboard-input-field,
  .dashboard-select-fields {
    flex: 1;
    margin: 0 10px;
    color: black;
    border-radius: 10px;

  }
  .dashboard :where(.css-dev-only-do-not-override-m4timi).ant-input-outlined:hover {
    border-color: #ff0000;
    background-color: #ffffff;
}
  
  .custom-select .ant-select-selector {
    border: 1px solid #d3d3d3;
    border-radius: 20px; /* Adjust based on your preference */
    color: #a01818; /* Set text color to gray */
    padding: 8px 16px; /* Adjust padding based on your preference */
    width: 50%;
  }
  
  .custom-dropdown .ant-select-item {
    color: #808080; /* Set dropdown item text color to gray */
  }
  
  .custom-dropdown .ant-select-item:hover {
    background-color: #A6A6A6; /* Optional: Set hover background color */
    color: black;
  }
  
  .custom-dropdown .ant-select-item-option-selected {
    background-color: #fff; /* Optional: Set selected item background color */
   
  }
  
  
  :where(.css-dev-only-do-not-override-m4timi).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #d9d9d9;
    background: #ffffff;
    border-radius: 10px;
}
:where(.css-dev-only-do-not-override-m4timi).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #d90000;
    border-color: #d90000;
    background: #ffffff;
}
:where(.css-dev-only-do-not-override-m4timi).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: #ff0000;
}
  .dashboard-input-fields::placeholder {
    color: black;
  }
  
  .dashboard-select-fields::placeholder {
    color: black;
  }
  .dashboard-right-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin:20px 0px 0px 30px;
    border-radius: 5px;
}

@media screen and (min-width: 315px) and (max-width: 480px) {
    #dashboard .banner{
        height: auto;
    }
    #dashboard .banner .banner-content .banner-search .card-item.field,
    #dashboard .banner .banner-content .banner-search .round-btn,
    #dashboard .banner .banner-content .banner-search .search-buttons {
        width: 100%;
    }

    #dashboard .banner .banner-content {
        padding: 20px 10px;
    }

    #dashboard .banner .banner-content .banner-title {
        font-size: 26px;
    }

    .dashboard .discover .discover-content{
        margin: 70px 5px 50px 5px;
    }
    .discover .listing-carousel {
        width: 100%;
    }

    .discover .carousel-item {
        width: 288px !important;
        margin: auto 5px;
    }

    .dashboard .discover .discover--section-2 .card--brokerage-category .ant-col {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .dashboard .discover .discover--section-2 .card--brokerage-category .overlay-content {
        padding: 15px 10px;
        height: auto;
    }

  

    .dashboard .discover .discover--section-3 .card--brokerage-inquire {
        display: block
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire-image,
    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire-container {
        width: 100%;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire-container {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--content {
        margin: 0px !important;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--description,
    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--sub-desc {
        width: 100%;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--actions .sign-in--action.action-btn {
        background-color: #000000;
        color: #ffffff;
        width: 30%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000000;
        font-size: 20px;
        font-weight: 500;
    }
    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire-image .ant-image-img{
        height: 55vh;
    }
    .dashboard .discover .discover--section-2{
        margin: 80px auto 0px auto;
    }
    .dashboard .discover .discover--section-2 .card--brokerage-category{
        margin: 40px auto 0px auto;
    }
    .dashboard .discover .discover--section-3{
        margin: 100px auto auto auto;
    }

    .dashboard .discover .card--brokerage-featured{
        width: 85%;
        text-align: center;
    }

    .dashboard .discover--section-4 .featured--title h3{
        text-align: center;
    }

    .dashboard .ratings{
        width: 90%;
    }
    .dashboard .discover .discover--section-4{
        padding-bottom: 80px;
    }
    .dashboard .discover .discover-content .discover-section--title h2 {
        /* font-size: 20px; */
            font-size: 32px;
            text-align: left;
            margin-left: 250px;
        
    }
    #dashboard .banner .banner-tags .menu-tags {
        background-color: transparent;
        border-bottom: none;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    #dashboard .banner .banner-tags .menu-tags li {
        background: white;
        margin: 6px;
        border-radius: 30px;
        line-height: 30px;
        padding-inline: 13px;
    }
    #dashboard .banner-tags{
        position: absolute;
        top: 45%;
    }
    #dashboard .banner .banner-tags .menu-tags li::after {
        color: black;
        border-bottom: none;
    }
    
    #dashboard .banner .banner-tags .menu-tags li.ant-menu-item-selected {
        color: white;
        background: var(--red);
    }
    .dashboard-first-content {
        
        top: 60%;
        /* z-index: 2000; */
        flex-direction: column;
    }
    .dashboard-subcontent-inputs {
        width: 100%; 
        display: flex;
        flex-direction: column;
        gap: 10px;
      margin-left: 0%;
        
    }
   
      .dashboard-right-button {
        display: flex;
        flex-direction: row;
        font-weight: bold;
      }
    

}

@media screen and (min-width: 481px) and (max-width: 800px) {
    #dashboard .banner .banner-tags .menu-tags{
        margin-top: 30px;
    }
    .dashboard .discover .discover-content{
        margin: 80px 5px 50px 5px;
    }
    .dashboard .discover .discover--section-3 .card--brokerage-inquire {
        display: block
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire-image,
    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire-container {
        width: 100%;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire-container {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--content {
        margin: 0px !important;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--description,
    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--sub-desc {
        width: 100%;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--actions .action-btn {
        width: 100%;
        margin: 10px auto;
    }
    .dashboard .ratings{
        margin: 50px auto 15px auto;
        width: 90%;
    }
    .dashboard .discover .discover--section-4{
        padding-bottom: 80px;
    }
    .dashboard .discover .card--brokerage-featured{
        width: 85%;
    }
}



/* @media (max-width: 320px) {
    #dashboard .banner .banner-title {
        font-size: 28px;
        text-align: center;
        color: white;
    }

    #dashboard .banner .banner-tags .menu-tags li {
        margin: 4px;
        line-height: 26px;
        padding-inline: 10px;
    }

    #dashboard .banner .banner-content .banner-search {
        padding: 12px;
        border-radius: 20px;
    }

    #dashboard .banner .banner-content .banner-search .card-item.field {
        width: 120px;
    }

    #dashboard .banner .banner-content .banner-search .round-btn {
        font-size: 10px;
        margin: 3px;
    }
} */
@media screen and (min-width: 320px) and (max-width:800px)
{
    .dashboard .discover {
        margin-top: 100px;
    }

    .dashboard .discover .discover-content {
        margin: 5px;
        justify-content: center;
        align-items: center;
    }

    .dashboard .discover .discover-content .discover-section--title .section-2-title {
        padding: 0 20px 10px 20px;
    }

    .dashboard .discover .discover-content .discover-section--title h2 {
        font-size: 24px;
        margin-left: 20px;
    }
  .listing-carousel-dashboard{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .dashboard .discover .discover-content .discover-section--title p {
        font-size: 14px;
    }

    .dashboard .discover .discover-content .card-listing-row .ant-card {
        margin: 10px auto;
    }

    .discover .carousel-item {
        width: 280px !important;
        margin: auto 10px;
    }

    .dashboard .discover .see-more--btn {
        padding: 6px 10px;
        border-radius: 10px;
        font-size: 14px;
    }

    .dashboard .discover .discover--section-2 {
        margin: 10px auto 30px auto;
        padding: 15px 10px;
    }

    .dashboard .discover .discover--section-2 h3 {
        font-size: 28px;
    }

    .dashboard .discover .discover--section-3 {
        margin: 150px auto 0 auto;
        width: 100%;
        border-radius: 5px;
    }

    .discover--section-3 .card--brokerage-inquire .inquire--content {
        margin: 30px;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire-image .ant-image-img {
        height: 50vh;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--description,
    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--sub-desc {
        font-size: 16px;
        margin: 30px 0 0 0;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--actions .action-btn {
        width: 150px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 5px;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--actions .sign-in--action.action-btn {
        width: 280px;
        height: 50px;
        font-size: 18px;
    }

    .dashboard .discover .discover--section-4 {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .dashboard .discover .discover--section-4 h3 {
        font-size: 28px;
    }

    .dashboard .discover .card--brokerage-featured {
        width: 90%;
    }
    .listing-carousel-dashboard{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
      
    }

    
}
 @media  (max-width: 1024px) {
    .dashboard .discover {
        margin-top: 100px;
    }

    .dashboard .discover .discover-content {
        margin: 5px;
        justify-content: center;
        align-items: center;
    }

    .dashboard .discover .discover-content .discover-section--title .section-2-title {
        padding: 0 20px 10px 20px;
    }

    .dashboard .discover .discover-content .discover-section--title h2 {
        font-size: 24px;
        margin-left: 20px;
    }
  .discover-content .listing-carousel-dashboard{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  
    }
    .dashboard .discover .discover-content .discover-section--title p {
        font-size: 14px;
    }

    .dashboard .discover .discover-content .card-listing-row .ant-card {
        margin: 10px auto;
    }

    .discover .carousel-item {
        width: 280px !important;
        margin: auto 10px;
    }

    .dashboard .discover .see-more--btn {
        padding: 6px 10px;
        border-radius: 10px;
        font-size: 14px;
    }

    .dashboard .discover .discover--section-2 {
        margin: 10px auto 30px auto;
        padding: 15px 10px;
    }

    .dashboard .discover .discover--section-2 h3 {
        font-size: 28px;
    }

    .dashboard .discover .discover--section-3 {
        margin: 150px auto 0 auto;
        width: 100%;
        border-radius: 5px;
    }

    .discover--section-3 .card--brokerage-inquire .inquire--content {
        margin: 30px;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire-image .ant-image-img {
        height: 50vh;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--description,
    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--sub-desc {
        font-size: 16px;
        margin: 30px 0 0 0;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--actions .action-btn {
        width: 150px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 5px;
    }

    .dashboard .discover .discover--section-3 .card--brokerage-inquire .inquire--actions .sign-in--action.action-btn {
        width: 280px;
        height: 50px;
        font-size: 18px;
    }

    .dashboard .discover .discover--section-4 {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .dashboard .discover .discover--section-4 h3 {
        font-size: 28px;
    }

    .dashboard .discover .card--brokerage-featured {
        width: 90%;
    }


} 