
.sidebar-container {
  background: linear-gradient(180deg in oklab, #ffeded, white);
  height: 100%;
  width: 14vw;
  border-radius: 30px;
  padding: 0.1rem;
  transition: transform 0.3s ease-in-out;
}

.sidebar-container.open {
  transform: translateX(0);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .drafts-container {
    
    border-radius: 10px;
  }
  .sidebar-container {
    position: fixed;
    top: 11%;
    left: 0;
    height: 50%; /* Adjust the height as needed */
    transform: translateX(-100%);
    z-index: 1000;
  }
  .sidebar-container.open {
    transform: translateX(0);
    width:25%;
  }
}

.sidebar-header {
  font-size: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
}

.sidebar-menu-item {
  position: relative;
  overflow: hidden;
}

.sidebar-menu-button {
  color: #000;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
}

.sidebar-menu-item:hover {
  background-color: #d90000;
  position: relative;
  color: #fff;
}

.sidebar-menu-item:hover .sidebar-menu-button {
  color: #fff;
  padding-right: 20px;
}

.sidebar-menu-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #8c9094;
  transition: width 0.3s ease-in-out;
}

.sidebar-menu-item:hover:before {
  width: 20px;
}

.sidebar-menu-item a {
  position: relative;
  z-index: 1;
  color: #000;
  text-decoration: none;
  padding: 1.5rem;
  display: block;
  transition: color 0.3s ease-in-out;
}

.sidebar-menu-item:hover a {
  color: #fff;
}


@media (max-width: 768px) {
  .sidebar-menu-item {
    padding: 1rem;
  }
}

.create-listing-button {
  background-color: #d90000;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  height: 70px;
  width: 100%;
  font-weight: bold;
  font-size: 100%;
  margin-top: 10%;
}

.create-listing-button:hover {
  background-color: #a50000;
}

@media (max-width: 768px) {
  .create-listing-button {
    margin-top: 1.5rem;
    width: 100%;
    height: 90%;
    font-size: 10px; /* Adjust this value as needed */
    text-align: center;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 1rem;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    height: 30%;
    width: 30px; /* Add 'px' to width */
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none; /* Hide the overlay by default */
}

.overlay.open {
  display: block; /* Show the overlay when sidebar is open */
}
