#featured-properties{
    margin: 50px auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 40px;
    width: 80%;
}
#featured-properties .featured-property {
    display: flex;
    justify-content: center;
    height: 60vh;
}
#featured-properties .featured-property.ant-col-8{
    flex: none;
}

#featured-properties .featured-property .featured-img{
    position: relative;

}

#featured-properties .featured-property .featured-img img{
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}

#featured-properties .featured-property .featured-img .ant-image{
    display: block;
}

#featured-properties .featured-property--content{
    position: absolute;
    bottom: 0;
    top: 200px;
    text-align: center;
}
#featured-properties .featured-property--content .ant-card{
    /* width: 85%; */
    margin: auto;
    width: 320px;
    height: 300px;
}
#featured-properties .featured-property--content .ant-card .ant-card-body{
    border-radius: 10px;
    box-shadow: 0 8px 10px -5px var(--bg-shadow);
    height: 300px;
}

#featured-properties .featured-property--content h4{
   color: black;
   font-size: 20px;
}

#featured-properties .featured-property--content p{
    margin: 15px 10px 5px 10px;
    text-wrap: wrap;
    font-size: 17px;
 }

 #featured-properties .featured-property--content p.featured-listing-type{
    color: var(--red);
    font-weight: bold;
    font-size: 15px ;
 }

 #featured-properties .featured-property--content .featured-features .featured{
    display: flex;
    align-items:end;
    justify-content: center;
    padding: 5px;
 }

 #featured-properties .featured-property--content .featured-features .ant-divider-vertical{
    height: 4em;

 }
 /* #featured-properties .featured .feature .feature-items .feature-item{
    display: flex;
  flex-direction: column;
  margin-right: 0px;
  padding: 0px 10px 0px 5px; 
  border-right: 1px solid var(--red);
  height: 70px;

 }
 .feature-table {
  width: 100%;
  border-collapse: collapse;
} */

 /* #featured-properties .featured-property--content .featured-features .feature{
    margin: auto 10px;
 } */

 .featured-divider {
    border-inline-start: 0.5px solid #f15959a8;
 }

/* Default styles (for screens larger than 1024px) */

#featured-properties .featured-property .featured-img {
    position: relative;
    max-width: 380px;
}

#featured-properties .featured-property--content h4 {
    color: black;
    font-size: 20px;
}

#featured-properties .featured-property--content p {
    margin: 15px auto 5px auto;
}

#featured-properties .featured-property--content p.featured-listing-type {
    color: var(--red);
    font-weight: bold;
    font-size: 15px;
}

#featured-properties .featured-property--content .featured-features {
    display: flex;
    align-items: center;
    justify-content: center;
}

#featured-properties .featured-property--content .featured-features .featured {
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 5px;
}

#featured-properties .featured-property--content .featured-features .ant-divider-vertical {
    height: 4em;
}

.featured-divider {
    border-inline-start: 0.5px solid #f15959a8;
}

.featured--feature-items {
    display: flex;
    align-items: center;
}

/* Responsive styles for screens 800px */


/* Responsive styles for screens between 320px and 568px */
@media screen and (min-width: 320px) and (max-width: 499px) {

    #featured-properties{
        width: 95%;
        gap: 30px;
    }
    #featured-properties .featured-property{
        height: 65vh;
        max-width: 100%;
    }
    #featured-properties .featured-property--content .ant-card{
        width: 90%;
    }

    #featured-properties .featured-property--content h4 {
        font-size: 20px;
    }
    #featured-properties .featured-property .featured-img img{
        height: 270px;
    }
    #featured-properties .featured-property--content{
        top: 150px;
    }
    
}

@media screen and (min-width: 500px) and (max-width: 654px) {
    #featured-properties{
        width: 100%;
        gap: 30px;
    }
    #featured-properties .featured-property{
        height: 65vh;
        max-width: 100%;
    }
    #featured-properties .featured-property--content .ant-card{
        width: 90%;
    }

    #featured-properties .featured-property--content h4 {
        font-size: 20px;
    }
}

/* Responsive styles for screens 1024px */
@media screen and (min-width: 655px) and (max-width: 1024px) {
    #featured-properties{
        width: 100%;
        gap: 30px;
    }
    #featured-properties .featured-property{
        height: 65vh;
        max-width: 45%;
    }
    #featured-properties .featured-property--content .ant-card{
        width: 90%;
    }

    #featured-properties .featured-property--content h4 {
        font-size: 18px;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1079px) {
    #featured-properties{
        width: 100%;
        gap: 25px;
    }
    #featured-properties .featured-property{
        height: 65vh;
        max-width: 50%;
    }
    #featured-properties .featured-property--content .ant-card{
        width: 90%;
    }
    #featured-properties .featured-property .featured-img{
        width: 350px;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1089px) {
    #featured-properties{
        width: 100%;
        gap: 25px;
    }
    #featured-properties .featured-property{
        height: 65vh;
    }
    #featured-properties .featured-property--content .ant-card{
        width: 90%;
    }
    #featured-properties .featured-property .featured-img{
        width: 330px;
    }
}

@media screen and (min-width: 1090px) and (max-width: 1149px) {
    #featured-properties{
        width: 100%;
        gap: 30px;
    }
    #featured-properties .featured-property{
        height: 65vh;
    }
    #featured-properties .featured-property--content .ant-card{
        width: 90%;
    }
    #featured-properties .featured-property .featured-img{
        width: 330px;
    }
}

@media screen and (min-width: 1150px) and (max-width: 1239px) {
    #featured-properties{
        width: 100%;
        gap: 30px;
    }
    #featured-properties .featured-property{
        height: 65vh;
    }
    #featured-properties .featured-property--content .ant-card{
        width: 88%;
    }
    #featured-properties .featured-property .featured-img{
        width: 350px;
    }
}

@media screen and (min-width: 1240px) and (max-width: 1484px) {
    #featured-properties{
        width: 100%;
        gap: 30px;
    }
    #featured-properties .featured-property{
        height: 65vh;
    }
    #featured-properties .featured-property--content .ant-card{
        width: 88%;
    }
    #featured-properties .featured-property .featured-img{
        width: 380px;
    }
}

@media screen and (min-width: 1485px) and (max-width: 1665px) {
    #featured-properties{
        width: 90%;
    }
    #featured-properties .featured-property{
        height: 65vh;
    }
    #featured-properties .featured-property--content .ant-card{
        width: 88%;
    }
}