/* .feature-container{
    background: #fff;
    padding: 1% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
  
  /* .card-content {
    padding: 15px;
  } */
  .feature-h1{
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0px 20px 120px;
  }
  
@media screen and (min-width: 320px) and (max-width: 359px) {

  .feature-h1 {
		font-size: 22px;
		margin: 20px 0px 20px 20px;
	}
}
@media screen and (min-width: 360px) and (max-width: 480px) {

   .feature-h1 {
		font-size: 22px;
		margin: 20px 0px 20px 20px;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {

   .feature-h1 {
		font-size: 26px;
		margin: 20px 0px 0px 20px;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {

  .feature-h1 {
		font-size: 26px;
		margin: 20px 0px 0px 20px;
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {

   .feature-h1 {
		font-size: 26px;
		margin: 20px 0px 0px 20px;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {

   .feature-h1 {
		font-size: 26px;
		margin: 20px 0px 0px 40px;
	}
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
   .feature-h1 {
		font-size: 26px;
		margin: 20px 0px 0px 40px;
	}
}
