.footerDiv {
  display: grid;
  grid-template-columns: 70% 29%;
  grid-gap: 10px;
  justify-content: space-between;
  position: sticky;
  top: 20;
  margin-top: 5%;
  padding: 20px;
}
.footerLayout:first-child {
  justify-self: flex-start;
  color: #8c9094;
}

.footerLayout:last-child {
  justify-self: flex-end;
  color: #8c9094;
}
@media (min-width: 600px) {
  .footerDiv {
    grid-template-columns: 70% 29%; 
  }

  .footerLayout:first-child,
  .footerLayout:last-child {
    font-size: small; 
  }
}
