.footer {
    background-color: #ff2800;
    color: white;
    padding: 10px;
 
    font-size: 18px;
    /* font-family: ; */
    /* width: 100%; */

  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    /* max-width: 100%; */
    /* margin: auto; */
    /* width: 100%; */
  }
  
  .left-side {
    flex: 1;
  }
  
  .right-side {
    flex: 1;
    text-align: right;
  }
  
  .right-side a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  @media screen and (min-width: 320px) and (max-width: 359px) {
    .footer-content {
      font-size: 10px;
    }
  
    .right-side {
      flex: none;
    }
  }
  @media screen and (min-width: 360px) and (max-width: 480px) {
    .footer-content {
      font-size: 12px;
    }
  
    .right-side {
      flex: none;
    }
  }
  