.footerDiv {
  width: 100%;
  display: flex;
  
justify-content: center;
align-items: center;
}
.footerDiv .footerLayout:first-child {
  justify-self: flex-start;
  color: #8c9094;
}

.footerDiv .footerLayout:last-child {
  justify-self: flex-end;
  color: #8c9094;
}
@media (min-width: 600px) {


  .footerDiv .footerLayout:first-child,
  .footerDiv .footerLayout:last-child {
    font-size: small; 
  }
}
