.footer-container {
  background: linear-gradient(180deg in oklab, #ffeded, white);
  color: #333;
  padding: 40px 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

@media (min-width:768px) and (max-width: 1024px) {
  .footer-container {
      
      align-items: center;
      padding: 20px 0;
  }
}

.footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 11rem;
  align-items: center;

      padding: 0 20px;
}
.footer-section {
  padding: 0 20px;
}



@media (max-width: 768px) {
  .footer-section {
      flex-basis: 50%;
      margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .footer-section {
      flex-basis: 100%;
      margin-bottom: 20px;
      padding: 0 10px;
  }
}

.footer-section:last-child {
  text-align: right;
}

@media (max-width: 1024px) {
  .footer-section:last-child {
      text-align: center;
  }
}

.download-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-links a {
  display: block;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.download-links img {
  max-width: 120px;
}

@media (max-width: 768px) {
  .download-links img {
      max-width: 100px;
  }
}

.footer-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ed1c24;
}

.footer-list {
  list-style: none;
  padding: 0;
  color: black;
}

.footer-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-list a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  flex-grow: 1;
}

.footer-list a:hover {
  color: #D90000;
  transform: scale(1.2);
}

.footer-list img {
  margin-left: auto;
  width: 20%;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: auto;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icons a:hover img {
  transform: scale(1.2);
  color: #dd989a;
}

.social-icons img {
  width: 40px;
  height: 20px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin-bottom: 80px;
}

.contact-section img {
  max-width: 50%;
}

.contact-section p {
  margin: 10px 0;
}

.contact-section a {
  color: red;
}

.new-footer-container {
  background-color: red;
  padding: 10px 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

@media (max-width: 768px) {
  .new-footer-container {
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }
}

.copyright-text {
  font-size: 14px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .copyright-text {
      margin-bottom: 0;
  }
}

.legal-links {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 15%;
  gap: 1rem;
}

@media (max-width: 768px) {
  .legal-links {
      width: 100%;
      justify-content: center;
  }
}

.legal-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.legal-links a:hover {
  color: #0f0202;
}

.gmail {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.gmail p {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30%;
  color: black;
}

@media (max-width: 480px) {
  .gmail p {
      margin-right: 10%;
      font-size: 14px;
  }
}
@media  (max-width: 320){
  .footer-container {
      
    align-items: center;
    padding: 20px 0;
    flex-direction: column;
}


.footer-wrapper {
width: 100%;
display: flex;
flex-direction: column;
gap: 11rem;
align-items: center;
    gap: 2rem;
    padding: 0 20px;
}
.footer-section {
padding: 0 20px;
}
.MapContainer{
  width: 300px;
}

} 

@media (min-width: 320px) and (max-width: 568px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    margin: 15px 0;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }

  .social-icons a img {
    width: 25px;
    margin: 0 5px;
  }

  .download-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .download-links a img {
    width: 100px;
    margin: 10px 0;
  }

  .new-footer-container {
    padding: 15px 0;
  }

  .legal-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .legal-links a {
    margin: 5px 0;
  }
}