.header.ant-layout-header{
    line-height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 15px 20px
}

.header--menu.ant-menu li{
    color: #8C9094;
    padding-inline: 13px;
    margin: 0 5px;
}

.header--menu.ant-menu .ant-menu-item-selected,
.header--menu.ant-menu .ant-menu-item-selected:hover,
.header--menu.ant-menu .ant-menu-item-active,
.header--menu.ant-menu .ant-menu-item:hover
{
    background: #D90000;
    color: white;
    border-radius: 30px;
}

.header--menu.ant-menu .ant-menu-item:not(.ant-menu-item-selected):hover{
    color: white;
}


.header--menu.ant-menu .ant-menu-item-selected::after, 
.header--menu.ant-menu .ant-menu-item-active::after,
.header--menu.ant-menu .ant-menu-item:hover
.header--menu.ant-menu li::after{
    border-bottom: none;
}