.header.ant-layout-header{
    line-height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 15px 20px;
    flex-wrap: wrap;
    align-content: space-between;
    height: auto;
    justify-content: space-between;
    font-family: var(--font-family);
    flex-direction: row;
}
.ant-menu-overflow{
    flex-wrap: wrap;
}

#menu-wrapper ul.ant-menu-horizontal{
    border-bottom: none;
    line-height: 40px;
    font-size: 16px;
}
.active-parent-menu-item{
    color: var(--red);
      font-weight: bold;

}

.header.header.ant-layout-header .ml-logo,
.header.ant-layout-header ul,
.header.ant-layout-header .menu-buttons{
    margin: 5px 0;
    font-family: var(--font-family);
}

.header--menu.ant-menu li{
    color: var(--mute-gray);
    padding-inline: 13px;
    margin: 0 5px;
    font-family: var(--font-family);
     transition: none !important ;
}

.header--menu.ant-menu .ant-menu-item-selected,
.header--menu.ant-menu .ant-menu-item-selected:hover,
.header--menu.ant-menu .ant-menu-item-active,
.header--menu.ant-menu .ant-menu-item:hover,
.header--menu.ant-menu .ant-menu-item-selected .rent-menu--btn
{
    /* background: var(--red); */
    color: var(--red);
    border-radius: 10px;
    font-family: var(--font-family);
    font-weight: bold;
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out;
}

.header--menu.ant-menu .ant-menu-item:not(.ant-menu-item-selected):hover{
    color: var(--red);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.header--menu.ant-menu .ant-menu-item-selected::after, 
.header--menu.ant-menu .ant-menu-item-active::after,
.header--menu.ant-menu .ant-menu-item:hover
.header--menu.ant-menu li::after{
    border-bottom: none !important;
}

.rent-menu--btn.ant-btn{
    padding: 0;
}

/* MENU POP UP */
.ant-popover-content{
    margin-right: 30px;
    margin-left: -100px;
}
.ant-popover .ant-popover-inner{
    padding: 20px 30px;
    border-radius: 30px;
}
.ant-popover .ant-popover-title{
    font-weight: bold;
    font-size: 14px;
    font-family: var(--font-family);
    margin-top: 8px;
    padding: 5px 7px;

}
.menu-popup-content.ant-row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    align-content: center;
    justify-content: space-between;
}

.gutter-row.submenu{
    max-width: 100%;
    /* padding-left: 0px !important;
    padding-right: 45px !important; */
    flex: none;
    margin: 5px 0px;
    /* padding: 5px 45px 5px 0px !important; */
}

.gutter-row.submenu .menu-submenu--header{
    font-weight: bold;
    color: var(--mute-gray);
    padding: 5px 7px;
}
.gutter-row.submenu .menu-submenu--child{
    margin: 10px 0;
    font-size: 13px;
    font-family: var(--font-family);
}
.gutter-row.submenu .menu-submenu--child a{
    margin: 7px 0;
    color: var(--mute-gray);
    font-family: var(--font-family);
    display: block;
    padding: 5px 7px;
    transition: 0.5ms;
}
.gutter-row.submenu .menu-submenu--child .sub-info{
    margin: 7px 0;
    color: var(--mute-gray);
    font-family: var(--font-family);
    display: block;
    padding: 5px 7px;
}
.gutter-row.submenu .menu-submenu--child a:hover{
    border-radius: 10px;
    border: 1px solid var(--red);
}

.ant-popover .ant-popover-title,
.gutter-row.submenu{
    padding: 0 20px;
}

.gutter-row.submenu-info{
    padding-left: 0px !important;
    padding-right: 45px !important;
    flex: none;
    margin: 5px 0px;
}

.menu-submenu--child .sub-info a.redirect,
.menu-submenu--child .sub-info a.redirect:hover{
    padding: 0;
    border: none;
}

.menu-submenu--child .sub-info a.redirect{
    color: var(--red);
}
@media screen and (min-width: 315px) and (max-width: 359px) {
    .header.header.ant-layout-header .ml-logo{
        margin-left: 0 !important;
    }
    .header.ant-layout-header{
        padding: 15px 13px;
    }
    .header.header.ant-layout-header .ml-logo a img{
        width: 150px !important;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .ant-popover{
        inset: 110px auto auto 112.586px !important;
        width: auto;
    }
    .header.ant-layout-header{
        padding: 15px 0px;
    }
    .header.header.ant-layout-header .ml-logo{
        margin-left: 15px !important;
    }
}
@media screen and (min-width: 1098px) and (max-width: 1375px) {
    .header.header.ant-layout-header .ml-logo{
        margin-left: 10px !important;
    }
    .header a img.brokerage-logo--img{
        width: 135px !important;
    }
    #menu-wrapper ul.ant-menu-horizontal{
        font-size: 15px;
    }
    .header--menu.ant-menu li{
        padding-inline: 8px;
        font-size: 15px;
    }
}
@media screen and (min-width: 1376px) and (max-width: 1500px) {
    .header--menu.ant-menu li {
       padding: 5px;
    }
}