.container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  /* margin: 25px; */
  width: 100%;
  margin-bottom: 80px;
}

.title {
  color: #000;
  width: 100%;
  font: 700 25px Poppins, sans-serif;
  /* margin: 10px; */
  margin-left: 3%;
}

.card {
  border-radius: 10px;
  display: flex;
  margin-top: 35px;
  /* width: 100%; */
  width: 93%;
  padding-bottom: 30px;
  flex-direction: column;
  /* border: 1px solid #f5f6f7; */
  border: 1px solid #e7e7e7;
  margin-left: 3%;
}

.cardHeader {
  border-radius: 10px 10px 0 0;
  background-color: #ededed;
  width: 100%;
  color: #000;
  padding: 10px 20px;
  font: 700 20px Poppins, sans-serif;
}

.cardContent,
.amenitiesContainer, .includesGrid {
  font-size: 16px;
  color: #8c9094;
  font-weight: 400;
  padding: 15px 50px;

}

.includesColumn, .amenitiesColumn, .featuresColumn{
  width: 21%;
}

.includesGrid, .cardContent, .amenitiesGrid{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.featureList, .amenitiesList, .includesList {
  display: flex;
  flex-direction: column;
}

.featureItem, .amenityItem, .includeItem {
  margin-top: 15px;
}

/* .includesGrid {
  margin-left: 9%;
  display: flex;
  width: 100%;
  max-width: 200%;
  gap: 20px;
}

.includesColumn {
  flex-grow: 1;
  flex-basis: auto;
} */

@media (max-width: 991px) {
  .title {
    max-width: 100%;
    font-size: 20px;

  }

  .card {
    max-width: 100%;
    margin-top: 40px;
  }

  .cardContent {
    max-width: 100%;
    flex-wrap: wrap;
    font-size: 16px;
  }

  .amenitiesContainer {
    max-width: 100%;
  }

  .amenitiesGrid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .amenitiesColumn {
    width: 100%;
  }
  .includesGrid {
    max-width: 100%;
    flex-wrap: wrap;
  }

  .includesColumn {
    max-width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .featureItem {
    font-family: Poppins, sans-serif;
    /* margin-top: 15px; */
    font-size: 18px;
  }

  .amenityItem {
    font-family: Poppins, sans-serif;
    margin-top: 24px;
    font-size: 18px;
  }

  .includeItem {
    font-family: Poppins, sans-serif;
    margin-top: 15px;
    font-size: 18px;
  }

  .container {
    padding: 0 0px;
    margin-top: 20px;
  }

}

@media only screen and (min-width: 360px) and (max-width: 480px) {
  .container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .card{
    width: 100%;
    margin-top: 30px;
    margin-left: 0px;
  }
  .cardHeader{
    font-size: 18px;
    padding: 15px 15px;
  }
  .featuresColumn, .includesColumn{
    width: 100%;
  }
  .includesGrid{
    flex-direction: column;
    gap: 5px;
  }
}