:root {
    --image-height: 200px;
}

.preview-image--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
    /* position: absolute; */
}
/* 1st Large Image */
.preview-image-side {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 4 Images */
.preview-image-group {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    align-items: center;
}

/* Image wrapper */
.preview-image-side--wrapper,
.preview-group-image--wrapper {
    position: relative;
    overflow: hidden;
}
/* Same Height Image wrapper and Image */
.preview-group-image--wrapper,
.preview-group-image{
    height: calc(var(--image-height));
}

.preview-single-image,
.preview-image-side--wrapper,
.preview-image-group {
    height: calc(var(--image-height) * 2 + 20px)
}
/* ------------------------------------------------- */
.preview-group-image,
.preview-single-image {
    border-radius: var(--radius);
    opacity: 1;
    width: 100%;
    cursor: pointer;
    /* Smooth zoom effect */
    transition: transform 2s ease, opacity 1s;
}

/* Slightly enlarge the image */
.preview-single-image:hover,
.preview-group-image:hover {
    transform: scale(1.1);
    opacity: 0.85;
}

.preview-group-image {
    object-fit: cover;

}