.insurance-guide-contents{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.insurance-guide-content-one{
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    background-color: #FDFBFA;
}
.insurance-guide-tagline{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 100px;
}
.insurance-guide-tagline span{
    color: #ff2800;
    font-weight: bold;
    font-size: 30px;
}
.insurance-guide-tagline p{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.insurance-guide-content-one img{
width: 50%;
margin: 0px 0px 0px 100px;
}
.insurance-guide-content-two{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* flex-wrap:wrap; */
    /* justify-content: space-between; */
    align-items: center;
}
.insurance-guide-inboxes{
    width: 50%;
    /* height: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin: 0px 0px 0px 50px;
    gap:100px;
    
}
.home-insurance-inbox, 
.auto-insurance-inbox,
.health-insurance-inbox, 
.travel-insurance-inbox{
    width: 250px;
    height: 300px;
    border:1px solid #ff2800;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
}
.insurance-guide-inboxes p{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px 0px 0px 30px;
    font-size: 14px;
}
.insurance-guide-inboxes span{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px 0px 0px 0px;
    font-size: 20px;
}
.insurance-guide-inboxes img{
    width: 60px;
    height: 60px;
    margin: 20px 0px 0px 0px;
}
.insurance-guide-tagline-two{
    width: 50%;
    display: flex;
    justify-content: center;
    /* margin: 0px 0px 0px 50pc; */
    /* align-items: center; */
    flex-direction: column;
}
.insurance-guide-tagline-two span{
font-size: 30px;
color: #444444;
margin: 0px 0px 0px 200px;
width: 50%;
}
.insurance-guide-tagline-two p{
    font-size: 18px;
    color: #444444;
    margin: 50px 0px 0px 150px;
    /* width: 50%; */
}
.insurance-guide-content-three{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.insurance-guide-content-three span{
    font-weight: bold;
    font-size: 30px;
    color: #444444;
    display: flex;
    justify-content: center;
    align-items: center
}
.insurance-guide-content-three-input{
    /* width: 100%;
    justify-content: center;
    display: flex;
    align-items: center; */
    position: relative;
    width: 50%;
}
.insurance-guide-content-three-input input{
    /* height: 50px;
    width: 50%;
    border: 1px solid #ff2800;
    border-radius: 20px;
    font-size: 18px; */
    height: 50px;
    width: 100%;
    border: 1px solid #ff2800;
    border-radius: 20px;
    font-size: 18px;
    padding-right: 20px;
}
.insurance-guide-content-three-input button{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    white-space: nowrap;
    background-color: #ff2800;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.insurance-guide-content-four{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.insurance-guide-content-four span{
    font-weight: bold;
    font-size:30px;
    margin:0px 0px 0px 100px;
}
.other-insurance-products{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    /* align-items: center; */
    margin: 50px 0px 0px 0px;
}
.health-insurance-products,
.travel-insurance-products,
.auto-insurance-products{
    background-color:rgb(217,0,0, 11%) ;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 0px;
    /* align-items: center; */
}
.other-insurance-products span{
    color: #ff2800;
    font-size: 20px;
    /* margin: 30px 0px 0px 0px; */
    align-items: center;
    /* display: flex; */
    justify-content: center;
}
.insurance-child{
display: flex;
flex-direction: column;
margin: 50px 0px 0px 0px;
/* justify-content: center; */
}
.insurance-child p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
}
  .insurance-child .radio-buttons {
    margin: 10px 0px 0px 110px;
    font-size: 16px;
  }
  
  .radio-buttons input[type="radio"] {
    accent-color: red;
    margin-right: 5px;
  }
.insurance-guide-content-five{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.insurance-guide-content-five .questions{
width: 80%;
margin: 20px 0px 0px 100px;
}
.insurance-guide-content-five span{
    color:#444444;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0px 0px 100px;
}
.check-circle {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .check-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ff2800;
    background-color: transparent;
    color: white;
    margin-right: 8px;
    font-size: 14px;
    font-weight: bold;
  }