* {
  padding: 0px;
  margin: 0px;
}

.join-team-columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.join-team-column-group {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
.join-team-group {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.join-team-group input,
.radio-button-broker-question input[type="text"],
.join-team-group .ant-select {
  width: 200px;
  height: 40px;
  border: 1px solid var(--mute-gray);
  padding: 10px;
  border-radius: 5px;
  color: var(--mute-gray);
  outline: none;
}

.join-team-group input:disabled,
.join-team-group .ant-select-disabled {
  border-color: #d9d9d9;
  background-color: #d9d9d9;
}
.join-team-group .ant-select .ant-select-selector-disabled {
  border: 1px solid #d9d9d9;
}

.join-team-group
  :where(
    .css-dev-only-do-not-override-1uq9j6g
  ).ant-select-outlined.ant-select-disabled:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
}
.join-team-group .ant-select .ant-select-selector {
  border: 1px solid #ffffff;
  padding: 0;
}
.join-team-group
  :where(.css-dev-only-do-not-override-1uq9j6g).ant-select-outlined:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border: 1px solid #ffffff;
  border-style: none;
  box-shadow: none;
}
.join-team-group .ant-select .ant-select-item {
  border: 1px solid #ffffff;
  background-color: #8c9094;
  width: 200px;
}
.join-team-group
  .ant-select-item
  .ant-select-item-option
  .ant-select-item-option-active
  .ant-select-item-option-selected {
  border: 1px solid #ffffff;
}
.broker-questions-jointeam {
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.radio-button-broker-question {
  display: flex;
  gap: 20px;
}
.radio-button-broker-question input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #d9d9d9;
  background-color: #d9d9d9;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}
.radio-button-broker-question input[type="text"] { 
  margin-left: 10px;
}
/*
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #d9d9d9;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
} */

.radio-button-broker-question input[type="radio"]:checked {
  background-color: #000000;
  border-color: #d9d9d9;
  /* width: 10px;
  height: 10px; */
}

.radio-button-broker-question label {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  font-size: 14px;
}
.broker-questions-jointeam .broker-number-of-years {
  display: flex;
  flex-direction: column;
}
.broker-questions-jointeam .broker-number-of-years input {
  width: 200px;
  height: 40px;
  border: 1px solid #8c9094;
  padding: 10px;
  border-radius: 5px;
  color: #8c9094;
  font-size: 15px;
}
.broker-questions-review span {
  color: #000000;
}

.identifiable-info-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.verification-section {
  display: flex;
  margin-top: 20px;
}

.card-section,
.face-section {
  width: 50%;
}

.card-section h2,
.face-section h2 {
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: 450;
}

.card-section p,
.face-section p {
  font-size: 13px;
  color: #666;
  margin: 0;
  padding-bottom: 10px;
}
.photo {
  width: 100%;
  min-height: 90%;
  border-radius: 10px;
}
.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}

.photo-container img {
  max-width: 150px;
  max-height: 150px;
  height: auto;
  border-radius: 10px;
}

.photo-container input[type="file"] {
  margin-bottom: 10px;
}

.photo-container button {
  background-color: #d90000;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.photo-container button:hover {
  background-color: #a50000;
}

.required {
  color: red;
  font-weight: bold;
}

.upload-box {
  object-fit: contain;
  width: 100%;
  height: 150px; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #8c9094; /* Dashed border with red color */
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  text-align: center;
  background-color: #f9f9f9; /* Optional: Light background color for contrast */
}

.upload-box p {
  margin-top: 10px;
}

.plus-sign {
  font-size: 40px;
  color: #8c9094;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.join-team-submit-button {
  margin-top: 10px;
}

.photo-button {
  display: flex;
  gap: 2px;
  margin-left: 25px;
}

.photo-button #redo {
  border: 1px solid #d9d9d9;
  background-color: transparent;
  color: #8c9094;
}

.photo-button #take-photo {
  background-color: #d9d9d9;
  color: #8c9094;
}

.join-team-submit-button {
  background-color: #d90000;
  color: #fff;
  border: none;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0px 0px 300px;
  width: 250px;
  display: flex;
  font-size: 16px;
  font-weight: bold;
}
.face-section p,
.verification-section p {
  line-height: normal;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-modal {
  font-size: 24px;
  cursor: pointer;
}

.modal-notice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-notice-content {
  background: white;
  padding: 20px 20px 30px 30px;
  border-radius: 20px;
  width: 450px;
  font-weight: 500;
}

.modal-notice-content h2 {
  color: #d90000;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.modal-notice-content p {
  line-height: normal;
  margin-top: 15px;
}

.modal-notice-content ol {
  line-height: normal;
  margin-top: 15px;
}
@media only screen and (min-width: 576px) and (max-width: 1024px) {
  .join-team-submit-button {
    background-color: #d90000;
    color: #fff;
    border: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px 0px 0px 150px;
    width: 250px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
  }
  .join-team-columns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
  }
  .join-team-group .ant-select {
    width: 220px;
    height: 40px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .join-team-column-group {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
  }
  .join-team-group {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .join-team-group input,
  .join-team-group select {
    width: 200px;
    height: 20px;
    border: 1px solid #8c9094;
    padding: 10px;
    border-radius: 5px;
    color: #8c9094;
  }
  .broker-questions-jointeam {
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .radio-button-broker-question {
    display: flex;
    gap: 20px;
  }
  .radio-button-broker-question input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #d9d9d9;
    background-color: #d9d9d9;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
  }

  .radio-button-broker-question input[type="radio"]:checked {
    background-color: #000000;
    border-color: #d9d9d9;
    /* width: 10px;
  height: 10px; */
  }

  .radio-button-broker-question label {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
  }
  .broker-questions-jointeam .broker-number-of-years {
    display: flex;
    flex-direction: column;
  }
  .broker-questions-jointeam .broker-number-of-years input {
    width: 200px;
    height: 20px;
    border: 1px solid #8c9094;
    padding: 10px;
    border-radius: 5px;
    color: #8c9094;
  }
  .broker-questions-review span {
    color: #000000;
  }

  .identifiable-info-container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .verification-section {
    display: flex;
    margin-top: 20px;
  }

  .card-section,
  .face-section {
    width: 50%;
  }

  .card-section h2,
  .face-section h2 {
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 450;
  }

  .card-section p,
  .face-section p {
    font-size: 13px;
    color: #666;
    margin: 0;
    padding-bottom: 10px;
  }

  .photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
  }

  .photo-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .photo-container input[type="file"] {
    margin-bottom: 10px;
  }

  .photo-container button {
    background-color: #d90000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .photo-container button:hover {
    background-color: #a50000;
  }

  .required {
    color: red;
    font-weight: bold;
  }

  .upload-box {
    width: 100%;
    height: 150px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #8c9094; /* Dashed border with red color */
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    text-align: center;
    background-color: #f9f9f9; /* Optional: Light background color for contrast */
  }

  .upload-box p {
    margin-top: 10px;
  }

  .plus-sign {
    font-size: 40px;
    color: #8c9094;
    margin-bottom: 10px;
  }

  input[type="file"] {
    display: none;
  }

  button {
    margin-top: 10px;
  }

  .photo-button {
    display: flex;
    gap: 2px;
    margin-left: 25px;
  }

  .photo-button #redo {
    border: 1px solid #d9d9d9;
    background-color: transparent;
    color: #8c9094;
  }

  .photo-button #take-photo {
    background-color: #d9d9d9;
    color: #8c9094;
  }
}
@media only screen and (min-width: 519px) and (max-width: 575px) {
  .radio-button-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
  }
  .radio-button-broker-question {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #othersBrokerQuestion {
    height: 20px;
    width: 320px;
  }
  .radio-button-container label {
    margin-right: 20px;
  }
  .join-team-group input {
    width: 430px;
    height: 20px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .join-team-column-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
  .broker-questions-jointeam .broker-number-of-years input {
    width: 430px;
    height: 20px;
    border: 1px solid #8c9094;
    padding: 10px;
    border-radius: 5px;
    color: #8c9094;
  }

  .join-team-group .ant-select {
    width: 450px;
    height: 40px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .verification-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .identifiable-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .join-team-submit-button {
    background-color: #d90000;
    color: #fff;
    border: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 450px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 498px) and (max-width: 518px) {
  .radio-button-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
  }
  .radio-button-broker-question {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #othersBrokerQuestion {
    height: 20px;
    width: 320px;
  }
  .radio-button-container label {
    margin-right: 20px;
  }
  .join-team-group input {
    width: 415px;
    height: 20px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .join-team-column-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
  .broker-questions-jointeam .broker-number-of-years input {
    width: 425px;
    height: 20px;
    border: 1px solid #8c9094;
    padding: 10px;
    border-radius: 5px;
    color: #8c9094;
  }

  .join-team-group .ant-select {
    width: 440px;
    height: 40px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .verification-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .identifiable-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .join-team-submit-button {
    background-color: #d90000;
    color: #fff;
    border: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 450px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 481px) and (max-width: 497px) {
  .radio-button-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
  }
  .radio-button-broker-question {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #othersBrokerQuestion {
    height: 20px;
    width: 300px;
  }
  .radio-button-container label {
    margin-right: 20px;
  }
  .join-team-group input {
    width: 400px;
    height: 20px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .join-team-column-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
  .broker-questions-jointeam .broker-number-of-years input {
    width: 415px;
    height: 20px;
    border: 1px solid #8c9094;
    padding: 10px;
    border-radius: 5px;
    color: #8c9094;
  }

  .join-team-group .ant-select {
    width: 425px;
    height: 40px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .verification-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .identifiable-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .join-team-submit-button {
    background-color: #d90000;
    color: #fff;
    border: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 400px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 462px) and (max-width: 480px) {
  .radio-button-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
  }
  .radio-button-broker-question {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #othersBrokerQuestion {
    height: 20px;
    width: 285px;
  }
  .radio-button-container label {
    margin-right: 20px;
  }
  .join-team-group input {
    width: 375px;
    height: 20px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .join-team-column-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
  .broker-questions-jointeam .broker-number-of-years input {
    width: 395px;
    height: 20px;
    border: 1px solid #8c9094;
    padding: 10px;
    border-radius: 5px;
    color: #8c9094;
  }

  .join-team-group .ant-select {
    width: 400px;
    height: 40px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .verification-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .identifiable-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .join-team-submit-button {
    background-color: #d90000;
    color: #fff;
    border: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 400px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 429px) and (max-width: 461px) {
  .radio-button-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
  }
  .radio-button-broker-question {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #othersBrokerQuestion {
    height: 20px;
    width: 260px;
  }
  .radio-button-container label {
    margin-right: 20px;
  }
  .join-team-group input {
    width: 350px;
    height: 20px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .join-team-column-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
  .broker-questions-jointeam .broker-number-of-years input {
    width: 370px;
    height: 20px;
    border: 1px solid #8c9094;
    padding: 10px;
    border-radius: 5px;
    color: #8c9094;
  }

  .join-team-group .ant-select {
    width: 375px;
    height: 40px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .verification-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .identifiable-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .join-team-submit-button {
    background-color: #d90000;
    color: #fff;
    border: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 370px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 393px) and (max-width: 428px) {
  .radio-button-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
  }
  .radio-button-broker-question {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #othersBrokerQuestion {
    height: 20px;
    width: 230px;
  }
  .radio-button-container label {
    margin-right: 20px;
  }
  .join-team-group input {
    width: 320px;
    height: 20px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .join-team-column-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
  .broker-questions-jointeam .broker-number-of-years input {
    width: 330px;
    height: 20px;
    border: 1px solid #8c9094;
    padding: 10px;
    border-radius: 5px;
    color: #8c9094;
  }
  .join-team-group .ant-select {
    width: 340px;
    height: 40px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .verification-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .identifiable-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .join-team-submit-button {
    background-color: #d90000;
    color: #fff;
    border: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 320px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 366px) and (max-width: 392px) {
  .radio-button-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
  }
  .radio-button-broker-question {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #othersBrokerQuestion {
    height: 20px;
    width: 200px;
  }
  .radio-button-container label {
    margin-right: 20px;
  }
  .join-team-group input {
    width: 290px;
    height: 20px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .join-team-column-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
  .broker-questions-jointeam .broker-number-of-years input {
    width: 298px;
    height: 20px;
    border: 1px solid #8c9094;
    padding: 10px;
    border-radius: 5px;
    color: #8c9094;
  }

  .join-team-group .ant-select {
    width: 310px;
    height: 40px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .verification-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .identifiable-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .join-team-submit-button {
    background-color: #d90000;
    color: #fff;
    border: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 290px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 332px) and (max-width: 365px) {
  .radio-button-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
  }
  .radio-button-broker-question {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #othersBrokerQuestion {
    height: 20px;
    width: 165px;
  }
  .radio-button-container label {
    margin-right: 20px;
  }
  .join-team-group input {
    width: 255px;
    height: 20px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .join-team-column-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
  .broker-questions-jointeam .broker-number-of-years input {
    width: 270px;
    height: 20px;
    border: 1px solid #8c9094;
    padding: 10px;
    border-radius: 5px;
    color: #8c9094;
  }

  .join-team-group .ant-select {
    width: 280px;
    height: 40px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .verification-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .identifiable-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .join-team-submit-button {
    background-color: #d90000;
    color: #fff;
    border: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 290px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 320px) and (max-width: 331px) {
  .radio-button-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
  }
  .radio-button-broker-question {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #othersBrokerQuestion {
    height: 20px;
    width: 150px;
  }
  .radio-button-container label {
    margin-right: 20px;
  }
  .join-team-group input {
    width: 230px;
    height: 20px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .join-team-column-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
  .broker-questions-jointeam .broker-number-of-years input {
    width: 255px;
    height: 20px;
    border: 1px solid #8c9094;
    padding: 10px;
    border-radius: 5px;
    color: #8c9094;
  }

  .join-team-group .ant-select {
    width: 255px;
    height: 40px;
    border: 1px solid var(--mute-gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--mute-gray);
  }
  .verification-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .identifiable-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .join-team-submit-button{
    background-color: #d90000;
    color: #fff;
    border: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 250px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
  }
}
