/* Container */
.listings-table-container {
  width: 100%;
  border-radius: 10px;
}

/* Header Section */
.listings-table-container .listings-table-header-section {
 /* padding: 9px; */
  margin-bottom: 10px;
  border-radius: 30px;
  background-color: rgba(140, 144, 148, 0.18);
  display: flex;
  width: 100%;
  /* gap:1rem; */
}
@media (max-width: 730px) {
  .listings-table-container .listings-table-header-section {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
  }
}
.listings-table-container{
  margin: 0 ;
}
/* Tabs */
.tabs-listings-table {
  display: flex;
  gap: 20px;
}

/* Tab */
.table-header-button {
  border: none;
  color: black;
  padding: 25px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.table-header-button:hover {
  transform: scale(1.1);
  background-color: #ffffff;
}

/* Search Section */
.listsum-search-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 54%;
}

@media (max-width: 768px) {
  .listsum-search-section {
    margin-left: 0;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .listsum-search-section {
    flex-direction: column;
    align-items: flex-start;
  }
}
/* Search Input Container */
.SearchInputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  /* border: 1px solid #ccc; */
  border-radius: 30px;
  padding: 3px 8px;

}
.search-input-wrapper {
  display: flex;
  align-items: center;
  width: 161px;
  height: 34px;
  position: relative; /* Add this to make the .search-icon position relative to the wrapper */
 
}

/* Search Icon */
.icon {
  position: absolute;
  left: 12px; /* Adjust the position of the icon */
  top: 50%;
  transform: translateY(-50%); /* Center the icon vertically */
  color: black;
}

/* Search Input */
.search-Inputss {
  width: 100%;
  padding: 8px 16px 8px 40px; /*Increase the left padding to make space for the icon */
  /* font-size: 13px; */
  border-radius: 30px;
  outline: none;
  border: none;
  
}

.Search-input::placeholder {
  color: black;
}

.search-input:focus {
  outline: none;
}

/* Dropdown */
.dropdown {
  padding: 5px;
  border: 1px solid #ccc;

  border-radius: 5px;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

/* Table Header */
.table th {
  background-color: #f8f9fa;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

/* Table Row */
.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:nth-child(odd) {
  background-color: #fff;
}

.table td {
  padding: 10px;
  text-align: center;
}

  

/* Show Details Button */
.show-details-button {
  padding: 5px 10px;
  border: none;
  background-color: #8C9094;
  color: black;
  border-radius: 10px;
  cursor: pointer;
}

.show-details-button:hover {
  background-color: #5a6268;
}


.action-button {
  padding: 5px 10px;
  /* border:1px solid  black; */
  /* background-color: #007bff; */
  color: rgb(24, 23, 23);
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
}

.action-button:hover {
  background-color: #8C9094;
}

/* Listings Table Wrapper */
.listings-table-wrapper {
  background-color: #e9ecef;
  border-radius: 10px;
  width: 100%;
}

/* Pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f28a8a;
  color: black;
  text-decoration: none;
  line-height: 40px;
  font-size: 16px;
}

.page-link:hover {
  background-color: #e07070;
}

.page-link.active {
  background-color: #ff0000;
  color: black;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .table,
  .table thead,
  .table tbody,
  .table th,
  .table td,
  .table tr {
   font-size: 12px;
   max-width:86px;
  }

  .table th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table td {
    border: none;
    position: relative;
    padding-left: 50%;
  }

  .table td:before {
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
}
@media (max-width: 768px) {
  .pagination-list {
    flex-wrap: wrap;
  }

  .page-item {
    margin: 5px;
  }

  .page-link {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }
}
