:root {
    --image-height: 200px;
}

.listing-preview{
    position: relative;
    font-size: var(--d-body-text);
}
.listing-preview .listing-preview--container{
    width: calc(var(--default-page-size) + 60px);
    margin: auto;
}

/* Preview Image */
.listing-preview__image{
    position: relative;
}

/* Preview Image Tags */
.listing-preview--tags{
    display: flex;
    z-index: 3;
    flex-direction: column;
    color: red;
    font-weight: 500;
}

.listing-preview--tags .tag--top{
    justify-content: end;
    top: 0;
    /* right: 0; */
}
.listing-preview--tags .tag--top,
.listing-preview--tags .tag--bottom{
    position: absolute;
    padding: 20px;
    width: calc(var(--default-page-size) + 60px);
}

.listing-preview--tags .tag--bottom,
.listing-preview--tags .tag--top,
.listing-preview--tags .tag--bottom .listing-preview--tag-wrapper
{
    display: flex;
}

.listing-preview--tags .tag--bottom{
    /* bottom: 0; */
    justify-content: space-between;
    top: 21rem;
}
.listing-preview--tags .tag--bottom .listing-preview--tag-wrapper{
    gap: 15px;
}
.listing-preview--tags .tag--bottom .listing-preview--tag-wrapper:nth-child(2){
    justify-content: end;
}

.listing-preview--tag{
    background-color: white;
    border-radius: var(--radius);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.listing-preview--tag .tag-icon, 
.listing-preview--tag .tag-icon img,
.listing-preview--tag .tag-icon .tag-icon__heart,
.listing-preview--tag .tag-icon .tag-icon__heart svg{
    width: 25px;
    height: 25px;
}
.listing-preview--tag.tag__btn{
    cursor: pointer;
}
.listing-preview--tag.tag__btn:hover{
    color: black;
    border: 1px solid black;
}

.listing-preview--tag.tag__price{
    background-color: var(--red);
    color: var(--white);
}
.listing-preview--tag.tag__sale-type{
    color: var(--black);
}

/* Listing Content */
.listing-preview--content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

.listing-preview--content .listing-preview__listing-details section,
.listing-preview__listing-contact{
    background-color: var(--white);
    border-radius: var(--radius);
    margin: 25px 0;
    padding: 20px;
}
/* Sections */
.listing-preview--content .listing-preview__listing-details section h4{
    color: black !important;
}
.listing-preview__listing-pre-approved{
    margin-top: 10px;
}
.listing-preview__listing-pre-approved a{
    color: var(--red);
    font-weight: var(--header-2-fw);
    font-size: calc(var(--d-body-text) + 2px);
    text-decoration: underline;
}
.listing-preview__listing-about--items{
    display: flex;
    gap: 10px;
}
.listing-preview__listing-about--items .listing-preview__listing-about--item{
    border-radius: var(--radius);
    border: 1px solid #c3c3c3;
    padding: 10px 15px;
}
.listing-preview__listing-about-item--value{
    display: flex;
    gap: 6px;
    align-items: center;
    margin: 5px 0;
}

.listing-preview__listing-description,
.listing-preview__listing-about--items,
.listing-preview__map,
.listing-preview__listing-specifications--table{
    margin: 20px 0 15px;
}
/* MAP */
.listing-preview__map .Brokerage-map-Container{
    border-radius: var(--radius);
    height: 30vh;
    width: 100%;
    position: relative;
    outline-style: none;
}

/* Table */
.listing-preview__listing-specifications--table,
.listing-preview__listing-highlights--table{
    border: 2px solid var(--mute-white);
    border-radius: var(--radius);
}
.listing-preview__listing-specifications--table table{
    font-size: var(--d-body-text) !important;
}
.listing-preview__listing-specifications--table table th,
.listing-preview__listing-highlights--table table th{
    font-size: calc(var(--d-body-text) + 2px) !important;
    font-weight: var(--header-1-fw) !important;
}

.listing-preview__listing-specifications--table table tr td,
.listing-preview__listing-highlights--table table tr td{
    border-bottom: none !important;
}
.listing-preview__listing-highlights--table{
    margin: 30px 0;
}

/* Contact */
.listing-preview__listing-contact{
    position: sticky;
    top: 80px;
    align-self: start;
}
.listing-preview__listing-contact h4{
    color: black;
}

.listing__contact--form{
    margin: 10px 0;
}
.listing__contact--form-control{
    margin: 20px 0;
}

.listing__contact--form-control input,
.listing__contact--form-control textarea{
    padding: 7px 11px;
    border-color: #c3c3c3 ;
}

.listing__contact--form-btns div button,
.listing__contact--form-control input,
.listing__contact--form-control textarea{
    font-size: var(--d-body-text);
    border-radius: var(--radius);
}

.listing__contact--form-control input:hover,
.listing__contact--form-control input:focus,
.listing__contact--form-control textarea:hover,
.listing__contact--form-control textarea:focus{
    border-color: var(--red);
}

.listing__contact--form-btns div button{
    width: 100%;
    margin: 7px 0;
    height: 38px;
    font-weight: var(--header-2-fw);
}

.listing__contact--form-btns .form__btn--calculator button,
.listing__contact--form-btns .form__btn--calculator button:hover{
    border-color: #c3c3c3 !important;
    color: black !important;

}
.listing__contact--form-btns .form__btn--send button,
.listing__contact--form-btns .form__btn--send button:hover{
    background-color: var(--red) !important;
    border-color: var(--red) !important;
    color: white !important;
}

/* hr */
.listing-preview--divider{
    border-bottom: 1px solid var(--mute-white);
    margin: 10px 0;
}

/* More Properties */
.listing-preview--more-properties{
    margin: 30px 0;
}