.login-content-container {
	background: rgba(0, 0, 0, 0.4) url("../asset/banners/dashboard-banner.png") !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-blend-mode: darken !important;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
}
.login-content {
	background-color: white;
	opacity: 0.9;
	width: 350px;
	height: 460px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	border-radius: var(--radius);
	padding: 26px 0px;
	gap: 20px;
}
.login-content .logo-area img {
	width: 167px;
	height: 72px;
	/* padding-left: 80px; */
}
.login-content .gen-content-login {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	/* gap: 29px; */
}
.login-content .gen-content-login #signin {
	font-size: 15px;
}
.login-content .gen-content-login #no-account {
	font-size: calc(var(--d-body-text) - 1px);
	padding-top: 88px;
	text-align: center;
}
.mobile-input-login-group #mobile-num-label {
	font-size: 15px;
}
/* .mobile-input-login-group {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	padding-top: 21px;
} */

.login-input-groups .react-tel-input .form-control {
	/* width: 236px; */
	width: 100%;
	height: 40px;
	border-radius: var(--radius);
	padding-left: 50px;
	border: 1px solid rgba(140, 144, 148, 0.7);
	font-size: var(--d-body-text);
}
.login-input-groups .react-tel-input .flag-dropdown,
.login-input-groups .react-tel-input .flag-dropdown.open {
	border-radius: var(--radius) 0 0 var(--radius);
	border: 1px solid rgba(140, 144, 148, 0.7);
	width: 45px;
	background-color: transparent;
}
.login-input-groups .react-tel-input .flag-dropdown.open .selected-flag {
	border-radius: 10px 0 0 10px;
	background: none;
}
.login-input-groups .react-tel-input .selected-flag:hover,
.login-input-groups .react-tel-input .selected-flag:focus {
	background: none;
	border-radius: 10px 0 0 10px;
}
.login-input-groups .react-tel-input .country-list .country:hover,
.login-input-groups .react-tel-input .country-list .country,
.login-input-groups .react-tel-input .country-list {
	width: 236px;
	border-radius: 10px;
}
.login-input-groups .react-tel-input .country-list {
	margin: 2px 0px 0px 0px;
}
.login-slider {
	width: 100%;
	/* display: flex; */
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.mobile-input-login-group {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-bottom: 0px;
	height: 100%;
	padding-top: 21px;
	/* padding-left: 52px; */
}

.user-details-wrap li {
	list-style-type: none;
	font-size: var(--d-body-text);
}
.user-details-wrap {
	padding-top: 20px;
}
.success-login-userdetails {
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
}
.sub-groups-userdetails span {
	font-size: calc(var(--d-body-text) - 1px);
	/* text-align: center; */
	text-overflow: inherit;
	padding-inline-end: 0px !important;
}
.sub-groups-userdetails {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0 30px;
}
.sub-groups-user-bdate {
	display: flex;
	flex-direction: row;
	margin-bottom: 0px;
	justify-content: space-between;
	gap: 10px;
}
.sub-groups-user-bdate .user-bdate-month{
	width: 100%;
}
.user-bdate-day{
	width: 50%;
}
.user-bdate-year{
	width: 70%;
}
.user-bdate-month span.ant-select-selection-item{
	text-overflow: unset;
}
.bdate-with-error{
	height: 100px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	flex-wrap: wrap;
	width: 100%;
	/* width: 260px; */
}
.month-select-options,
.date-select-options,
.year-select-options {
	width: 100%;
	/* width: 70px !important; */
	height: 38px;
	border-radius: var(--radius) !important;
	border: 1px solid rgba(160, 160, 160, 1) !important;
}

.sub-groups-user-bdate .ant-select .ant-select-selector {
	border: none;
	background: none;
	/* width: 70px !important; */
}
.sub-groups-user-bdate .ant-select .ant-select-arrow {
	width: 7px !important;
	height: 14px !important;
	color: black;
	border: none;
}
.user-logged-in {
	width: 100%;
	/* display: flex; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;
	padding-bottom: 0px;
	justify-content: center;
}
.user-logged-in #continue-login-button,
.login-slider #continue-login-button {
	/* width: 221px;
	height: 47px; */
	background-color: var(--red);
	color: white;
	border: none;
}
.user-logged-in #back-login-button,
.login-slider #back-login-button {
	border: 1px solid rgba(160, 160, 160, 1);
}
.user-logged-in #back-login-button,
.user-logged-in #continue-login-button,
.login-slider #continue-login-button,
.login-slider #back-login-button{
	padding: 10px 20px;
	cursor: pointer;
	font-size: var(--d-body-text);
	border-radius: var(--radius);
	/* width: 120px; */

}
.user-action-group-login {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.user-not-found {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	gap: 30px;
}

.user-not-found-input-group {
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.user-not-found-input-group input {
	width: 235px;
	height: 38px;
	justify-content: center;
	align-items: center;
	display: flex;
	border-radius: var(--radius);
	padding: 0px 10px;
	color: #444444;
	border: 1px solid rgba(140, 144, 148, 1);
	outline: none;
}
.user-det-input .ant-picker .ant-picker-outlined {
	width: 245px;
	height: 38px;
	justify-content: center;
	align-items: center;
	display: flex;
	border-radius: 10px;
	padding: 0px;
	color: rgba(160, 160, 160, 1);
	border: 1px solid rgba(140, 144, 148, 1);
}
.user-det-input .ant-picker .ant-picker-input , .ant-picker .ant-picker-input input{
	width: 230px;
	font-size: 15px;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 30px;
	padding: 0px;
	color: rgba(160, 160, 160, 1);
}
 .ant-picker .ant-picker-input input{
	color: #444444;
 }
.user-det-input .ant-picker {
	border: 1px solid rgba(140, 144, 148, 1);
	justify-content: center;
	align-items: center;
	display: flex;
}
.user-not-found-input-group input::placeholder {
	text-align: center;
}
.otp-verification-container {
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 50px;
	gap: 10px;
}
.otp-verification-container .otp-header {
	/* font-size: va; */
	text-align: center;
}

.otp-verification-container .otp-input-group{
	margin-top: 20px;
}
.otp-verification-container .user-logged-in {
	padding-top: 120px;
}
.otp-verification-container .resend-otp {
	font-size: calc(var(--d-body-text) - 2px);
	color: rgba(160, 160, 160, 1);
	padding: 15px 0;
}
.otp-input-group input {
	width: 25px;
	height: 40px;
	text-align: center;
	margin: 0 5px;
	border-bottom: 2px solid rgba(149, 149, 149, 1) !important ;
	border: none;
	box-shadow: none;
	font-size: 18px;
	outline: none;
}
.user-not-found-input-group input[type="date"] {
	width: 245px;
}
.otp-and-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}
.login-input-groups{
	width: 100%;
}
/* .login-slider .ReactSwipeButton {
	border-radius: 30px !important;
    overflow: hidden !important;
}
.login-slider .rsbContainer {
	width: 236px !important;
	height: 47px !important;
	background-color: var(--red) !important;
	border-radius: 30px !important;
}
.login-slider .rsbcText {
    content: "" !important;
	font-family: var(--font-family);
	color: white !important;
    width: 100% !important;
    font-size: 14px !important;
    padding-left: 25px !important;
}
.login-slider .rsbcSliderArrow {
	display: none !important;
}
.login-slider .rsbcSliderCircle {
    border-radius: 30px !important;
    background-color: white !important;
    background-image: url("../asset/icons/login-swipe-handle.png") !important;
    background-repeat: no-repeat !important;
    background-size: 25px !important; 
    background-position: center center !important; 
    display: flex !important; 
    justify-content: center !important;  
    align-items: center !important; 
}



.login-slider  .rsbcSlider  {
    border-radius: 30px !important;
     left: 48px !important;
     background-color: var(--red) !important;
} 
.login-slider  .rsbcSlider .rsbcSliderText{
    content: "" !important;

}
.rsbcSliderText .default_pointer_cs{
    display: none;

}
.rsbContainerUnlocked{
	margin: 0px !important;
	background-color: white !important;
	
} */

@media screen and (min-width: 360px) and (max-width: 1024px) {
	.login-content {
		width: 300px;
	}
}
