*{
    padding: 0;
    margin: 0;
}


.mortgageContent{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
}

.mortgage-h1{
    font-size: 2rem;
    margin-top: 5%;
}

.mortgageContent .mortgage-subheader{
    font-size: 1.2rem;
    font-weight: 300px;
    color: #8C9094;
}

.mortBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
    margin-top: 1%;
    height:100%;
}

.purchasebtn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D90000;
    color: #fff;
    width: 18%;
    border-radius: 30px;
    gap: 2.2rem;
}

#home-icon{
    font-size: 3rem;
}

.purchasebtn p{
    font-size: 1rem;
}

#dollar-icon{
    font-size: 3rem;
}

.refinancebtn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D90000;
    color: #fff;
    width: 18%;
    padding: 2%;
    border-radius: 30px;
    gap: 2.2rem;
}

.refinancebtn p{
    font-size: 1rem;
}

.mortgage-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

@media only screen and (max-width: 1028px ) {
    .mortgageContent{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
    }
    
    .mortgage-h1{
        font-size: 1.5rem;
        margin-top: 5%;
    }
    
    .mortgage-subheader{
        font-size: 1rem;
        font-weight: lighter;
        color: #8C9094;
    }
    
    .mortBtn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
        font-size: 1.5rem;
        margin-top: .1rem;
        height:100%;
    }
    
    #home-icon{
        font-size: 2rem;
    }
    
    .purchasebtn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #D90000;
        color: #fff;
        width: 28%;
        height: 8rem;
        border-radius: 20px;
        gap: 1rem;
    }
    
    .purchasebtn p{
        font-size: 50%;
    }

    #dollar-icon{
        font-size: 2rem;
    }
    
    .refinancebtn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #D90000;
        color: #fff;
        width: 28%;
        border-radius: 20px;
        gap: 1rem;
    }
    
    .refinancebtn p{
        font-size: 50%;
    }
    
    .mortgage-title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: .5rem;
    }
}

@media only screen and (max-width: 720px ){
    .mortgageContent{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
    }
    
    .mortgage-h1{
        font-size: 60%;
        margin-top: 5%;
    }
    
    .mortgage-subheader{
        font-size: 40%;
        font-weight: lighter;
        color: #8C9094;
    }
    
    .mortBtn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        font-size: 1.5rem;
        margin-top: 1%;
    }

    .button-container{
        display: flex;
        height: 100%;
        width: 100%;
    }
    
    .purchasebtn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #D90000;
        color: #fff;
        width: 40%;
        border-radius: 20px;
        gap: 1rem;
    }
    
    #home-icon{
        font-size: 1.5rem;
    }
    
    .purchasebtn p{
        font-size: 35%;
    }
    
    #dollar-icon{
        font-size: 1.5rem;
    }
    
    .refinancebtn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #D90000;
        color: #fff;
        width: 40%;
        border-radius: 20px;
        gap: 1rem;
    }
    
    .refinancebtn p{
        font-size: 35%;
    }
    
    .mortgage-title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: .5rem;
    }
}