   
  .calc{
    width: 100%;
  }
  .mortContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.mort-content{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mort-content-1{
  display: flex;
  flex-direction: row;
  gap:50px;
  justify-content: center;
}

.calculator-header{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.subLabel{
  font-size: 14px;
  color: #8C9094;
}

.paymentDesc{
  font-size: 14px;
  color: #8C9094;
}

.mortgageContent{
  display: flex;
  flex-direction: column;
  text-align: left;
  width:100%;  
  gap: 1rem;

}

.inputInfos{
    display: flex;
    border-color: #d90000;
    padding: 15px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    color: #8C9094;
  }
  .calc .container{
    width: 100%;
    margin: 20px auto;
  }


  .container{
    display: flex;
    border-color: #d90000;
    padding: 15px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
  }

.first-column{
  display: flex;
  width: 39%;
}

.second-column{
  display: flex;
  width: 50%;
}
.calcRange{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5rem;
}
.calcRangeContainer{
  display: flex;
  background-color: #FFF0F0;
  width: 90%;
  margin-top: 3%;
  padding: 2%;
  border-radius: 30px;
  height: 60%;
}
.resetbtn{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 11%;
}

#Resetbtn{
  width: 10%;
  height: 80%;
  border-color: #d90000;
  background-color: transparent;
  color: #d90000;
  font-weight: bolder;
  border-radius: 10px;
  border-width: 1px;
  font-size: larger;
}

.mortRange{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  margin-left: 2%;
}

.mortRange h2{
  font-size: 2rem;
}

.mortRange h4{
  font-size: 1rem;
  color: #8C9094;
}

.interest{
  /* margin-top: 20%; */
  font-size: 1.1rem;
  margin-top: 3%;
  color: #8C9094;
}

.preApprovedbtn{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin-top: 15%; */
  margin-left: 2%;
}

#PreApprovedbtn{
  border-color: #d90000;
  background-color: transparent;
  color: #d90000;
  padding: 10px 40px;
  font-weight: bold;
  border-radius: 5px;
  border-width: 1px;
  height: 100%;
  font-size: x-large;
}