/* .navigation-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.navigation-header .div {
  background-color: #ffffff;
  height: 91px;
  position: relative;
  width: 1440px;
}

.navigation-header .ML-logo {
  height: 85px;
  left: 14px;
  position: absolute;
  top: 3px;
  width: 323px;
}

.navigation-header .navigation {
  height: 37px;
  left: 427px;
  position: absolute;
  top: 26px;
  width: 993px;
}

.navigation-header .navbar {
  height: 26px;
  left: 450px;
  position: absolute;
  top: 6px;
  width: 692px;
}

.navigation-header .text-wrapper {
  color: #8c9094;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 209px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 95px;
}

.navigation-header .text-wrapper-2 {
  color: #8c9094;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 321px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 137px;
}

.navigation-header .text-wrapper-3 {
  color: #8c9094;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 473px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 120px;
}

.navigation-header .text-wrapper-4 {
  color: #8c9094;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 52px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 36px;
}

.navigation-header .text-wrapper-5 {
  color: #8c9094;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 608px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 68px;
}

.navigation-header .text-wrapper-6 {
  color: #8c9094;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 165px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 31px;
}

.navigation-header .text-wrapper-7 {
  color: #8b8f94;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 39px;
}

.navigation-header .text-wrapper-8 {
  color: #8b8f94;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px;
}

.navigation-header .toprightmenu {
  height: 37px;
  left: 1180px;
  position: absolute;
  top: 0;
  width: 286px;
}

.navigation-header .list-your-property {
  height: 37px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 200px;
}

.navigation-header .overlap-group {
  background-color: #d90000;
  border-radius: 30px;
  box-shadow: 0px 4px 4px #00000040;
  height: 37px;
  position: relative;
  width: 164px;
}

.navigation-header .list-your-prop {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 125px;
}

.navigation-header .username {
  height: 37px;
  left: 173px;
  position: absolute;
  top: 0;
  width: 114px;
}

.navigation-header .overlap {
  background-color: #d90000;
  border-radius: 30px;
  height: 37px;
  position: relative;
  width: 112px;
}

.navigation-header .user-cicrle {
  height: 26px !important;
  left: 15px !important;
  position: absolute !important;
  top: 6px !important;
  width: 26px !important;
}

.navigation-header .text-wrapper-9 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 42px;
}

.navigation-header .vector {
  height: 4px;
  left: 90px;
  position: absolute;
  top: 16px;
  width: 8px;
} */



.ml-logo-icon {
  width: 323px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.sell {
  text-decoration: none;
  width: 29.8px;
  position: relative;
  color: inherit;
  display: inline-block;
}
.secondary-navigation-labels {
  width: 35.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 0;
  box-sizing: border-box;
}
.new,
.rent {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
}
.new {
  width: 35.7px;
  flex-shrink: 0;
  min-width: 35.7px;
}
.rent {
  width: 38.7px;
}
.secondary-navigation-labels1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
}
.buy {
  text-decoration: none;
  width: 30.8px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  min-width: 30.8px;
}
.secondary-navigation,
.secondary-navigation-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.secondary-navigation-items {
  align-self: stretch;
  flex-direction: row;
  gap: 15.9px;
}
.secondary-navigation {
  width: 195.6px;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.home-loan {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  color: inherit;
  white-space: nowrap;
}
.primary-navigation-items {
  width: 95.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.home-insurance {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  color: inherit;
  white-space: nowrap;
}
.primary-navigation-items1 {
  width: 137px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.other-services {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  color: inherit;
  white-space: nowrap;
}
.primary-navigation-items2 {
  width: 120.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.contact {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 68.5px;
}
.primary-navigation-items3 {
  width: 85.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 17px 0 0;
  box-sizing: border-box;
}
.list-your-property-child {
  height: 34.8px;
  width: 163.9px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  background-color: var(--color-red);
  display: none;
}
.list-your-prop {
  text-decoration: none;
  margin-top: 4px;
  flex: 1;
  position: relative;
  color: inherit;
  z-index: 1;
}
.list-property,
.list-your-property {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-your-property {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  background-color: var(--color-red);
  flex-direction: row;
  padding: 3.4px 19px 8.9px;
  flex-shrink: 0;
  white-space: nowrap;
}
.list-property {
  flex: 1;
  flex-direction: column;
  padding: 1.1px 0 0;
}
.username-child {
  height: 37.1px;
  width: 112.3px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-red);
  display: none;
}
.user-cicrle-icon {
  height: 23px;
  margin-top: 3px;
  width: 25.8px;
}
.dropdown-icon,
.marie,
.user-cicrle-icon {
  position: relative;
  z-index: 1;
}
.marie {
  margin-top: 3px;
  text-decoration: none;
  flex: 1;
  color: inherit;
}
.dropdown-icon {
  width: 10px;
  height: 6px;
  object-fit: contain;
}
.user-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10.1px 0 0;
}
.username {
  width: 112.3px;
  border-radius: var(--br-11xl);
  background-color: var(--color-red);
  padding: 5.6px 12px 5.7px var(--padding-sm);
  box-sizing: border-box;
  gap: 3.4px;
  flex-shrink: 0;
}
.primary-navigation,
.user-actions,
.username {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-actions {
  flex: 1;
  gap: 9.5px;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.primary-navigation {
  align-self: stretch;
  padding: 0 4px 0 0;
  gap: 13.9px;
}
.header,
.navigationheader {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.header {
  width: 992.7px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 23px 0 0;
  max-width: 100%;
}
.navigationheader {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-10xs) 20px var(--padding-10xs) var(--padding-sm);
  top: 0;
  z-index: 99;
  position: sticky;
  line-height: normal;
  letter-spacing: normal;
  gap: 20px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1316px) {
  .primary-navigation {
    display: none;
  }
  .header {
    width: 0;
  }
}

