.custom-nav-link {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: small;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.custom-nav-link:hover {
  text-decoration: underline;
}

.custom-nav-link.active {
  color: #8c9094;
}
