/* :root {
    --newpage-row-height: 80vh;
  }
   */
.newpage {
	display: flex;
	flex-direction: column;
	background-color: #f7f7f7;
	width: 100%;
}

.newpage-container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0px 0;
}
.newpage-contents {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	max-width: 100%;
	height: 100%;
}

.second-content {
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	/* font-size: 32px; */
	font-weight: normal;
	width: 100%;
}
.second-content h1 {
	font-size: 30px;
	margin: 0px 0px 20px 120px;
	/* padding: 0 110px; */
}
.new-page-label {
	position: relative;
	margin: 0px 100px 0px 0px;
}

/* newpage.css */

.newpage .second-content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.entry-count {
  font-size: 16px;
  font-weight: normal;
  color: #8C9094;
}


@media screen and (min-width: 320px) and (max-width: 359px) {
	.newpage-container {
		justify-content: left;
		display: flex;
        justify-content: center;
        align-items: center;
	}

	.newpage-contents {
		grid-gap: 20px;
		width: 100%;
	}

	.second-content {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0;
	}

	.second-content h1 {
		font-size: 22px;
		margin-left:20px;
		padding: 0px;
	}
	/* .second-content .card-container {
		margin: 0px;
		width: 310px;
	} */
/* 
	.card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-radius: 20px;
	height: 200px;
} */


}

@media screen and (min-width: 360px) and (max-width: 480px) {
	.newpage-container {
		justify-content: left;
		display: flex;
        justify-content: center;
        align-items: center;
	}

	.newpage-contents {
		grid-gap: 20px;
		width: 100%;
	}
	.second-content h1 {
		font-size: 22px;
		margin: 0px;
		padding: 10px;
	}
	
	.second-content {
    display: flex;
    flex-direction: column;
	width: 100%;
	padding: 5px;
	}

}
@media screen and (min-width: 481px) and (max-width: 768px) {
	.second-content h1 {
		font-size: 28px;
		margin: 0px;
		padding: 20px 20px;
	}
	
	.second-content {
    display: flex;
    flex-direction: column;
	width: 100%;
	padding: 5px;
	}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.second-content h1 {
		font-size: 28px;
		margin: 40px 0px 20px 20px;
	}
	
	.second-content {
    display: flex;
    flex-direction: column;
	width: 100%;
	padding: 10px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
	.second-content h1 {
		font-size: 28px;
		margin: 0;
		padding: 20px 40px;
		/* margin: 40px 0px 20px 40px; */
	}
	
	.second-content {
    display: flex;
    flex-direction: column;
	width: 100%;
	padding: 10px;
	}
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
	.second-content h1 {
		font-size: 30px;
		margin: 40px 0px 20px 50px;
		padding: 0px 20px;
	}
	
	.second-content {
    display: flex;
    flex-direction: column;
	width: 100%;
	padding: 10px;
	}
}




@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* .newpage .card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
	width: 100%;
}  */

.second-content h1 {
    font-size: 30px;
    margin: 0px;
	padding: 0 20px;
}
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
	/* .newpage .card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
	width: 100%;
}  */
.second-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* font-size: 32px; */
    font-weight: normal;
}
}
