.whole-property-search-page {
  background: white;
}

.custom-modal-searchprop {
  width: auto;
}

.custom-modal-searchprop .ant-modal-close {
  display: none;
}
.ant-modal-body {
  background-color: transparent;
}
.ant-modal .ant-modal-content {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0px;
}
.ant-modal .ant-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.whole-property-search-page {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background: #d9d9d9;
  flex-direction: column;
}

.toptitle {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.toptitle h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.toptitle span {
  font-size: 16px;
  color: #555;
}

.why-choose-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.how-it-works {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.why-choose-us h2,
.how-it-works h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.why-choose-us ul {
  list-style: none;
  padding: 0;
}

.why-choose-us li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.why-choose-us li::before {
  content: "●";
  color: red;
  font-size: 20px;
  position: absolute;
  left: 0;
  margin-bottom: 20px;
  top: 0;
}

.how-it-works .steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
}

.how-it-works .step {
  background: #d9d9d9;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.how-it-works .step label,
.how-it-works .step span {
  font-weight: bold;
}

.form-section {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.property-search-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
  /* padding:10px; */
  background-color: #f7f7f7;
  padding: 40px 30px 10px;
}

.form-row {
  width: 100%;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.left-form-row {
  width: 100%;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.form-row input:not(#featureAmenities),
.form-row .form-column select {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.form-row input:disabled,
.form-row select:disabled {
  border-color: #d9d9d9;
  background-color: #d9d9d9;
}
.form-column {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex-direction: column;
  width: 100%;
}
.submit-row {
  justify-content: right;
}

.submit-row button {
  background: red;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.modal-content-searchprop {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
}
.success-modal-searchpro .ant-modal {
  background-color: transparent;
}
.success-modal-content h2 {
  color: #276638;
  font-size: 18px;
}
.success-modal-content p {
  font-size: 13px;
}
.success-modal-searchprop .ant-modal-close {
  display: none;
}
.success-modal-searchprop .ant-modal-content {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.success-modal-content {
  background-color: #fff;
  padding: 40px 10px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
}
.property-search-form .form-row .form-column #featureAmenities {
  height: 45px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
/* @media screen and (min-width: 1300px) and (max-width: 1502px) {
  .property-search-form {
    width: 100%;
    padding: 40px 20px 10px;
  }
  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
*/
@media screen and (min-width: 1300px) {
  .modal-content-searchprop {
    width: 80%;
    padding: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  .ant-modal .ant-modal-body {
    width: 100%;
  }
  .modal-content-searchprop {
    /* width: 250px; */
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  .toptitle {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .toptitle h1 {
    font-size: 20px;
  }
  .toptitle span {
    font-size: 15px;
  }
  .how-it-works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .how-it-works .steps {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
  .how-it-works .step {
    width: 80%;
  }
  .form-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form-section h3 {
    width: 100%;
  }
  .form-section p {
    width: 100%;
  }
  .form-section .property-search-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form-row {
    display: flex;
    flex-direction: column;
  }
  .left-form-row {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .ant-modal .ant-modal-body {
    width: 100%;
  }
  .modal-content-searchprop {
    /* width: 300px; */
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
  }
  .toptitle {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .toptitle h1 {
    font-size: 20px;
  }
  .toptitle span {
    font-size: 15px;
  }
  .how-it-works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .how-it-works .steps {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
  .how-it-works .step {
    width: 80%;
  }
  .form-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form-section h3 {
    width: 100%;
  }
  .form-section p {
    width: 100%;
  }
  .form-section .property-search-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form-row {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .left-form-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 650px;
    gap: 30px;
  }
  .ant-modal .ant-modal-body {
    width: 100%;
  }
  .modal-content-searchprop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .toptitle {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .toptitle h1 {
    font-size: 20px;
  }
  .toptitle span {
    font-size: 15px;
  }
  .how-it-works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .how-it-works .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 0px;
  }
  .how-it-works .step {
    width: 30%;
  }
  .form-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form-section h3 {
    width: 100%;
  }
  .form-section p {
    width: 100%;
  }
  .form-section .property-search-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 650px;
    gap: 30px;
  }
  .form-column {
    width: 45%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .how-it-works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .how-it-works .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    width: 100%;
    padding: 0px;
  }
  .how-it-works .step {
    width: 30%;
  }
  .form-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form-section h3 {
    width: 100%;
  }
  .form-section p {
    width: 100%;
  }
  .form-section .property-search-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 98%;
  }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    gap: 20px;
  }
  .form-column {
    width: 45%;
  }
  .submit-row {
    justify-content: right;
  }
}
