.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination span {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  background-color: #f8d7da;
  color: #721c24;
}

.pagination span.active {
  background-color: #ff0000;
  color: white;
  border-color: #ff0000;
}

.pagination span:hover {
  background-color: #ddd;
}

.pagination span:first-child,
.pagination span:last-child {
  border: none;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}
