.custom-pagination {
  display: flex;
  justify-content: space-between;
  padding:10px 110px 10px 110px;
  width: 100%;
  margin: 30px 0 10px;
}

.custom-pagination .pagination-numbers span {
  margin: 0 5px;
  padding: 15px 25px;
  border: 1px solid #8C9094;
  border-radius: 7px;
  cursor: pointer;
  background-color: transparent;
  color: #8C9094;
}
.custom-pagination span {
  margin: 0 5px;
  padding: 10px;
  /* border-color: #8C9094; */
  border: 1px solid #E8E7E6;
  border-radius: 5px;
  cursor:not-allowed;
  background-color: transparent;
  color: #E8E7E6;
  font-weight: 300;
  font-size: 22px;
}
.custom-pagination span.active{
  border: 1px solid #8C9094;
  background-color: transparent;
  color: #8C9094;
  cursor: pointer;
}

.custom-pagination span .anticon{
  border: none;
}

.custom-pagination .pagination-numbers span.active {
  background-color: #8C9094;
  color: white;
  border-color: #8C9094;
}


.pagination-numbers {
  display: flex;
  justify-content: center;
}


.custom-pagination .pagination-numbers span:first-child,
.custom-pagination .pagination-numbers span:last-child {
  border: none;
  font-size: 22px;
  display: flex;
  align-items: center;
}
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

@media only screen and (min-width: 320px) and (max-width: 359px){
.custom-pagination {
  padding:0px;
  margin-bottom: 20px;
}
.custom-pagination span {
  margin: 0 5px;
  padding: 5px;
  font-weight: 300;
  font-size: 15px;
}
.custom-pagination .pagination-numbers span {
  margin: 0 5px;
  padding: 5px 10px;
}
}

@media screen and (min-width:360px) and (max-width: 480px){
.custom-pagination {
  padding:0px;
  margin-bottom: 20px;
}
.custom-pagination span {
  margin: 0 5px;
  padding: 5px;
  font-weight: 300;
  font-size: 15px;
}
.custom-pagination .pagination-numbers span {
  margin: 0 5px;
  padding: 5px 10px;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
.custom-pagination {
  padding:0px;
  margin-bottom: 20px;
}
.custom-pagination span {
  margin: 0 5px;
  padding: 10px;
  font-weight: 300;
  font-size: 15px;
}
.custom-pagination .pagination-numbers span {
  margin: 0 5px;
  padding: 10px 15px;
}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
.custom-pagination {
  padding:0px;
  margin-bottom: 20px;
}
.custom-pagination span {
  margin: 0 5px;
  padding: 10px;
  font-size: 15px;
}
.custom-pagination .pagination-numbers span {
  margin: 0 5px;
  padding: 15px 20px;
}
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
.custom-pagination {
  padding:0px;
  margin-bottom: 20px;
}
.custom-pagination span {
  margin: 10px 30px;
  padding: 5px;
  font-size: 18px;
}
.custom-pagination .pagination-numbers span {
  margin: 0 10px;
   padding: 15px 20px;
}
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
.custom-pagination {
  padding:0px;
  margin-bottom: 20px;
}
.custom-pagination span {
   margin: 10px 30px;
  padding: 5px;
  font-weight: 300;
  font-size: 18px;
}
.custom-pagination .pagination-numbers span {
  padding: 15px 20px;
}
}