.pre-selling-container {
	width: 100%;
	/* height: 100vh; */
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pre-selling-content {
	width: var(--default-page-size);
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin-bottom: 50px;
}
.pre-selling-content .preselling-search-bar {
	background-color: var(--white);
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 20px;
	border-radius: 10px;
}
.search-bar-content {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-grow: 1;
	width: 85%;
	height: 60px;
}
.opbcb-chat-container{
    height: 500px !important;
    margin-bottom: 0px !important;
}
/* .preselling-developers-card {
	height: auto;
} */
.search-real-estate-developer {
	padding: 10px 20px;
	border: 1px solid #8c9094 !important;
	border-radius: 5px;
	width: 100% !important;
	height: 60px;
}
.search-input-options {
	flex: 1;
	margin-right: 10px;
}
.search-select-options {
	gap: 10px;
	display: flex;
	flex-direction: row;
	flex: 1;
	margin-right: 10px;
}

.search-input-options input::placeholder,
.search-select-options .ant-select-selection-placeholder {
	color: #444444 !important;
	font-size: var(--d-body-text);
}
.search-select-options .ant-select-selector {
	border: 1px solid #8c9094 !important;
	border-radius: 5px !important;
}
.search-select-options .ant-select .ant-select-arrow {
	color: #8c9094 !important;
}
.search-select-options .ant-select-single {
	height: 100% !important;
	width: 100%;
}
.preselling-search-button button {
	align-items: flex-end;
	background-color: var(--red);
	border: none;
	width: 100%;
	color: var(--white);
	border-radius: 5px;
	height: 60px;
	font-size: var(--d-body-text);
}
.preselling-search-button {
	flex: 0 0 15%;
	align-items: center;
	justify-content: center;
	align-items: center;
	display: flex;
}
.preselling-developers-card {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	row-gap: 30px;
	flex-wrap: wrap;
	width: var(--default-page-size);
}
.preselling-developers-card .developers-card {
	position: relative;
	border-radius: 8px 8px 8px 8px !important;
	height: auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	background-color: var(--white);
	transition: transform 0.3s ease-in-out;
}

.preselling-developers-card .developers-card:hover {
	transform: scale(1.05);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.developers-logo{
	padding: 10px 20px;
}
.developers-logo img {
	width: 100%;
	height: 120px;
}
.developers-info {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
}
.developers-properties-stat {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-between;
	font-size: calc(var(--d-body-text) - 2px);
}
.developers-name {
	text-align: center;
	font-size: var(--d-body-text);
	height: 50px;
}
.developers-properties-number {
	background-color: #e9ebec;
}

.developers-status {
	background-color: #e3fff0;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
	.pre-selling-container {
		padding-top: 50px;
	}
	.pre-selling-header span {
		text-align: center;
	}
	.pre-selling-content {
		width: 100%;
		padding: 10px 15px;
	}
	.pre-selling-content .preselling-search-bar {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 10px;
	}
	.search-bar-content {
		flex-direction: column;
		height: auto;
		width: 100%;
		gap: 5px;
	}
	.search-select-options {
		flex-direction: column;
		gap: 5px;
		margin-right: 0px;
	}
	.preselling-developers-card {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
	}
	.search-input-options {
		margin-right: 0px;
	}
	.preselling-search-button {
		width: 100%;
	}
	.preselling-search-button button {
		height: auto;
		padding: 5px 0px;
	}
	.search-real-estate-developer {
		padding: 10px;
		height: 30px;
		border: 1px solid #c1c2c4 !important;
	}
	.search-input-options input::placeholder {
		color: #c1c2c4 !important;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
	.pre-selling-container {
		padding-top: 50px;
	}
	.pre-selling-header span {
		text-align: center;
	}
	.pre-selling-content {
		width: 100%;
		padding: 10px 15px;
	}
	.pre-selling-content .preselling-search-bar {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 10px;
	}
	.search-bar-content {
		flex-direction: column;
		height: auto;
		width: 100%;
		gap: 5px;
	}
	.search-select-options {
		flex-direction: column;
		gap: 5px;
		margin-right: 0px;
	}
	.preselling-developers-card {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
	}
	.search-input-options {
		margin-right: 0px;
	}
	.preselling-search-button {
		width: 100%;
	}
	.preselling-search-button button {
		height: auto;
		padding: 5px 0px;
	}
	.search-real-estate-developer {
		padding: 10px;
		height: 30px;
		border: 1px solid #c1c2c4 !important;
	}
	.search-input-options input::placeholder {
		color: #c1c2c4 !important;
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
	.pre-selling-content {
		width: 100%;
		padding: 20px;
	}
	.pre-selling-container {
		padding-top: 50px;
	}
    	.preselling-developers-card {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: 100%;
	}
}
/* .preselling-developers-card .developers-card{
    width: 100%;
} */
