.pre-selling-container {
	width: 100%;
	/* height: 100vh; */
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pre-selling-content {
	width: var(--default-page-size);
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-bottom: 50px;
}
.pre-selling-content .preselling-search-bar {
	background-color: var(--white);
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 20px;
	border-radius: 10px;
}
.search-bar-content {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-grow: 1;
	width: 85%;
	height: 60px;
}
.opbcb-chat-container{
    height: 500px !important;
    margin-bottom: 0px !important;
}
/* .preselling-developers-card {
	height: auto;
} */
.search-real-estate-developer {
	padding: 10px 20px;
	/* border: 1px solid #8c9094 !important;
	border-radius: 5px; */
	width: 100% !important;
	height: 60px;
	outline: none;
}
.search-input-options {
	flex: 1;
	/* margin-right: 10px; */
}
.search-select-options {
	gap: 10px;
	display: flex;
	flex-direction: row;
	flex: 1;
	margin-right: 10px;
}

.search-input-options input::placeholder,
.search-select-options .ant-select-selection-placeholder {
	color: #444444 !important;
	font-size: var(--d-body-text);
}
.search-select-options .ant-select-selector,
.search-real-estate-developer {
	/* border: 1px solid #8c9094 !important; */
	border: 1px solid #bdbdbd !important;
	border-radius: var(--radius) !important;
}
.search-select-options .ant-select .ant-select-arrow {
	color: #8c9094 !important;
}
.search-select-options .ant-select-single {
	height: 100% !important;
	width: 100%;
}
.preselling-search-button button {
	align-items: flex-end;
	background-color: var(--red);
	border: none;
	width: 100%;
	color: var(--white);
	border-radius: var(--radius);
	height: 60px;
	font-size: var(--d-body-text);
}
.preselling-search-button {
	flex: 0 0 15%;
	align-items: center;
	justify-content: center;
	align-items: center;
	display: flex;
}
.preselling-developers-card {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	row-gap: 30px;
	flex-wrap: wrap;
	width: var(--default-page-size);
}
.preselling-developers-card .developers-card {
	position: relative;
	border-radius: 8px 8px 8px 8px !important;
	height: auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	background-color: var(--white);
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
}

.preselling-developers-card .developers-card.developers-card--skeleton,
.preselling-developers-card .developers-card.developers-card--skeleton:hover {
	background-color: transparent;
	cursor: none;
	box-shadow: none;
	transform: none;
	/* border: 1px solid rgba(128, 128, 128, 0.349); */
}

.preselling-developers-card .developers-card:hover {
	transform: scale(1.05);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.developers-logo{
	padding: 20px 0px;
	width: 80%;
	margin: auto;
	display: flex;
}
.developers-logo.developer-logo--skeleton,
.ant-skeleton-image.developers-logo.developer-logo--skeleton{
	width: 100%;

}
.ant-skeleton-image.developers-logo.developer-logo--skeleton{
	height: 130px;
}
.developers-logo img {
	width: 100%;
	height: 120px;
	object-fit: contain;
}
.developers-info {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
}
.developers-info.developers-info--skeleton{
	padding: 5px 0px;
}
.developers-properties-stat {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-direction: row;
	gap: 5px;
	text-align: center;
	justify-content: space-between;
	font-size: 10px !important;
}
.developers-name {
	text-align: center;
	font-size: 13px !important;
	height: 50px;
	
}

.developers-properties-number {
	background-color: #f7f7f7;
	border-radius: 5px;
}

.developers-status {
	background-color: #E3FFF0;
	color:#007C14 ;
	border-radius: 5px;
}
/* .developers-status,
.developers-properties-number{
	padding: 4px;
} */

.no-developers-found{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.no-dev-found__image-wrapper{
	width: 400px;
}
.no-dev-found__image-wrapper img{
	width: 100%;
}
.no-dev-found__message{
	margin: 20px 0 10px;
}
.no-dev-found__message p{
	font-size: calc(var(--d-body-text) + 1px);
}

@media screen and (min-width: 360px) and (max-width: 480px) {
	.pre-selling-container {
		padding-top: 30px;
	}
	.pre-selling-header span {
		text-align: center;
	}
	.pre-selling-header h2 {
		font-size: 21px !important;
	}
	.pre-selling-content {
		width: 100%;
		padding: 10px 15px;
	}
	.pre-selling-content .preselling-search-bar {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 20px;
	}
	.search-bar-content {
		flex-direction: column;
		height: auto;
		width: 100%;
	}
	.search-select-options {
		flex-direction: column;
		margin-right: 0px;
	}
	.preselling-developers-card {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
	}

	.search-input-options {
		margin-right: 0px;
	}
	.preselling-search-button {
		width: 100%;
	}
	.preselling-search-button button {
		height: auto;
		padding: 5px 0px;
	}
	.search-real-estate-developer {
		padding: 10px;
		height: 30px;
		border: 1px solid #c1c2c4 !important;
	}
	.search-input-options input::placeholder {
		color: #c1c2c4 !important;
	}
	.search-select-options .ant-select-single,
	.search-real-estate-developer,
	.preselling-search-button button{
		height: 38px !important;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
	.pre-selling-container {
		padding-top: 50px;
	}
	.pre-selling-header span {
		text-align: center;
	}
	.pre-selling-content {
		width: 100%;
		padding: 10px 15px;
	}
	.pre-selling-content .preselling-search-bar {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 20px;
	}
	.search-bar-content {
		flex-direction: column;
		height: auto;
		width: 100%;
	}
	.search-select-options {
		flex-direction: column;
		margin-right: 0px;
	}
	.preselling-developers-card {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
	}
	.search-input-options {
		margin-right: 0px;
	}
	.preselling-search-button {
		width: 100%;
	}
	.preselling-search-button button {
		/* height: auto; */
		padding: 5px 0px;
	}
	.search-real-estate-developer {
		padding: 10px;
		/* border: 1px solid #c1c2c4 !important; */
	}
	.search-select-options .ant-select-single,
	.search-real-estate-developer,
	.preselling-search-button button{
		height: 38px !important;
	}
	.search-input-options input::placeholder {
		color: #c1c2c4 !important;
	}

}
@media screen and (min-width: 769px) and (max-width: 1024px) {
	.pre-selling-content {
		width: 100%;
		padding: 20px;
	}
	.pre-selling-container {
		padding-top: 50px;
	}
    	.preselling-developers-card {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: 100%;
	}
}
/* .preselling-developers-card .developers-card{
    width: 100%;
} */
