.refinance-container{
    width: 100%;
}
.refinance-content{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}
.refinance-content .refinance-group-one{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
}
.refinance-content .refinance-property-group{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    margin: 20px 0px 0px 100px;
    gap: 30px;
}

h4{
    color: #ff2800;
    font-size: 25px;
    font-weight: bold;
} 
 .ref-btn-group{
    display: flex;
    width: 80%;
    margin: 20px 0px 0px 0px;
    gap: 30px;
}
 .ref-prop-btn{
    border: 1px solid #ff2800;
    width: 250px;
    height: 70px;
    border-radius:10px;
    background-color: white;
    font-size: 22px;
    margin: 20px 0px 0px 0px;
}
.refinance-property-group .ref-prop-btn.active,
refinance-property-group .ref-prop-btn:hover{
    background-color: #ff2800;
    color: #ffffff;
    cursor: pointer;
}
.refinance-property-group .refinance-property-group-two .ref-dropdown{
    border: 1px solid #ff2800;
    width: 55%;
    height: 70px;
    border-radius:10px;
    background-color: white;
    font-size: 22px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.refinance-property-group span{
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.refinance-property-group .refinance-property-group-three .ref-btn-group{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: row;
}
.refinance-property-group  .ref-btn-group-five{
    display: flex;
    width: 20%;
    margin: 20px 0px 0px 0px;
    gap: 30px;
    flex-direction: column;
}
.refinance-content input{
    width:300px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ff2800;
    padding: 0px 0px 0px 20px;
    /* width: 100%; */
}
.ant-slider-track {
    background-color: #ff2800 !important;
  }
  
  /* .ant-slider-handle::before,
  ant-slider-handle::after {
    color: red !important;
    border-color: red !important;
  } */
  :where(.css-dev-only-do-not-override-3rel02).ant-slider .ant-slider-handle::after{
    background-color: #ff2800;
    box-shadow:0 0 0 2px #ff2800;
    cursor: pointer;
  }
  :where(.css-dev-only-do-not-override-3rel02).ant-slider .ant-slider-rail{
    background-color: rgb(217, 0, 0, 38%);
  }

  .refinance-loan-group{
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 100px;
    flex-wrap: wrap;
    gap: 30px;
  }
  .refinance-loan-group-one{
    display: flex;
    width:29%;
    gap: 30px;
    flex-direction: column;
  }
  .refinance-loan-group .estimate{
    font-size: 14px;
    color: #555555;
  }
  .refinance-details-group-one{
    display: flex;
    width:100%;
    gap: 10px;
    flex-direction: column;
  }
  .refinance-details-group .ref-btn-group-two{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 0px 0px 0px;
    gap: 30px;
  }
  .refinance-details-group .ref-btn-group-five{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 0px 0px 0px;
    gap: 30px;
  }
  .refinance-details-group span{
    font-size: 18px;
    color: black;
    font-weight: bold;
  }
  .refinance-loan-group span{
    font-size: 18px;
    color: black;
    font-weight: bold;
  }
.refinance-details-group{
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 100px;
    flex-wrap: wrap;
    gap: 30px;
}
.refinance-wrap-up-group{
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 100px;
    flex-wrap: wrap;
    gap: 30px;
}
.refinance-wrap-up-group-one{
    display: flex;
    gap:20px;
}
.refinance-wrap-up-group-two span{
    font-size: 18px;
    color: black;
    font-weight: bold;
  }