.refinance-container {
  width: 100%;
  background-color: #ffffff;
}
.wrap-up--select::after {
  content: "▾";
  font-size: 1.5rem;
  right: 7px;
  color: var(--mute-gray);
  top: 7px;
  position: absolute;
}
.refinance-content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
  height: auto;
  /* border: 1px solid black; */
  width: 55%;
  margin: auto;
}

.ref-btn-group .ref-prop-btn,
.ref-btn-group-two .ref-prop-btn,
.ref-btn-group-five .ref-prop-btn {
  color: var(--black);
}

.refinance-group-one {
  gap: 20px;
  width: 70%;
  margin: 50px auto 0px;
}

.refinance-content .refinance-property-group {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin: 30px auto 0px;
  width: 100%;
  /* margin: 20px 0px 0px 200px; */
  gap: 30px;
  padding: 0px 20px;
}

h4 {
  color: var(--red);
  font-size: 25px;
  font-weight: bold;
}

.ref-btn-group {
  display: flex;
  width: 100% !important;
  margin: 20px 0px 0px 0px;
  gap: 30px;
}

.ref-prop-btn {
  border: 1px solid var(--mute-gray) !important;
  max-width: 250px;
  height: 55px !important;
  /* border-radius: 10px !important; */
  border-radius: 6px !important;
  background-color: white !important;
  font-size: 15px !important;
  margin: 20px 0px 0px 0px;
  width: 100%;
  padding: 0px 5px;
}

.refinance-property-group .ref-prop-btn.active,
.refinance-property-group .ref-prop-btn:hover,
.refinance-details-group .ref-prop-btn.active,
.refinance-details-group .ref-prop-btn:hover {
  background-color: var(--red) !important;
  color: #ffffff;
  cursor: pointer;
}

.refinance-property-group .refinance-property-group-two .ref-dropdown {
  border: 1px solid var(--mute-gray);
  padding-left: 10px;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background-color: white;
  font-size: 15px;
  appearance: none;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.refinance-property-group span {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.refinance-property-group .refinance-property-group-three .ref-btn-group {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: row;
}

.refinance-property-group .ref-btn-group-five {
  display: flex;
  width: 30%;
  margin: 20px 0px 0px 0px;
  gap: 30px;
  flex-direction: column;
}

.refinance-content .refinance-loan-group input,
.refinance-content .refinance-details-group-six input,
.refinance-content .refinance-property-group-five input {
  width: 550px;
  height: 50px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid var(--mute-gray);
  padding: 0px 15px;
  outline: none;
}

.refinance-content.ant-slider-track {
  background-color: var(--red) !important;
}

/* .ant-slider-handle::before,
  ant-slider-handle::after {
    color: red !important;
    border-color: red !important;
  } */
:where(.css-dev-only-do-not-override-3rel02).ant-slider
  .ant-slider-handle::after {
  /* background-color: var(--red); */
  box-shadow: 0 0 0 2px var(--red);
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-3rel02).ant-slider .ant-slider-rail {
  background-color: rgb(217, 0, 0, 38%);
}

.refinance-loan-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px 20px;
}

.refinance-loan-group-one {
  display: flex;
  flex-direction: column;
}

.refinance-loan-group .estimate {
  font-size: 16px;
  color: black;
  font-weight: normal !important;
}

.refinance-details-group-one {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}

.refinance-details-group .ref-btn-group-two {
  display: flex;
  /* width: 70%; */
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px 0px 0px 0px;
  gap: 30px;
}

.refinance-details-group .ref-btn-group-five {
  display: flex;
  /* width: 50%; */
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px 0px 0px 0px;
  gap: 30px;
}

.refinance-details-group span {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.refinance-loan-group span {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.refinance-details-group {
  display: flex;
  flex-direction: column;
  /* margin: 20px 0px 0px 200px; */
  margin: 20px 0px 0px 0px;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px 20px;
}
.wrap-up--selection {
  position: relative;
  width: 45%;
}
.wrap-up--selection::after {
  content: "▾";
  font-size: 1.5rem;
  right: 7px;
  color: var(--mute-gray);
  top: 7px;
  position: absolute;
}
.refinance-wrap-up-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
  flex-wrap: wrap;
  gap: 30px;
  /* width: 80%; */
  padding: 0px 20px;
}

.refinance-wrap-up-group-one {
  display: flex;
  gap: 20px;
}

.refinance-wrap-up-group-two span {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.refinance-group-one .ant-steps-item-process .ant-steps-item-icon {
  background-color: #d9d9d9 !important;
}

.refinance-group-one
  :where(.css-dev-only-do-not-override-3rel02).ant-steps
  .ant-steps-item-process
  .ant-steps-item-icon {
  background-color: var(--red);
  border-color: var(--red);
}

.refinance-group-one
  :where(.css-dev-only-do-not-override-3rel02).ant-steps.ant-steps-with-progress
  .ant-steps-item-process
  .ant-steps-item-container
  .ant-steps-item-icon
  .ant-steps-icon {
  /* color: #fff; */
  display: none;
}

.refinance-group-one
  :where(.css-dev-only-do-not-override-3rel02).ant-progress
  .ant-progress-inner:not(.ant-progress-circle-gradient)
  .ant-progress-circle-path {
  stroke: var(--red);
}

.refinance-group-one .ant-steps-icon {
  font-size: 0;
}

.refinance-group-one .ant-steps-item-tail {
  color: var(--red);
}

.refinance-group-one
  :where(.css-dev-only-do-not-override-3rel02).ant-steps
  .ant-steps-item-wait
  .ant-steps-item-icon {
  background-color: #cccccc;
  border-color: transparent;
}

.refinance-group-one
  :where(
    .css-dev-only-do-not-override-3rel02
  ).ant-steps.ant-steps-with-progress.ant-steps-label-vertical
  .ant-steps-item
  .ant-steps-item-tail {
  background-color: var(--red);
}

.refinance-group-one
  :where(.css-dev-only-do-not-override-3rel02).ant-steps
  .ant-steps-item-tail::after {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: var(--red);
  border-radius: 1px;
  transition: background 0.3s;
  content: "";
}

.refinance-property-group-five
  :where(.css-dev-only-do-not-override-3rel02).ant-slider
  .ant-slider-rail {
  background-color: rgba(217, 0, 0, 38%);
}

.refinance-property-group-five
  :where(.css-dev-only-do-not-override-m4timi).ant-slider-horizontal
  .ant-slider-rail {
  height: 15px;
  border-radius: 10px;
  background-color: rgba(217, 0, 0, 38%);
}

.refinance-property-group-five
  :where(.css-dev-only-do-not-override-m4timi).ant-slider
  .ant-slider-handle::after {
  width: 20px;
  height: 20px;
  background-color: var(--red);
}

.refinance-property-group-five
  :where(.css-dev-only-do-not-override-m4timi).ant-slider-horizontal
  .ant-slider-track {
  height: 15px;
  border-radius: 10px;
}

.refinance-property-group-five {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.refinance-property-group-five .estimate {
  font-size: 16px;
  color: black !important;
  font-weight: normal !important;
}

.refinance-loan-group-two {
  display: flex;
  flex-direction: column;
}

/* .refinance-container .refinance-group-one .ant-steps-item-icon{
  border-width: 1px !important;
  background-color: #D9D9D9 !important;
  width: 30px;
  height: 30px;
}

.refinance-container .ant-steps-icon {
  border-width: 1px !important;
  background-color: #D90000 !important;
  width: 30px;
  height: 30px;
  border-radius: 50%;
} */
.custom-steps .ant-steps-item-content .ant-steps-item-title {
  font-size: 16px !important;
  color: black !important;
}

.custom-steps .ant-steps-item-finish .ant-steps-item-title {
  font-weight: bold;
}

.custom-steps .ant-steps-item-tail::after {
  background-color: red !important;
}

.refinance-container .refinance-group-one .ant-steps-item-icon {
  border-width: 1px !important;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9 !important;
}

.refinance-container
  .refinance-group-one
  .ant-steps-item-finish
  .ant-steps-item-icon,
.refinance-container
  .refinance-group-one
  .ant-steps-item-process
  .ant-steps-item-icon {
  background-color: red !important;
}

.refinance-container .refinance-group-one .ant-steps-icon {
  border-width: 1px !important;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-pre-approval,
.submit-pre-approval:hover {
  background-color: var(--red) !important;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 8px !important;
  max-width: 250px;
  height: 50px;
  border: 1px solid var(--red) !important;
  font-size: 16px;
  color: white !important;
  width: 100%;
  margin: 30px auto 50px auto;
}

/* @media screen and (min-width: 320px) and (max-width: 359px) {
  .refinance-group-one {
    width: 50%;
    margin: 50px 0px 0px 30px;
  }

  .refinance-group-one :where(.css-dev-only-do-not-override-3rel02).ant-steps.ant-steps-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .refinance-details-group-six .ref-btn-group-input {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
  }

  .refinance-details-group-six .ref-btn-group-input input {
    width: 98%;
    height: 50px;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    align-items: center;
  }

  .refinance-group-one :where(.css-dev-only-do-not-override-3rel02).ant-steps .ant-steps-item-process .ant-steps-item-icon {
    width: 20px;
    height: 20px;
  }

  .refinance-group-one :where(.css-dev-only-do-not-override-3rel02).ant-steps .ant-steps-item-wait .ant-steps-item-icon {
    width: 20px;
    height: 20px;
  }

  .refinance-content .refinance-property-group {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 15px;
    gap: 30px;
  }

  .ref-btn-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0px 0px 0px;
    gap: 5px;
  }

  .ref-prop-btn {
    width: 98%;
    height: 50px;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    align-items: center;
  }

  .ref .refinance-property-group span {
    font-size: 16px;
  }

  .refinance-property-group .refinance-property-group-two .ref-dropdown {
    width: 98%;
    height: 50px;
    font-size: 16px;
  }

  .refinance-property-group .refinance-property-group-three .ref-btn-group {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .refinance-property-group .ref-btn-group-five {
    width: 80%;
  }

  .refinance-property-group .ref-btn-group-five .refinance-slider {
    margin: 0px 0px 0px 0px;
    width: 100%;
  }

  .refinance-loan-group {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: 0px 0px 0px 20px;
    flex-wrap: wrap;
    gap: 30px;
  }

  .refinance-loan-group-one {
    width: 100%;
  }

  .refinance-loan-group span,
  .refinance-details-group span {
    font-size: 16px;
    width: 93%;
  }

  .refinance-content .refinance-wrap-up-group input {
    width: 250px;
    height: 50px;
  }

  .refinance-details-group-six p {
    width: 290px;
  }

  .refinance-content .refinance-loan-group input,
  .refinance-content .refinance-wrap-up-group-two input,
  .ref-btn-group-five input {
    width: 98%;
    height: 50px;
    font-size: 16px;
    margin: 0px;
  }

  .refinance-content .refinance-property-group-five input,
  .refinance-property-group-five input {
    width: 98%;
    height: 50px;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
  }

  .refinance-content .refinance-wrap-up-group .refinance-wrap-up-group-one {
    display: flex;
    flex-direction: column;
  }

  .refinance-details-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 20px;
    flex-wrap: wrap;
    gap: 30px;
  }

  .refinance-details-group .ref-btn-group-two,
  .refinance-details-group .ref-btn-group-five {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
  }

  .refinance-wrap-up-group {
    margin: 20px 0px 0px 20px;
    gap: 0px;
    width: 97%;
  }

  .SSl-Encryption {
    width: 95%;
  }

  .refinance-content {
    width: 90%;
  }
} */

@media screen and (min-width: 320px) and (max-width: 480px) {
  .refinance-content {
    width: 90%;
  }
  .wrap-up--selection {
    position: relative;
    width: 100%;
}
  .refinance-group-one {
    width: 100%;
    /* margin: 50px 0px 0px 1%; */
  }
  .refinance-property-group,
  .refinance-details-group,
  .refinance-wrap-up-group {
    padding: 0px 10px;
  }

  .refinance-group-one {
    width: 100%;
  }

  .refinance-details-group .ref-btn-group-input {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
  }

  .refinance-details-group .ref-btn-group-input input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    align-items: center;
  }

  .refinance-group-one
    :where(.css-dev-only-do-not-override-3rel02).ant-steps.ant-steps-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .refinance-group-one
    :where(.css-dev-only-do-not-override-3rel02).ant-steps
    .ant-steps-item-process
    .ant-steps-item-icon {
    width: 20px;
    height: 20px;
  }

  .refinance-group-one
    :where(.css-dev-only-do-not-override-3rel02).ant-steps
    .ant-steps-item-wait
    .ant-steps-item-icon {
    width: 20px;
    height: 20px;
  }

  .refinance-content .refinance-property-group {
    margin: 0px 0px 0px 0px;
    gap: 20px;
    padding: 0 10px;
  }
  .refinance-property-group h4,
  .refinance-loan-group h4,
  .refinance-details-group h4,
  .refinance-wrap-up-group h3 {
    font-size: 23px;
  }
  .refinance-property-group span {
    font-size: 16px;
  }

  .ref-btn-group {
    margin: 15px 0px 10px;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .ref-btn-group .ref-prop-btn {
    max-width: 48%;
    word-wrap: break-word;
    padding: 5px;
    font-size: 14px !important;
  }

  .ref .refinance-property-group span {
    font-size: 16px;
  }

  .refinance-property-group .refinance-property-group-two .ref-dropdown {
    width: 100%;
    height: 50px;
    font-size: 15px;
  }

  .refinance-property-group .refinance-property-group-three .ref-btn-group {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .refinance-property-group .ref-btn-group-five {
    width: 80%;
  }

  .refinance-property-group .ref-btn-group-five .refinance-slider {
    margin: 0px 0px 0px 0px;
    width: 100%;
  }

  .refinance-loan-group {
    width: 100%;
    gap: 20px;
    padding: 0 10px;
  }

  .refinance-loan-group-one {
    width: 100%;
  }

  .refinance-loan-group span,
  .refinance-details-group span {
    font-size: 16px;
    width: 100%;
  }

  .refinance-content .refinance-wrap-up-group input {
    width: 250px;
    height: 50px;
  }

  .refinance-details-group-six p {
    width: 290px;
  }

  .refinance-content .refinance-loan-group input,
  .refinance-content .refinance-wrap-up-group-two input,
  .ref-btn-group-five input {
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin: 0px;
  }

  .refinance-content .refinance-property-group-five input,
  .refinance-property-group-five input {
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin: 0px 0px 0px 0px;
  }

  .refinance-content .refinance-wrap-up-group .refinance-wrap-up-group-one {
    display: flex;
    flex-direction: column;
  }

  .refinance-details-group {
    gap: 10px;
  }

  .refinance-details-group .ref-btn-group-two,
  .refinance-details-group .ref-btn-group-five {
    width: 100%;
    gap: 10px;
    margin-bottom: 15px;
  }

  .refinance-wrap-up-group {
    gap: 0px;
    width: 100%;
  }
  .ref-prop-btn {
    max-width: 100%;
  }

  .refinance-wrap-up-group .wrap-up-inf .prop-content2-wrap-up .label {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 575px) {
  .refinance-content {
    padding: 0px;
    width: 90%;
  }
  .wrap-up--selection {
    position: relative;
    width: 100%;
}
  .refinance-group-one {
    width: 100%;
    /* margin: 50px 0px 0px 1%; */
  }

  .refinance-property-group-one h4,
  .refinance-loan-group-one h4,
  .refinance-details-group-one h4 {
    font-size: 23px;
    margin-bottom: 15px;
  }

  .refinance-group-one
    :where(.css-dev-only-do-not-override-3rel02).ant-steps.ant-steps-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .refinance-content .refinance-property-group {
    margin-top: 20px;
    gap: 20px;
    padding: 0px 10px;
  }

  .ref-btn-group {
    margin: 15px 0px 10px;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .refinance-details-group-six .ref-btn-group {
    width: 100%;
  }

  .refinance-property-group-three .ref-btn-group {
    width: 100%;
  }

  .ref-btn-group .ref-prop-btn {
    max-width: 46%;
  }

  .ref-prop-btn {
    max-width: 100%;
    height: 50px;
    font-size: 14px !important;
    margin: 10px 0px 0px 0px;
  }

  .refinance-property-group span,
  .refinance-details-group span {
    font-size: 17px;
  }

  .refinance-property-group .refinance-property-group-three .ref-btn-group {
    width: 100%;
  }

  .refinance-property-group .refinance-property-group-two .ref-dropdown {
    width: 100%;
    font-size: 15px;
  }

  .refinance-property-group .ref-btn-group-five {
    width: 80%;
  }

  .refinance-property-group .ref-btn-group-five .refinance-slider {
    margin: 0px 0px 0px 20px;
    width: 100%;
  }

  .refinance-loan-group {
    width: 100%;
    margin-top: 0px;
    gap: 20px;
  }

  .refinance-loan-group-one {
    width: 100%;
  }

  .refinance-loan-group-one span,
  .refinance-loan-group-two span .refinance-details-group span {
    font-size: 17px;
    width: 100%;
  }

  .refinance-content .refinance-wrap-up-group input {
    /* width: 400px; */
    height: 50px;
  }

  .refinance-content .refinance-details-group-six input {
    width: 98%;
  }

  .refinance-content .refinance-loan-group input,
  .refinance-content .refinance-wrap-up-group-two input,
  .ref-btn-group-five input {
    width: 100%;
    font-size: 14px;
    margin: 0px;
  }

  .ref-btn-group-five input {
    width: 400px;
    height: 50px;
    font-size: 18px;
    margin: 0px 0px 0px 20px;
  }

  .refinance-content .refinance-wrap-up-group .refinance-wrap-up-group-one {
    display: flex;
    flex-direction: column;
  }

  .refinance-details-group {
    gap: 20px;
  }

  .refinance-details-group .ref-btn-group-two,
  .refinance-details-group .ref-btn-group-five {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
  }

  .refinance-wrap-up-group {
    margin: 30px 0px 0px 0px;
    gap: 20px;
    width: 100%;
  }

  .refinance-wrap-up-group-two span {
    font-size: 24px;
    color: black;
    font-weight: bold;
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  .refinance-content {
    width: 90%;
  }

  .refinance-details-group .ref-btn-group-five {
    width: 100%;
  }

  .refinance-loan-group-one,
  .refinance-loan-group-two {
    width: 100%;
  }

  .wrap-up-inf .prop-content2-wrap-up .mobile-address-group,
  .wrap-up-inf .prop-content2-wrap-up .email-address-group,
  .wrap-up-inf .prop-content2-wrap-up .lastname-group,
  .wrap-up-inf .prop-content2-wrap-up .firstname-group,
  .wrap-up-inf .prop-content2-wrap-up .country-group,
  .wrap-up-inf .prop-content2-wrap-up .province-group,
  .wrap-up-inf .prop-content2-wrap-up .city-town-group,
  .wrap-up-inf .prop-content2-wrap-up .zipcode-group,
  .wrap-up-inf .prop-content2-wrap-up .housenumber-group,
  .wrap-up-inf .prop-content2-wrap-up .source-income-group {
    width: 45%;
  }

  .refinance-details-group .ref-btn-group-two {
    width: 100%;
  }

  .ref-prop-btn {
    width: 100%;
  }

  .ref-btn-group {
    width: 100%;
  }

  .refinance-details-group-four,
  .refinance-details-group-three,
  .refinance-details-group-five,
  .refinance-details-group-six {
    width: 100%;
  }
  .wrap-up--selection {
    position: relative;
    width: 100%;
  }
  /* .wrap-up-inf .prop-content2-wrap-up .source-income-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px 0px 0px;
  } */
  .ref-btn-group {
    gap: 20px;
  }
  .refinance-details-group-six p {
    width: 290px;
  }

  .refinance-group-one {
    gap: 20px;
    width: 100%;
    /* margin: 50px 0px 0px 15%; */
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .refinance-content {
    padding: 0px;
    width: 90%;
  }

  .refinance-group-one {
    width: 80%;
    /* margin: 20px 20px 0px 70px; */
  }

  .refinance-group-one
    :where(.css-dev-only-do-not-override-3rel02).ant-steps.ant-steps-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ref-btn-group {
    display: flex;
    flex-direction: row;
    /* width: 90%; */
    margin: 10px 0px 0px 0px;
    /* gap: 10px; */
  }

  .ref-prop-btn {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
  }

  .refinance-property-group span {
    font-size: 20px;
  }

  .refinance-property-group .refinance-property-group-three .ref-btn-group {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .refinance-property-group .refinance-property-group-two .ref-dropdown {
    width: 100%;
    height: 50px;
    font-size: 16px;
    /* 
    
    
                        margin: "0px",
                    appearance: "none",
                    border: "1px solid var(--mute-gray)",
                    width: "100%",
                    height: "50px",
                    borderRadius: "6px",
                    backgroundColor: "white",
                    fontSize: "15px",
                    justifyContent: "space-between",
                    display: "flex",
                    fontSize: "15px !important",
                    paddingLeft: "20px",
                    alignItems: "center",
                    
    */
  }

  .refinance-property-group .ref-btn-group-five {
    width: 80%;
  }

  .refinance-property-group .ref-btn-group-five .refinance-slider {
    margin: 0px 0px 0px 20px;
    width: 100%;
  }

  .refinance-loan-group-one {
    width: 100%;
  }

  .refinance-loan-group-one span,
  .refinance-loan-group-two span .refinance-details-group span {
    font-size: 18px;
    width: 80%;
  }

  .refinance-content .refinance-wrap-up-group input {
    width: 400px;
    height: 50px;
  }

  .refinance-content .refinance-loan-group input,
  .refinance-content .refinance-details-group-six input,
  .refinance-content .refinance-wrap-up-group-two input,
  .ref-btn-group-five input {
    width: 400px;
    height: 50px;
    font-size: 18px;
    margin: 0px;
  }

  .ref-btn-group-five input {
    width: 400px;
    height: 50px;
    font-size: 18px;
    margin: 0px 0px 0px 20px;
  }

  .refinance-content .refinance-wrap-up-group .refinance-wrap-up-group-one {
    display: flex;
    flex-direction: column;
  }

  .refinance-wrap-up-group-two span {
    font-size: 24px;
    color: black;
    font-weight: bold;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .refinance-content {
    padding: 0px;
  }

  .refinance-property-group .refinance-property-group-three .ref-btn-group {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .refinance-details-group .ref-btn-group-five {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 0px 0px 0px;
    gap: 30px;
  }

  .refinance-group-one {
    gap: 20px;
    width: 80%;
    /* margin: 80px 0px 0px 120px; */
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .refinance-group-one {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 80px 0px 0px 120px;
  }

  .refinance-content {
    width: 70%;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1400px) {
  .refinance-content {
    width: 60%;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
  .refinance-content {
    width: 80%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
  .refinance-content {
    width: 90%;
  }
}
