* {
	padding: 0;
	margin: 0;
}
.rent-page-content {
	width: var(--default-page-size);
}
.buy-component-content {
	width: var(--default-page-size);
}

.topbar {
	display: flex;
	justify-content: space-between;
	align-self: start;
	width: 100%;
}

.rentContainer {
	justify-content: start;
	margin: 40px 0;
	display: flex;
	flex-direction: column;
	font-weight: normal;
}
.buy-component-content .card-skeleton-loading,
.rent-page-content .card-skeleton-loading {
	display: grid !important;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
}

.buy-component-content .skeleton--card-listing,
.rent-page-content .skeleton--card-listing {
	position: relative;
	border-radius: 0 0 8px 8px !important;
	width: 320px !important;
}
.buy-component-content .skeleton--card-listing .skeleton--card-img,
.rent-page-content .skeleton--card-listing .skeleton--card-img {
	position: relative;
	height: calc(var(--image-height)) !important;
	width: 320px !important;
	/* width: unset !important; */
}

.rent {
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	justify-content: center;
	align-items: center;

	/* gap: 100px; */
	height: auto;
	/* background-color: white; */
}

.rent-h1 {
	font-size: var(--d-h2-text) !important;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.rent-h1.breadcrumb--search {
	font-size: 18px !important;
	font-weight: 500;
	/* margin: auto auto 0px; */
}

.rentContent {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 359px) {
	.rentContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* align-items: center; */
		width: 100%;
		padding: 0;
	}

	.rentContainer .rent-h1 {
		font-size: 22px;
		position: relative;
		width: 100% !important;
		padding: 20px 0px 20px 20px;
		/* margin: 20px 0px 20px 20px; */
	}
	.buy-component-content .card-skeleton-loading,
	.rent-page-content .card-skeleton-loading {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		margin: 0px;
	}
	/* .rent {
		width: 100%;
		justify-content: center;
		display: flex;
		align-items: center;
	} */
}

@media screen and (min-width: 360px) and (max-width: 480px) {
	.rentContainer {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0px 20px;
	}

	.rentContainer .rent-h1 {
		font-size: var(--m-h4-text) !important;
		width: 100% !important;
	}
	.rent-h1.breadcrumb--search {
		/* padding: 0px 15px!important; */
		font-size: var(--d-body-text) !important;
	}
	.buy-component-content,
	.rent-page-content {
		width: 100%;
	}
	.buy-component-content .card-skeleton-loading,
	.rent-page-content .card-skeleton-loading {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		margin: 0px;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.rentContainer {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: stretch;
		padding: 0px 40px;
	}
	.buy-component-content,
	.rent-page-content {
		width: 100%;
	}
	.rent-h1.breadcrumb--search {
		/* padding: 0px 15px!important; */
		font-size: var(--d-body-text) !important;
	}
	.buy-component-content .card-skeleton-loading,
	.rent-page-content .card-skeleton-loading {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 15px 10px;
		margin: 0px;
	}
	.buy-component-content .skeleton--card-listing,
	.rent-page-content .skeleton--card-listing {
		position: relative;
		border-radius: 0 0 8px 8px !important;
		width: 200px !important;
	}
	.buy-component-content .skeleton--card-listing .skeleton--card-img,
	.buy-component-content
		.skeleton--card-listing
		.skeleton--card-img
		.ant-skeleton-image,
	.rent-page-content .skeleton--card-img,
	.rent-page-content .skeleton--card-listing .skeleton--card-img .ant-skeleton-image {
		position: relative;
		height: calc(var(--image-height)) !important;
		width: 200px !important;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.rentContainer {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: stretch;
		padding: 0px 40px;
	}

	.rentContainer .rent-h1 {
		width: 100%;
	}
	.buy-component-content,
	.rent-page-content {
		width: 100%;
	}
	.rent-h1.breadcrumb--search {
		/* padding: 0px 15px!important; */
		font-size: var(--d-body-text) !important;
	}
	.buy-component-content .card-skeleton-loading, .rent-page-content .card-skeleton-loading {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15px 10px;
		margin: 0px;
	}
	.buy-component-content .skeleton--card-listing, .rent-page-content .skeleton--card-listing {
		position: relative;
		border-radius: 0 0 8px 8px !important;
		width: 250px !important;
	}
	.buy-component-content .skeleton--card-listing .skeleton--card-img,
	.buy-component-content .skeleton--card-listing .skeleton--card-img .ant-skeleton-image,
	.rent-page-content .skeleton--card-listing .skeleton--card-img,
	.rent-page-content .skeleton--card-listing .skeleton--card-img .ant-skeleton-image {
		position: relative;
		height: calc(var(--image-height)) !important;
		width: 250px !important;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
	.rentContainer {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: stretch;
		padding: 0px 40px;
	}

	.rentContainer .rent-h1 {
		width: 100%;
	}
	.buy-component-content,
	.rent-page-content {
		width: 100%;
	}
	.rent-h1.breadcrumb--search {
		/* padding: 0px 15px!important; */
		font-size: var(--d-body-text) !important;
	}
}
@media screen and (min-width: 1100px) and (max-width: 1200px) {
	.rentContainer .rent-h1 {
		padding: 20px 0px 0px 40px !important;
		width: 100% !important;
	}
}
