.search-sortation{
	/* margin:0px 20px 0px 20px; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* align-items: flex-start; */
	/* gap: 300px; */
	width: 1500px;
	margin: auto;
	padding: 0px 90px;
}
.search-sortation .sort{
	width: 50%;
	display: flex;
	justify-content: flex-start;
	color: var(--mute-gray);
	font-size: 17px;

}
.search-sortation .sort-div-class{
	width: 50%;
	display: flex;
	justify-content: flex-end;
	color: var(--mute-gray);
	font-size: 17px;
}

@media only screen and (min-width: 320px) and (max-width: 359px){
	.search-sortation{
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	width: 90%;
	padding: 0px;
	margin-top: 10px;
	gap: 10px;
	/* padding: 0px 0px 0px 20px */
}

.search-sortation .sort span{
	width: 100%;
	font-size: 10px;
}
.search-sortation .sort-div-class{
	/* width: 100%; */
	display: flex;
	justify-content: flex-end;
	color: var(--mute-gray);
	font-size: 10px;
}
}

@media screen and (min-width:360px) and (max-width: 480px){
	.search-sortation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	padding:0px 5px 0px 5px;
}

.search-sortation  .sort span{
	font-size: 12px;
	margin-left: 20px;
}
.search-sortation  .sort {
	width: 200px;
}
.search-sortation .sort-div-class{
	font-size: 12px;
	width: 150px;
	padding-right: 10px;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.search-sortation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	padding:0px 5px 0px 5px;
}

.search-sortation  .sort span{
	font-size: 16px;
	margin-left: 20px;
}
.search-sortation .sort-div-class{
	font-size: 16px;
}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
	.search-sortation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	padding:0px 5px 0px 5px;
}

.search-sortation  .sort span{
	font-size: 20px;
	margin-left: 20px;
}
.search-sortation .sort-div-class{
	font-size: 20px;
}
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
	.search-sortation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	padding:0px 5px 0px 5px;
}

.search-sortation  .sort span{
	font-size: 20px;
	margin-left: 40px;
}
.search-sortation .sort-div-class{
	font-size: 20px;
	margin-right: 10px;
}

}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
	.search-sortation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	padding:0px 5px 0px 5px;
}

.search-sortation  .sort span{
	font-size: 20px;
	margin-left: 40px;
}
.search-sortation .sort-div-class{
	font-size: 20px;
	margin-right: 10px;
}
}