.search-sortation{
	/* margin:0px 20px 0px 20px; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* align-items: flex-start; */
	/* gap: 300px; */
	width: var(--default-page-size);
	margin-bottom: 20px;
}
.search-sortation .sort{
	width: 50%;
	display: flex;
	justify-content: flex-start;
	color: var(--mute-gray);
	font-size:var(--d-body-text);

}
.search-sortation .sort-div-class{
	width: 50%;
	display: flex;
	justify-content: flex-end;
	color: var(--mute-gray);
	font-size: var(--d-body-text);
}


@media screen and (min-width: 360px) and (max-width: 480px) {
	.search-sortation{
width: 100%;
 font-size: calc(var(--d-body-text) - 1px) !important;
 display: flex;
 flex-direction: column;
}
.search-sortation .sort, .search-sortation .sort-div-class{
	width: 100%;
	display: flex;
	font-size: calc(var(--d-body-text) - 1px) !important;
	justify-content: flex-start;
}	   
}
@media screen and (min-width: 481px) and (max-width: 768px) {
.search-sortation{
	width: 100%;
	 font-size: var(--d-body-text) !important;
 display: flex;
 flex-direction: column;
}
.search-sortation .sort, .search-sortation .sort-div-class{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}	
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
.search-sortation{
	width: 100%;
}
}

/* @media only screen and (min-width: 320px) and (max-width: 359px){
	.search-sortation{
	display: flex;
	flex-direction: row;
	
	width: 90%;
	padding: 0px;
	margin-top: 10px;
	gap: 10px;
	
}

.search-sortation .sort span{
	width: 100%;
	font-size: 10px;
}
.search-sortation .sort-div-class{

	display: flex;
	justify-content: flex-end;
	color: var(--mute-gray);
	font-size: 10px;
}
}

@media screen and (min-width:360px) and (max-width: 480px){
	.search-sortation{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin-top: 10px;
	padding:0px 5px 0px 15px;
}

.search-sortation  .sort span{
	font-size: 14px;
	margin-left: 0px;
}
.search-sortation  .sort {
	width: 200px;
}
.search-sortation .sort-div-class{
	font-size: 14px;
	width: 200px;
	padding-right: 0px;
	justify-content: flex-start;
}
}
@media screen and (min-width:380px) and (max-width: 388px){
	.search-sortation{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin-top: 10px;
	padding:0px 5px 0px 20px;
}
}
@media screen and (min-width:401px) and (max-width: 416px){
	.search-sortation{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin-top: 10px;
	padding:0px 5px 0px 35px;
}
}
@media screen and (min-width:417px) and (max-width: 426px){
	.search-sortation{
	padding:0px 5px 0px 40px;
}
}
@media screen and (min-width:427px) and (max-width: 445px){
	.search-sortation{
	padding:0px 5px 0px 50px;
}
}
@media screen and (min-width:445px) and (max-width: 465px){
	.search-sortation{
	padding:0px 5px 0px 60px;
}
}
@media screen and (min-width:4465px) and (max-width: 480px){
	.search-sortation{
	padding:0px 5px 0px 70px;
}
}
@media screen and (min-width:389px) and (max-width: 400px){
	.search-sortation{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin-top: 10px;
	padding:0px 5px 0px 26px;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.search-sortation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	padding:0px 5px 0px 5px;
}

.search-sortation  .sort span{
	font-size: 16px;
	margin-left: 20px;
}
.search-sortation .sort-div-class{
	font-size: 16px;
}
} */
/* @media screen and (min-width: 481px) and (max-width: 660px) {
	.search-sortation{
	padding:0px 0px 0px 0px !important;
	width: 100%;
}
}
@media screen and (min-width: 481px) and (max-width: 709px) {
	.search-sortation{
	padding:0px 40px 0px 20px;
	width: 100%;
}
}
@media screen and (min-width: 710px) and (max-width: 730px) {
	.search-sortation{
	padding:0px 0px 0px 0px;
	width: 100%;
}

}
@media screen and (min-width: 769px) and (max-width: 1024px) {
	.search-sortation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	padding:0px 5px 0px 5px;
}

.search-sortation  .sort span{
	font-size: 20px;
	margin-left: 20px;
}
.search-sortation .sort-div-class{
	font-size: 20px;
	padding-right: 30px;
}
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
	.search-sortation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	padding:0px 5px 0px 5px;
}

.search-sortation  .sort span{
	font-size: 20px;
	padding-left: 35px;
}
.search-sortation .sort-div-class{
	font-size: 20px;
	padding-right: 25px;
}

}
@media screen and (min-width: 1201px) and (max-width: 1399px) {
.search-sortation  .sort span{
	font-size: 20px;
	padding-left: 40px !important;
}

}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
	.search-sortation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 95%;
	margin-top: 10px;
	padding:0px 40px 0px 5px;
}

.search-sortation  .sort span{
	font-size: 20px;
	padding-left: 45px;
}
.search-sortation .sort-div-class{
	font-size: 20px;
	margin-right: 10px;
}
}
@media screen and (min-width: 1401px) {
	.search-sortation{
		width: 1300px;
		padding: 0px 15px 0 0px;
	}
}
@media screen and (min-width: 850px) and (max-width: 940px) {
	.search-sortation{
	padding:0px 40px 0px 25px !important;
}
}
@media screen and (min-width: 851px) and (max-width: 939px) {
    .search-sortation {
        padding: 0px 40px 0px 5px !important;
    }
} */