:root {
	--sell-row-height: 80vh;
}

.sell {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100vh;
	max-height: auto;
	position: relative;
	background-color: white;
}

.section-container .options input[type="radio"] {
	display: none;
}
.options .dot {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid red;
	border-radius: 50%;
	margin-right: 10px;
	position: relative;
}
.options input[type="radio"]:checked + .dot::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.sell-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
}

.sell-contents {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
	margin: 10px 0px 0px 0px;
}
.first-section {
	font-weight: bold;
	background-color: #fff;
	width: 100%;
	/* height: 700px; */
	display: flex;
	flex-direction: row;
	margin: 10px 0px 0px 0px;
	justify-content: center;
	align-items: center;
}
.second-section {
	display: flex;
	flex-direction: column;
	margin: 50px 0px 0px 0px;
	justify-content: center;
	align-items: center;
	/* font-size: 5rem; */
	font-weight: bold;
	background-color: #fff;
	width: 100%;
	/* padding: 40px; */
}
.fourth-section {
	display: flex;
	flex-direction: column;
	margin: 50px 0px 0px 0px;
	justify-content: center;
	align-items: center;
	/* font-size: 5rem; */
	font-weight: bold;
	background-color: #fff;
	width: 100%;
	height: 500px;
	/* padding: 40px; */
}

.first-section {
	background-color: #ffffff;
	padding: 0% 5% 2%;
	display: flex;
	flex-direction: row;
}

.first-section img {
	width: 50%;
	height: 500px;
}

.first-section .bannerbg {
	background-color: #ededed;
	width: 50%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 3%;
	height: 500px;
}
.sell-header {
	color: black;
	text-align: left;
	margin-top: 12%;
	font-size: 80%;
}

/* .banner-buttons{
    margin-top: 8%;
  } */

.first-section #contactUs {
	color: #d90000;
	font-weight: bold;
	border-color: #d90000;
	background-color: transparent;
	border-radius: 8px;
	font-size: 20px;
	border: 1px solid var(--red);
	width: 200px;
	height: 70px;
	cursor: pointer;
}
.first-section #contactUs:hover {
	background: transparent;
}
.first-section #signIn {
	color: #ffffff;
	font-weight: bold;
	background-color: #d90000;
	border-radius: 8px;
	font-size: 20px;
	padding-left: 50px;
	padding-right: 50px;
	border: 1px solid var(--red);
	width: 200px;
	height: 70px;
	cursor: pointer;
}

.second-section {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 3rem;
}

.section-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.second-content-span {
	color: black;
	font-size: 60%;
	font-weight: bold;
	width: 90%;
	display: flex;
	justify-content: flex-start;
}

.second-section .content #ListPropertybtn {
	border: 1px solid var(--red);
	/* width: 300px; */
	height: 80px;
	color: #ffffff;
	font-weight: bold;
	background-color: #d90000;
	border-radius: 8px;
	padding: 35px;
	font-size: 24px;
	margin: 50px 0px 0px 100px;
	justify-content: center;
	display: flex;
	align-items: center;
}

.second-section .content p {
	color: #000;
	font-size: 40%;
	align-items: flex-start;
	font-weight: lighter;
	text-align: left;
	/* width: 500px; */
	margin: 0px 0px 0px 100px;
}

.options {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	font-size: 40%;
	font-weight: normal;
	align-items: flex-start;
	justify-content: left;
	width: 40%;
}
.section-container .content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 40%;
}
.content-container {
	display: flex;
	flex-direction: row;
}

/*third*/
.third-section {
	margin-top: 5%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	width: 100%;
	height: auto;
}

.third-section .third-cont-guide {
	color: #000;
	font-weight: bold;
	font-size: 60%;
	margin-right: 74%;
}

.third-section .section-cont-guide {
	color: #000;
	font-size: 24px;
	font-weight: 300px;
}

.section-cards {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 3rem;
}

.cards {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	width: 100%;
	justify-content: center;
	font-size: 2.2rem;
	text-align: center;
}

.cards h5 {
	font-size: 65%;
}

.cards p {
	font-size: 50%;
	margin-top: 25%;
}

.cards .card1,
.card2,
.card3,
.card4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #d9d9d9;
	border-radius: 25px;
	width: 20%;
	padding: 2% 2% 7% 2%;
	height: 100%;
	height: auto;
}
.sell .non-wallet-user-group {
	display: flex;
	flex-direction: column;
}
.sell .non-wallet-user-group span {
	font-size: 20px;
}
.sell .non-wallet-user-group li {
	font-size: 20px;
	margin: 20px 0px 0px 0px;
}

/*fourth*/
.fourth-section {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 6%;
	gap: 2rem;
	margin-top: 3%;
}

.fourth-section h1 {
	color: black;
	font-weight: bold;
	font-size: 60%;
	text-align: center;
}

.fourth-section p {
	color: #000;
	font-size: 40%;
	font-weight: lighter;
	margin-top: 2%;
}

.fourth-section #contactUs {
	color: #d90000;
	font-weight: bold;
	border-color: #d90000;
	background-color: transparent;
	border-radius: 20px;
	font-size: 24px;
	padding: 1.5%;
	width: 250px;
	height: 80px;
	cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 359px) {
	.sell-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.first-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 5px;
	}
	.first-section img,
	.first-section .bannerbg {
		width: 100%;
		height: 200px;
	}
	.first-section .bannerbg {
		width: 100%;
		height: auto;
		padding-bottom: 0px;
	}
	.first-section .banner-buttons {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: 0px;
		gap: 10px;
		padding-bottom: 20px;
	}
	.first-section #contactUs {
		height: 50px;
		width: 130px;
		margin-top: 0px;
		font-size: 14px;
		/* padding: 10px; */
	}
	.first-section #signIn {
		height: 50px;
		width: 130px;
		margin-top: 0px;
		font-size: 14px;
		padding: 0px;
	}
	.second-section {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-left: 20px;
	}
	.second-content-span {
		width: 100%;
		font-size: 20px;
	}
	.sell-header {
		font-size: 26px;
		margin-top: 10px;
	}

	.second-section .section-container {
		width: 90%;
		margin-left: 0px;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		display: flex;
	}
	.section-container .content {
		width: 100%;
		margin: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}
	.section-container .content p {
		margin: 0px;
		font-size: 18px;
		width: 100%;
	}
	.second-section .content #ListPropertybtn {
		margin: 30px 0px;
		height: 20px;
		width: 200px;
		font-size: 16px;
		padding: 20px;
	}
	.section-container .options {
		display: flex;
		width: 100%;
		font-size: 16px;
	}
	.sell .third-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.third-section .third-cont-guide {
		margin: 0px;
		font-size: 22px;
	}
	.third-section .section-cont-guide {
		font-size: 20px;
		margin-left: 10px;
	}
	.third-section .section-cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 10px;
	}
	.third-section .section-cards .cards {
		width: 100%;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.third-section .section-cards .card1,
	.third-section .section-cards .card2,
	.third-section .section-cards .card3,
	.third-section .section-cards .card4 {
		width: 90%;
		height: auto;
		padding: 10px;
	}
	.sell .non-wallet-user-group {
		display: flex;
		flex-direction: column;
		margin-left: 10px;
		padding: 10px;
	}
	.sell .non-wallet-user-group span {
		font-size: 16px;
	}
	.sell .non-wallet-user-step li {
		font-size: 16px;
	}
	.sell .fourth-section {
		width: 90%;
		height: auto;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-left: 10px;
	}
	.sell .fourth-section .fourth-section-content {
		display: flex;
		width: 100%;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	.sell .fourth-section h1 {
		font-size: 24px;
	}
	.sell .fourth-section p {
		font-size: 18px;
	}
	.sell .fourth-section #contactUs {
		width: 200px;
		justify-content: center;
		display: flex;
		align-items: center;
		font-size: 18px;
		padding: 20px;
		height: 30px;
	}
}
@media screen and (min-width: 360px) and (max-width: 480px) {
	.sell-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.first-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 10px;
	}
	.first-section img,
	.first-section .bannerbg {
		width: 100%;
		height: 210px;
	}
	.first-section .bannerbg {
		width: 100%;
		height: auto;
		padding-bottom: 0px;
	}
	.first-section .banner-buttons {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: 0px;
		gap: 10px;
		padding-bottom: 20px;
	}
	.first-section #contactUs {
		height: 50px;
		width: 130px;
		margin-top: 0px;
		font-size: 14px;
		/* padding: 10px; */
	}
	.first-section #signIn {
		height: 50px;
		width: 130px;
		margin-top: 0px;
		font-size: 14px;
		padding: 0px;
	}
	.second-section {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-left: 20px;
	}
	.second-content-span {
		width: 100%;
		font-size: 20px;
	}
	.sell-header {
		font-size: 26px;
		margin-top: 10px;
	}

	.second-section .section-container {
		margin-left: 0px;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		display: flex;
	}
	.section-container .content {
		width: 100%;
		margin: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}
	.section-container .content p {
		margin: 0px;
		font-size: 18px;
		width: 100%;
	}
	.second-section .content #ListPropertybtn {
		margin: 30px 0px;
		height: 20px;
		width: 200px;
		font-size: 16px;
		padding: 20px;
	}
	.section-container .options {
		display: flex;
		width: 100%;
		font-size: 16px;
	}
	.sell .third-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.third-section .third-cont-guide {
		margin: 0px;
		font-size: 22px;
	}
	.third-section .section-cont-guide {
		font-size: 20px;
		margin-left: 10px;
	}
	.third-section .section-cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 10px;
	}
	.third-section .section-cards .cards {
		width: 100%;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.third-section .section-cards .card1,
	.third-section .section-cards .card2,
	.third-section .section-cards .card3,
	.third-section .section-cards .card4 {
		width: 90%;
		height: auto;
		padding: 10px;
	}
	.sell .non-wallet-user-group {
		display: flex;
		flex-direction: column;
		margin-left: 10px;
		padding: 10px;
	}
	.sell .non-wallet-user-group span {
		font-size: 16px;
	}
	.sell .non-wallet-user-step li {
		font-size: 16px;
	}
	.sell .fourth-section {
		height: auto;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-left: 10px;
	}
	.sell .fourth-section .fourth-section-content {
		display: flex;
		width: 100%;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	.sell .fourth-section h1 {
		font-size: 24px;
	}
	.sell .fourth-section p {
		font-size: 18px;
	}
	.sell .fourth-section #contactUs {
		width: 200px;
		justify-content: center;
		display: flex;
		align-items: center;
		font-size: 18px;
		padding: 20px;
		height: 30px;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
	.sell-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.first-section {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 5px;
	}
	.first-section img,
	.first-section .bannerbg {
		height: 300px;
	}
	.first-section .bannerbg {
		/* height: auto; */
		padding-bottom: 0px;
	}
	.first-section .banner-buttons {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: 0px;
		gap: 10px;
		padding-bottom: 10px;
	}
	.first-section #contactUs {
		height: 50px;
		width: 100px;
		margin-top: 0px;
		font-size: 14px;
		/* padding: 10px; */
	}
	.first-section #signIn {
		height: 50px;
		width: 100px;
		margin-top: 0px;
		font-size: 14px;
		padding: 0px;
	}
	.second-section {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-left: 20px;
	}
	.second-content-span {
		width: 100%;
		font-size: 20px;
	}
	.sell-header {
		font-size: 26px;
		margin-top: 10px;
	}

	.second-section .section-container {
		width: 100%;
		margin-left: 0px;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: row;
		display: flex;
    gap: 50px;
	}
	.section-container .content {
		width: 100%;
		margin: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}
	.section-container .content p {
		margin: 0px;
		font-size: 18px;
		width: 100%;
	}
	.second-section .content #ListPropertybtn {
		margin: 30px 0px;
		height: 20px;
		width: 200px;
		font-size: 16px;
		padding: 20px;
	}
	.section-container .options {
		display: flex;
		width: 100%;
		font-size: 16px;
	}
	.sell .third-section {
    width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;
    margin-left: 10px;
	}
	.third-section .third-cont-guide {
		margin: 0px;
		font-size: 22px;
    margin-left: 10px;
	}
	.third-section .section-cont-guide {
		font-size: 20px;
		margin-left: 10px;
	}
	.third-section .section-cards {
    width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.third-section .section-cards .cards {
		width: 90%;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: row;
    flex-wrap: wrap;
	}
	.third-section .section-cards .card1,
	.third-section .section-cards .card2,
	.third-section .section-cards .card3,
	.third-section .section-cards .card4 {
		width: calc(50% - 30px);
		height: 200px;
		padding: 10px;
	}
	.sell .non-wallet-user-group {
		display: flex;
		flex-direction: column;
		margin-left: 10px;
		padding: 10px;
    width: 100%;
	}
	.sell .non-wallet-user-group span {
		font-size: 18px;
	}
	.sell .non-wallet-user-step li {
		font-size: 18px;
	}
	.sell .fourth-section {
		width: 100%;
		height: auto;
		justify-content: center;
		align-items: center;
		display: flex;
    flex-wrap: wrap;
		flex-direction: column;
	}
	.sell .fourth-section .fourth-section-content {
		display: flex;
		width: 100%;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 10px;
    padding: 5px;
	}
	.sell .fourth-section h1 {
		font-size: 24px;
	}
	.sell .fourth-section p {
		font-size: 18px;
    margin-left: 10px;
	}
	.sell .fourth-section #contactUs {
		width: 200px;
		justify-content: center;
		display: flex;
		align-items: center;
		font-size: 18px;
		padding: 20px;
		height: 30px;
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
	.sell-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.first-section {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 5px;
	}
	.first-section img,
	.first-section .bannerbg {
		height: 350px;
	}
	.first-section .bannerbg {
		/* height: auto; */
		padding-bottom: 0px;
    display: flex;
    justify-content: center;
	}
	.first-section .banner-buttons {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: 0px;
		gap: 10px;
		padding-bottom: 10px;
	}
	.first-section #contactUs {
		height: 50px;
		width: 150px;
		margin-top: 0px;
		font-size: 14px;
		/* padding: 10px; */
	}
	.first-section #signIn {
		height: 50px;
		width: 150px;
		margin-top: 0px;
		font-size: 14px;
		padding: 0px;
	}
	.second-section {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-left: 20px;
	}
	.second-content-span {
		width: 100%;
		font-size: 20px;
	}
	.sell-header {
		font-size: 26px;
		margin-top: 10px;
	}

	.second-section .section-container {
		width: 100%;
		margin-left: 0px;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: row;
		display: flex;
    gap: 50px;
	}
	.section-container .content {
		width: 100%;
		margin: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}
	.section-container .content p {
		margin: 0px;
		font-size: 18px;
		width: 100%;
	}
	.second-section .content #ListPropertybtn {
		margin: 30px 0px;
		height: 20px;
		width: 200px;
		font-size: 16px;
		padding: 20px;
	}
	.section-container .options {
		display: flex;
		width: 100%;
		font-size: 16px;
	}
	.sell .third-section {
    width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;
    margin-left: 10px;
	}
	.third-section .third-cont-guide {
		margin: 0px;
		font-size: 22px;
    margin-left: 10px;
	}
	.third-section .section-cont-guide {
		font-size: 20px;
		margin-left: 10px;
	}
	.third-section .section-cards {
    width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.third-section .section-cards .cards {
		width: 90%;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: row;
    flex-wrap: wrap;
	}
	.third-section .section-cards .card1,
	.third-section .section-cards .card2,
	.third-section .section-cards .card3,
	.third-section .section-cards .card4 {
		width: calc(20% - 10px);
		height: 250px;
		padding: 10px;
	}
	.sell .non-wallet-user-group {
		display: flex;
		flex-direction: column;
		margin-left: 10px;
		padding: 10px;
    width: 100%;
	}
	.sell .non-wallet-user-group span {
		font-size: 18px;
	}
	.sell .non-wallet-user-step li {
		font-size: 18px;
	}
	.sell .fourth-section {
		width: 100%;
		height: auto;
		justify-content: center;
		align-items: center;
		display: flex;
    flex-wrap: wrap;
		flex-direction: column;
	}
	.sell .fourth-section .fourth-section-content {
		display: flex;
		width: 100%;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 10px;
    padding: 5px;
	}
	.sell .fourth-section h1 {
		font-size: 24px;
	}
	.sell .fourth-section p {
		font-size: 18px;
    margin-left: 10px;
	}
	.sell .fourth-section #contactUs {
		width: 200px;
		justify-content: center;
		display: flex;
		align-items: center;
		font-size: 18px;
		padding: 20px;
		height: 30px;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .first-section {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 20px;
	}
  .section-container .content p {
		margin: 0px;
    font-size: 22px;
		width: 100%;
	}
  .second-section .content #ListPropertybtn{
    margin: 20px 0px;
  }
  .second-content-span{
    font-size: 30px;
  }
  .sell .third-section {
    width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;
    margin-left: 50px;
	}
	.third-section .third-cont-guide {
		margin: 0px;
		font-size: 30px;
    margin-left: 10px;
	}
	.third-section .section-cont-guide {
		font-size: 24px;
		margin-left: 10px;
	}
	.third-section .section-cards {
    width: 100%;
		display: flex;
		flex-direction: column;
		/* justify-content: center;
		align-items: center; */
	}
	.third-section .section-cards .cards {
		width: 100%;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: row;
    flex-wrap: wrap;
	}
	.third-section .section-cards .card1,
	.third-section .section-cards .card2,
	.third-section .section-cards .card3,
	.third-section .section-cards .card4 {
		width: calc(24% - 30px);
		height: 250px;
		padding: 10px;
	}
	.sell .non-wallet-user-group {
		display: flex;
		flex-direction: column;
		margin-left: 10px;
		padding: 10px;
    width: 100%;
	}
	.sell .non-wallet-user-group span {
		font-size: 22px;
	}
	.sell .non-wallet-user-step li {
		font-size: 22px;
	}
	.sell .fourth-section {
		width: 100%;
		height: auto;
		justify-content: center;
		align-items: center;
		display: flex;
    flex-wrap: wrap;
		flex-direction: column;
    padding-bottom: 100px;
	}
	.sell .fourth-section .fourth-section-content {
		display: flex;
		width: 100%;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 10px;
    padding: 5px;
	}
	.sell .fourth-section h1 {
		font-size: 30px;
	}
	.sell .fourth-section p {
		font-size: 20px;
    margin-left: 10px;
	}
	.sell .fourth-section #contactUs {
		width: 250px;
		justify-content: center;
		display: flex;
		align-items: center;
		font-size: 30px;
		padding: 30px;
		height: 50px;
	}
  
}