

@media screen and (max-width: 768px) {
     .seller-button-dropdown{
        width:94% !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;
     }
     .seller-drop-items{
           width:300px !important;
     }
     #join-team{
        margin-top: 0px !important;
     }
}