:root {
	--sell-row-height: 80vh;
}

.sell {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100vh;
	max-height: auto;
	position: relative;
	background-color: white;
}

.section-container .options input[type="radio"] {
	display: none;
}

.options .dot {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid red;
	border-radius: 50%;
	margin-right: 10px;
	position: relative;
}

.options input[type="radio"]:checked + .dot::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.sell-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
}

.sell-contents {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
	margin: 10px 0px 0px 0px;
}

.first-section {
	font-weight: bold;
	background-color: #fff;
	width: 100%;
	/* height: 700px; */
	display: flex;
	flex-direction: row;
	margin: 10px 0px 0px 0px;
	justify-content: center;
	align-items: center;
}

.fourth-section,
.second-section {
	display: flex;
	flex-direction: column;
	margin: 50px 0px 0px 0px;
	justify-content: center;
	align-items: center;
	/* font-size: 5rem; */
	font-weight: bold;
	background-color: #fff;
	width: 100%;
	height: 500px;
}

.first-section {
	background-color: #ffffff;
	padding: 0% 5% 2%;
	display: flex;
	flex-direction: row;
}

.first-section img {
	width: 50%;
	height: 500px;
	object-fit: cover;
}

.first-section .bannerbg {
	background-color: #ededed;
	width: 50%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 500px;
	gap: 10px;
	padding: 2% 0px 2% 3%;
}

.sell-header {
	color: black;
	text-align: left;
	font-size: 80%;
}

.first-section .sell--action-btn,
.fourth-section #contactUs {
	border-radius: 10px;
	font-weight: bold;
	padding: 25px;
	width: 200px;
	height: 80px;
	font-size: 22px;
}

.first-section #contactUs {
	color: #d90000;
	border-color: #d90000;
	background-color: transparent;
	/* border-radius: 20px; */
	padding: 25px;
	border: 1px solid var(--red);
	/* cursor: pointer; */
}

.first-section #contactUs:hover {
	background: transparent;
}

.first-section #signIn {
	color: #ffffff;
	background-color: #d90000;
	padding-left: 50px;
	padding-right: 50px;
	border: 1px solid var(--red);
	/* cursor: pointer; */
}

.second-section {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 5rem;
	padding: 0% 5% 2%;
	/* gap: 3rem; */
}

.section-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.second-content-span {
	color: black;
	font-size: 60%;
	font-weight: bold;
	width: 100%;
	/* width: 90%; */
	display: flex;
	justify-content: flex-start;
}

.second-section .content #ListPropertybtn {
	border: 1px solid var(--red);
	width: 300px;
	height: 80px;
	color: #ffffff;
	font-weight: bold;
	background-color: #d90000;
	border-radius: 10px;
	padding: 35px;
	font-size: 23px;
	margin: 50px 0px 0px 0px;
	/* margin: 50px 0px 0px 100px; */
	justify-content: center;
	display: flex;
	align-items: center;
}

.second-section .content p {
	color: #000;
	font-size: 40%;
	align-items: flex-start;
	font-weight: lighter;
	text-align: left;
	/* width: 500px; */
	/* margin: 0px 0px 0px 100px; */
}

.options {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	font-size: 40%;
	font-weight: normal;
	align-items: flex-start;
	justify-content: left;
	width: 40%;
}

.section-container .content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 40%;
	gap: 20px;
	box-shadow: none;
	padding: 0;
}

.content-container {
	display: flex;
	flex-direction: row;
}

/*third*/
.third-section {
	margin-top: 5%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	gap: 2.5rem;
	width: 100%;
	height: auto;
	padding: 0% 5% 2%;
}

.third-section .third-cont-guide {
	color: #000;
	font-weight: bold;
	font-size: 60%;
	/* margin-right: 74%; */
	/* width: 100%; */
}
.third-section .third--subtitle {
	display: flex;
	flex-direction: row;
	/* gap: 3rem; */
	/* width: 100%; */
	margin: auto 70px;
	font-size: 2.2rem;
	text-align: center;
}
.third-section .section-cont-guide {
	color: #000;
	font-size: 24px;
	font-weight: 300px;
}

/* .section-cards {
   display: flex;
   flex-direction: column;
   gap: 3rem;
 } */

.cards {
	display: flex;
	flex-direction: row;
	/* gap: 3rem; */
	width: 100%;
	justify-content: space-evenly;
	/* justify-content: center; */
	font-size: 2.2rem;
	text-align: center;
}

.cards h5 {
	font-size: 65%;
}

.cards p {
	font-size: 50%;
	margin-top: 25%;
}

.cards .card1,
.card2,
.card3,
.card4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #d9d9d9;
	border-radius: 10px;
	width: 20%;
	/* width: 20%; */
	padding: 2% 2% 7% 2%;
	height: 100%;
	height: auto;
}

.sell .non-wallet-user-group {
	display: flex;
	flex-direction: column;
	margin: 30px 70px 0px 70px;
}

.sell .non-wallet-user-group span {
	font-size: 20px;
}

.sell .non-wallet-user-group li {
	font-size: 20px;
	margin: 20px 0px 0px 0px;
}

/*fourth*/
.fourth-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding-bottom: 6%; */
	gap: 2rem;
	margin-top: 3%;
	height: auto;
	padding: 0% 5% 6%;
}

.fourth-section h1 {
	color: black;
	font-weight: bold;
	font-size: 60%;
	text-align: center;
}

.fourth-section p {
	color: #000;
	font-size: 20px;
	font-weight: lighter;
	margin-top: 2%;
}

.fourth-section #contactUs {
	color: #d90000;
	font-weight: bold;
	border-color: #d90000;
	background-color: transparent;
	/* border-radius: 20px; */
	font-size: 24px;
	padding: 1.5%;
	/* width: 250px;
    height: 80px;
    cursor: pointer; */
}
.sell-component-faqs {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.sell-component-faqs-questions {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 30px 20px;
}

.sell-component-faqs-content {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 0px 50px;
	gap: 20px; 
}

.sell-faqs-dropdown {
	font-size: 20px;
	font-weight: 400;
	cursor: pointer;
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(164, 161, 161, 27%);
	justify-content: space-between;
}

.sell-buy-faqs {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.sell-buy-faqs h2{
  font-size: 24px;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
	.sell {
		width: 100%;
	}

	.sell-contents {
		flex-direction: column;
		margin: 0px;
	}

	.first-section {
		flex-direction: column;
		margin: 0px;
	}

	.first-section img,
	.first-section .bannerbg {
		width: 100%;
		height: auto;
	}

	.first-section .bannerbg {
		width: 100%;
		flex-direction: column;
		padding: 5% 0px 5% 5%;
	}

	.sell-header {
		font-size: 27px;
	}

	.second-section {
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0px;
		height: auto;
		gap: 1rem;
	}

	.second-content-span {
		font-size: 23px;
		margin: 10px 0px 0px 0px;
	}

	.sell .banner-buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		margin-bottom: 10px;
	}

	.banner-buttons #contactUs,
	.banner-buttons #signIn {
		font-size: 16px;
		font-weight: 700px;
		width: 140px;
		height: 50px;
	}

	.section-container {
		flex-direction: column;
	}

	.section-container .content {
		width: 100%;
	}

	.sell .content p {
		font-size: 17px;
	}

	.second-section .content #ListPropertybtn {
		width: 200px;
		height: 50px;
		font-size: 17px;
		padding: 5px;
		margin-top: 20px;
	}

	.sell .second-section .options {
		width: 100%;
		flex-direction: column;
		margin: 50px 0px 0px 0px;
	}

	.third-section {
		width: 100%;
		margin: 0px;
		gap: 1rem;
	}

	.sell .third-section .third-cont-guide {
		font-size: 23px;
		margin: 30px 0px 0px 0px;
	}
	.third-section .third--subtitle {
		width: 100%;
		margin: 20px 0;
	}

	.third-section .section-cont-guide {
		font-size: 17px;
		width: 100%;
	}

	.third-section .section-cards .cards {
		flex-direction: column;
		gap: 2rem;
	}

	.third-section .non-wallet-user-group {
		align-items: center;
		margin: 20px 0px 0px 0px;
	}
  .sell-buy-faqs h2{
  font-size: 23px;
}

	.cards .card1,
	.card2,
	.card3,
	.card4 {
		width: 100%;
		justify-content: center;
		align-items: center;
		gap: 0px;
		height: 150px;
	}

	.third-section .cards p {
		margin-top: 10px;
		font-size: 16px;
	}

	.sell .fourth-section {
		width: 100%;
		height: auto;
		margin: 30px 0px 30px 0px;
		gap: 0rem;
	}

	.sell .fourth-section .fourth-section-content {
		margin: 0px;
	}

	.fourth-section h1 {
		font-size: 23px;
	}

	.sell .fourth-section p {
		font-size: 16px;
		text-align: center;
		margin-top: 20px;
	}

	.sell .fourth-section #contactUs {
		width: 200px;
		height: 50px;
		font-size: 18px;
		margin-top: 30px;
	}

	.sell .second-section .section-container .options {
		font-size: 16px;
		display: flex;
		gap: 9px;
	}

	.options .dot {
		display: inline-block;
		width: 15px;
		height: 15px;
		border: 2px solid red;
		border-radius: 50%;
		margin-right: 10px;
		position: relative;
	}

	.cards h5 {
		font-size: 18px;
	}

	.sell .non-wallet-user-group span {
		font-size: 20px;
	}

	.sell .non-wallet-user-group span {
		font-size: 16px;
		margin-top: 20px;
	}

	.sell .non-wallet-user-step li {
		font-size: 16px;
		margin: 20px 0px 0px 0px;
	}
	.sell-component-faqs {
		width: 100%;
	}
	.sell-component-faqs-questions {
		width: 100%;
		padding: 5px;
	}
	.sell-component-faqs-content {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding: 20px 0px;
	}
	.sell-faqs-dropdown {
		font-size: 16px;
		font-weight: 400;
		border-bottom: 1px solid rgb(164, 161, 161, 27%);
		justify-content: space-between;
	}
}

@media screen and (min-width: 481px) and (max-width: 800px) {
	.sell {
		width: 100%;
	}

	.sell-contents {
		display: flex;
		flex-direction: column;
		margin: 0px;
	}

	.first-section {
		display: flex;
		flex-direction: column;
		margin: 0px;
	}

	.first-section img,
	.first-section .bannerbg {
		width: 100%;
		height: 300px;
	}
	.sell-header {
		font-size: 35px;
	}

	.first-section .bannerbg {
		width: 100%;
	}

	.second-section {
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0px;
		/* margin: 200px 0px 0px 0px; */
		height: auto;
		gap: 1rem;
	}

	.second-content-span {
		font-size: 25px;
	}

	.sell .banner-buttons {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	.banner-buttons #contactUs,
	.banner-buttons #signIn {
		padding: 5px;
		font-size: 18px;
		width: 130px;
		height: 55px;
	}

	.section-container {
		flex-direction: column;
		justify-content: baseline;
		gap: 2.5rem;
		margin-top: 10px;
	}

	.section-container .content {
		width: 100%;
	}

	.sell .content p {
		font-size: 18px;
	}

	.second-section .content #ListPropertybtn {
		width: 250px;
		height: 50px;
		font-size: 18px;
		padding: 5px;
		margin: 18px 0px 0px 0px;
	}

	.sell .second-section .options {
		flex-direction: column;
		width: 100%;
		font-size: 18px;
		gap: 8px;
	}

	.sell .second-section .options p {
		font-size: 18px;
	}

	.third-section {
		width: 100%;
		margin: 0px;
		gap: 1rem;
	}

	.sell .third-section .third-cont-guide {
		font-size: 25px;
		margin: 30px 0px 0px 0px;
	}

	.third-section .third--subtitle p {
		font-size: 18px;
		margin: 0;
	}

	.third-section .third--subtitle {
		margin: auto;
		width: 100%;
	}

	.third-section .section-cont-guide {
		font-size: 16px;
		width: 100%;
		margin: 0px 0px 0px 70px;
	}

	.third-section .section-cards .cards {
		flex-direction: column;
		margin: auto;
		justify-content: center;
	}

	.sell .non-wallet-user-group {
		margin: 30px 30px 0px;
	}

	.cards .card1,
	.card2,
	.card3,
	.card4 {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 3px;
		padding: 8% 2%;
	}

	.third-section .cards p {
		margin-top: 10px;
		font-size: 16px;
	}

	.sell .fourth-section {
		width: 100%;
		height: auto;
		margin: 40px 0px 30px 0px;
		gap: 2rem;
	}

	.fourth-section h1 {
		font-size: 25px;
		margin: 0px 20px 0px 0px;
	}

	.sell .fourth-section p {
		font-size: 18px;
		text-align: center;
	}

	.sell .fourth-section #contactUs {
		width: 200px;
		height: 50px;
		font-size: 20px;
	}

	.options .dot {
		display: inline-block;
		width: 15px;
		height: 15px;
		border: 2px solid red;
		border-radius: 50%;
		margin-right: 10px;
		position: relative;
	}

	.cards h5 {
		font-size: 18px;
	}

	.cards {
		gap: 1rem;
	}

	.sell .non-wallet-user-group span {
		font-size: 18px;
		margin-top: 20px;
	}
	.sell .non-wallet-user-step ul {
		margin-top: 30px;
	}

	.sell .non-wallet-user-step li {
		font-size: 16px;
		margin: 23px 20px 0px 0px;
	}

	.sell-component-faqs-questions {
		width: 100%;
		padding: 5px 5px 5px 10px;
	}
	.sell-component-faqs-content {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding: 20px 0px;
	}
	.sell-faqs-dropdown {
		font-size: 17px;
		font-weight: 400;
		border-bottom: 1px solid #444444;
		justify-content: space-between;
	}
}

@media screen and (min-width: 801px) and (max-width: 999px) {
	.sell {
		width: 100%;
	}

	.sell-contents {
		display: flex;
		flex-direction: column;
		margin: 0px;
	}

	.sell-header {
		font-size: 28px;
	}

	.first-section {
		margin: 0px;
	}

	.first-section img,
	.first-section .bannerbg {
		width: 50%;
		height: 290px;
	}

	.second-section {
		margin: 0px;
		/* margin: 200px 0px 0px 0px; */
		height: auto;
		gap: 3rem;
	}

	.second-content-span {
		font-size: 28px;
	}

	.section-container .content {
		width: 100%;
	}

	.sell .banner-buttons {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	.banner-buttons #contactUs,
	.banner-buttons #signIn {
		font-size: 16px;
		width: 120px;
		height: 50px;
	}

	.sell .content p {
		font-size: 18px;
		margin: 0px 0px 0px 40px;
		width: 300px;
	}

	.second-section .content #ListPropertybtn {
		width: 250px;
		height: 50px;
		font-size: 18px;
		padding: 5px;
		margin: 20px 0px 0px 40px;
	}

	.sell .second-section .options {
		width: 100%;
	}

	.sell .second-section .options p {
		font-size: 18px;
	}

	.third-section {
		width: 100%;
		margin-top: 40px;
	}

	.sell .third-section .third-cont-guide {
		font-size: 28px;
	}

	.third-section .section-cont-guide {
		font-size: 20px;
		width: 100%;
		margin: 0px 0px 0px 40px;
	}

	.cards .card1,
	.card2,
	.card3,
	.card4 {
		width: 90%;
		display: flex;
		gap: 0px;
		height: 200px;
		margin: auto 15px;
	}

	.third-section .cards p {
		margin: 0px;
	}

	.sell .fourth-section {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sell .fourth-section .fourth-section-content {
		/* margin: 0px 0px 0px 20px; */
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.fourth-section h1 {
		font-size: 28px;
	}

	.sell .fourth-section p {
		font-size: 18px;
		margin: 20px 0px 0px 0px;
		width: 95%;
	}

	.sell .fourth-section #contactUs {
		width: 200px;
		height: 50px;
		margin: 0px;
		font-size: 20px;
	}

	.sell .second-section .section-container .options {
		font-size: 18px;
		display: flex;
		/* gap: 4px */
	}

	.sell .non-wallet-user-group {
		margin: 30px 30px 0px;
	}

	.options .dot {
		display: inline-block;
		width: 18px;
		height: 18px;
		border: 2px solid red;
		border-radius: 50%;
		margin-right: 10px;
		position: relative;
	}

	.sell .non-wallet-user-group span {
		font-size: 18px;
		margin-top: 20px;
		width: 95%;
	}

	.sell .non-wallet-user-step li {
		font-size: 18px;
		margin: 20px 20px 0px 0px;
	}
	.sell-component-faqs-questions {
		width: 100%;
		padding: 5px 5px 5px 10px;
	}
	.sell-component-faqs-content {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding: 20px 0px;
	}
	.sell-faqs-dropdown {
		font-size: 17px;
		font-weight: 400;
		border-bottom: 1px solid #444444;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
	.sell {
		width: 100%;
	}

	.sell-contents {
		display: flex;
		flex-direction: column;
		margin: 0px;
	}

	.first-section {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
		margin: 0px;
	}

	.first-section img,
	.first-section .bannerbg {
		width: 50%;
		height: 300px;
	}

	.first-section .bannerbg {
		font-size: 30px;
		/* padding: 0px 0px 20px 20px; */
	}

	.first-section .sell-header {
		font-size: 30px;
	}
	.section-container {
		justify-content: space-around;
	}

	.second-section {
		margin: 0px;
		/* margin: 200px 0px 0px 0px; */
		height: auto;
		gap: 3rem;
	}

	.second-content-span {
		font-size: 29px;
		/* margin: 10px 0px 0px 0px; */
	}

	.bannerbg .banner-buttons {
		display: flex;
		gap: 20px;
	}

	.banner-buttons #contactUs,
	.banner-buttons #signIn {
		padding: 5px;
		font-size: 17px;
		width: 135px;
		height: 50px;
	}

	.sell .content p {
		font-size: 20px;
	}

	.second-section .content #ListPropertybtn {
		width: 250px;
		height: 50px;
		font-size: 20px;
		padding: 5px;
		margin: 20px 0px 0px 0px;
	}

	.sell .second-section .options {
		font-size: 20px;
	}

	.sell .second-section .options p {
		font-size: 20px;
	}

	.third-section {
		margin-top: 50px;
	}

	.sell .third-section .third-cont-guide {
		font-size: 29px;
	}

	.third-section .section-cont-guide {
		font-size: 1.3rem;
	}
	.third-section .third--subtitle {
		margin: auto 50px;
	}

	.third-section .non-wallet-user-group {
		margin: 30px 50px 0px;
	}

	.third-section .cards p {
		margin: 0px;
	}

	.sell .fourth-section .fourth-section-content {
		/* margin: 0px 0px 0px 20px; */
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.fourth-section h1 {
		font-size: 30px;
	}

	.sell .fourth-section p {
		font-size: 20px;
		text-align: center;
	}

	.sell .fourth-section #contactUs {
		width: 200px;
		height: 60px;
		font-size: 20px;
	}
	.sell-component-faqs-questions {
		width: 100%;
		padding: 5px 5px 5px 10px;
	}
	.sell-component-faqs-content {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding: 20px 0px;
	}
	.sell-faqs-dropdown {
		font-size: 18px;
		font-weight: 400;
		border-bottom: 1px solid #444444;
	}
}
