/* SKELETON */

/* .skeleton--card-listing
{
  width: 100%;
} */
.skeleton--card-listing .skeleton--card-img .ant-skeleton-image {
	position: relative;
	border-radius: 0 0 8px 8px !important;
	width: 100%;
	opacity: 1;
	object-fit: cover;
	font-size: var(--d-body-text);
	border-radius: 8px 8px 0 0;
	margin-bottom: 50px;
	margin-top: 20px;

}

.skeleton--card-listing .skeleton--card-img {
	height: calc(var(--image-height)) !important;
	width: 100%;

}

.skeleton--card-listing .ant-skeleton-title {
	height: 30px !important;
}

.skeleton--features {
	display: flex;
	justify-content: space-between;
}

.skeleton--card-price {
	width: 150px;
}

.skeleton--feature-items {
	display: flex;
}

.skeleton--card-feature {
	margin: 0 7px;
}

/* FEATURES */
.skeleton--feature-price {
	width: 300px;
	display: flex;
	justify-content: center;
	margin: 15px 0;
}

.skeleton--feature-title {
	width: 250px;
	margin: 25px 0 15px;
}

.skeleton--feature-sale_type {
	width: 150px;
}

.skeleton--feature-items {
	display: flex;
	justify-content: space-evenly;
}

.skeleton--feature-img {
	height: 200px !important;
	border-radius: 10px;
	/* object-fit: cover;
    width: 100%; */
}

/* PREVIEW LISTING */
.preview--skeleton-container {
	width: var(--default-page-size);
	margin: auto;
}

.preview__photos,
.preview__skeleton-right-side {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.skeleton-left--img,
.p__skeleton-left--img {
	height: 410px !important;
	width: 100% !important;
}

.p__skeleton-right--img {
	height: 200px !important;
	width: 100% !important;
	margin-bottom: 10px;
}

.preview__details {
	display: grid;
	grid-template-columns: 60% auto;
	gap: 20px;
}

.skeleton-left__card.card-1,
.skeleton-left__card.card-1 .ant-skeleton-title {
	height: 200px !important;
}

.skeleton-left__card.card-2,
.skeleton-left__card.card-2 .ant-skeleton-title {
	height: 300px !important;
}

.skeleton-right__card,
.skeleton-right__card .ant-skeleton-title {
	height: 520px !important;
}

/* CREATE LISTING */
.create__cards-top.create__cards,
.p__skeleton-top--card .ant-skeleton-title {
	height: 100px !important;
	width: 100%;
}

.create__details {
	display: grid;
	grid-template-columns: auto;
	gap: 20px;
}

.create__listing-card-top .ant-skeleton-title {
	height: 400px !important;
	width: 100%;
}

.create__listing-card-bottom.card-2 .ant-skeleton-title {
	height: 500px !important;
	width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
	/* .skeleton--card-listing {
		width: 300px;
		margin-bottom: 55px;
	} */

	/* .skeleton--card-listing .skeleton--card-img .ant-skeleton-image {
		width: 300px !important;
	} */

	/* .skeleton--card-listing .skeleton--card-img {
		height: 130px !important;
	} */
	/* .skeleton--feature-img {
		height: 150px !important;
	} */
	/* .skeleton--feature-img {
		margin: 0 !important;
	}
	.skeleton--feature-listing {
		padding: 0 20px !important;
	} */
}

@media screen and (min-width: 600px) and (max-width: 624px) {
	.skeleton--card-listing {
		width: 270px;
		margin-bottom: 55px;
	}

	.skeleton--feature-img {
		height: 150px !important;
	}

	.skeleton--card-listing .skeleton--card-img .ant-skeleton-image {
		width: 270px;
	}
}

@media screen and (min-width: 625px) and (max-width: 644px) {
	.skeleton--card-listing {
		width: 280px;
		margin-bottom: 55px;
	}

	.skeleton--card-listing .skeleton--card-img .ant-skeleton-image {
		width: 280px;
	}
}

@media screen and (min-width: 645px) and (max-width: 789px) {
	.skeleton--card-listing {
		width: 290px;
		margin-bottom: 55px;
	}

	.skeleton--card-listing .skeleton--card-img .ant-skeleton-image {
		width: 290px;
	}
}

@media screen and (min-width: 790px) and (max-width: 869px) {
	.skeleton--card-listing {
		width: 280px;
		margin-bottom: 55px;
	}

	.skeleton--card-listing .skeleton--card-img .ant-skeleton-image {
		width: 280px;
	}
}

@media screen and (min-width: 870px) and (max-width: 899px) {
	.skeleton--card-listing {
		width: 260px;
		margin-bottom: 55px;
	}

	.skeleton--card-listing .skeleton--card-img .ant-skeleton-image {
		width: 260px;
	}
}

@media screen and (min-width: 900px) and (max-width: 919px) {
	.skeleton--card-listing {
		width: 270px;
		margin-bottom: 55px;
	}

	.skeleton--card-listing .skeleton--card-img .ant-skeleton-image {
		width: 270px;
	}
}

@media screen and (min-width: 900px) and (max-width: 1030px) {
	.preview--skeleton-container {
		width: 90%;
	}
}

@media screen and (min-width: 768px) and (max-width: 899px) {
	.preview--skeleton-container {
		width: 90%;
	}

	.skeleton-left--img,
	.p__skeleton-left--img {
		height: 300px !important;
	}

	.p__skeleton-right--img {
		height: 145px !important;
	}

	.skeleton-left__card.card-1,
	.skeleton-left__card.card-1 .ant-skeleton-title {
		height: 130px !important;
	}

	.skeleton-left__card.card-2,
	.skeleton-left__card.card-2 .ant-skeleton-title {
		height: 200px !important;
	}

	.skeleton-right__card,
	.skeleton-right__card .ant-skeleton-title {
		height: 350px !important;
	}
}


@media screen and (min-width: 480px) and (max-width: 767px) {
	.preview--skeleton-container {
		width: 90%;
	}

	.skeleton-left--img,
	.p__skeleton-left--img {
		height: 250px !important;
	}

	.p__skeleton-right--img {
		height: 120px !important;
	}

	.skeleton-left__card.card-1,
	.skeleton-left__card.card-1 .ant-skeleton-title {
		height: 110px !important;
	}

	.skeleton-left__card.card-2,
	.skeleton-left__card.card-2 .ant-skeleton-title {
		height: 160px !important;
	}

	.skeleton-right__card,
	.skeleton-right__card .ant-skeleton-title {
		height: 295px !important;
	}
}

@media screen and (min-width: 320px) and (max-width: 479px) {
	.preview--skeleton-container {
		width: 95%;
	}

	.skeleton-left--img,
	.p__skeleton-left--img {
		height: 230px !important;
	}

	.p__skeleton-right--img {
		height: 110px !important;
	}

	.skeleton-left__card.card-1,
	.skeleton-left__card.card-1 .ant-skeleton-title {
		height: 90px !important;
	}

	.skeleton-left__card.card-2,
	.skeleton-left__card.card-2 .ant-skeleton-title {
		height: 130px !important;
	}

	.skeleton-right__card,
	.skeleton-right__card .ant-skeleton-title {
		height: 243px !important;
	}
}