.main-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-container{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
    gap: 1rem;
    height: 20%;
    border-radius: 30px;
    z-index: 1000;
    top: 30%;
}

.modal-container h4{
    color: #276638;
    font-size: large;
}

.modal-container p{
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #8C9094;
    /* padding: 6%; */
    width: 90%;
}

#noted-btn{
    background-color: #276638; 
    font-weight: bold;   
    color: #fff;
    height: 25%;
    border-radius: 20px;
}

@media only screen and (max-width: 1024px ){
    .main-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;

    }
    
    .modal-container{
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 400px;
        gap: .7rem;
        height: 200px;
        border-radius: 25px;
        z-index: 1000;
        top: 30%;
    }
    
    .modal-container h4{
        color: #276638;
        font-size: large;
    }
    
    .modal-container p{
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #8C9094;
        width: 90%;
    }
    
    #noted-btn{
        background-color: #276638; 
        font-weight: bold;   
        color: #fff;
        height: 18%;
        border-radius: 10px;
        font-size: small;
    }
    
}

@media only screen and (max-width: 720px ){
    .main-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
    
    .modal-container{
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 250px;
        gap: .3rem;
        height: 130px;
        border-radius: 25px;
        z-index: 1000;
        top: 30%;
    }
    
    .modal-container h4{
        color: #276638;
        font-size: small;
    }
    
    .modal-container p{
        font-size: x-small;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #8C9094;
        /* padding: 6%; */
        width: 90%;
    }
    
    #noted-btn{
        background-color: #276638; 
        font-weight: bold;   
        color: #fff;
        height: 18%;
        border-radius: 10px;
        font-size: x-small;
    }
    
}


