/* Base styles */
.support-navigation-bar {
  max-width: 100%;
  min-width: 99.2%;
  display: grid;
  position: sticky;
  top: 0;
  grid-template-columns: 69% 29%;
  grid-gap: 10px;
  background-color: #d90000;
  padding: 10px 0;
  justify-content: space-between;
}

.support-navigation-bar > div {
  text-align: center;
  padding: 6px 10px;
  font-size: 30px;
}

.support-navigation-bar .leftSideNavigationBar {
  display: inline-flex;
  align-items: center;
}

.support-navigation-bar .image {
  margin-top: 5px;
  object-fit: cover;
  width: 260px;
  display: inline-block;
  margin-left: 50px;
}

.support-navigation-bar .rightSideNavigationBar {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.support-navigation-bar .rightSideNavigationBar .list-property-div {
  border-radius: 20px;
  background-color: #fff;
  width: 40%;
}

.support-navigation-bar
  .rightSideNavigationBar
  .list-property-div
  .list-property-text {
  font-size: 16px;
  font-weight: bold;
  text-align: justify;
}

.support-navigation-bar .rightSideNavigationBar .list-your-property-button {
  border-radius: 30px;
  min-width: 10%;
}

.support-navigation-bar .rightSideNavigationBar .div {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.SecondNavigationDiv {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  padding: 30px 10px 20px 10px;
  justify-content: flex-start;
}

.SecondNavigationDiv .SecondDivTitle {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2%;
  width: 96%;
}

.SecondNavigationDiv .line {
  background-color: #d90000;
  height: 1px;
  margin-left: 2%;
  width: 96%;
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  .support-navigation-bar {
    grid-template-columns: 1fr; /* Stack columns vertically */
    text-align: center; /* Center align text */
  }

  .support-navigation-bar .leftSideNavigationBar {
    justify-content: center; /* Center align items */
    margin-bottom: 10px; /* Add space between sections */
  }

  .support-navigation-bar .image {
    width: 50%; /* Reduce image width */
    margin-left: 0; /* Remove left margin */
  }
  .custom-nav-link {
    font-size: x-small;
  }
  .support-navigation-bar .rightSideNavigationBar {
    justify-content: center; /* Center align items */
  }

  .support-navigation-bar .rightSideNavigationBar .list-property-div {
    width: auto; /* Auto width */
    max-width: 70%; /* Limit width */
  }

  .SecondNavigationDiv {
    padding: 20px 10px; /* Adjust padding */
  }

  .SecondNavigationDiv .SecondDivTitle {
    font-size: 16px;
    margin-left: 0;
    width: 100%;
  }

  .SecondNavigationDiv .line {
    margin-left: 0;
    width: 100%;
  }
  .rightSideNavigationBar {
    padding: 10px;
    font-size: xx-small !important;
  }
}
