.dashboard-navbar {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  width: 100%;

}

.navbar-group {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu-container {
  display: flex;
  align-items: center;
}



/* .menu-desktop {
  display: block;
}

.menu-mobile {
  display: none;
} */

@media screen and (min-width: 360px) and (max-width: 480px) {
  .drawer-icon {
    /* padding: 0px 0px 0px 0px; */
    width: 10px;
    height: 100px;
    color: #444444; 
    position: relative;  
  }
  .dashboard-navbar{
    width: 100%;
  }
  .navbar-group img {
    width: 50%;
    margin: 0px 0px 40px 0px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {

}
