.carouselControls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  width: 100%;
  transform: translateY(-50%);
  padding: 0 20px;
}

.leftIcon {
  font-size: 24px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 4%;
}
.rightIcon {
  font-size: 24px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 5%;
}

.carouselControls .disabled {
 background-color: grey;
 color: #E8E7E6;
 cursor: not-allowed;
}
.carouselControls .disabled:hover{
 background-color: grey;
 color: #E8E7E6;
 cursor: not-allowed;
}


.leftIcon:hover,
.rightIcon:hover {
  color: #d90000;
}
.propertyCard {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    /* height: ; */
    font-size: 35px;
    padding: 45px 51px;
  }
  
  .backgroundImage {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 91%;
    margin-left: 4%;
    z-index: 1; /* Ensuring the background image is at the back */
    border-radius: 10px;
    object-fit: cover;
  }
  
  .cameraIcon {
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 2; /* In front of the background image, but behind other content */
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
  }
  
  .logoImage {
    display: flex;
    aspect-ratio: 2;
    /* object-fit: auto; */
    object-position: center;
    height: 50px;
    margin-right: 4%;
    border-radius: 20px;
    /* padding: 0px 0px 0px 10px; */
    align-self: flex-end;
    max-width: 100%;
    z-index: 3; /* In front of the camera icon */
    background-color: #fff;
    justify-content: center;
  }
  .cameraImage{

      aspect-ratio: 2;
      /* object-fit: auto; */
      object-position: center;
      width: 40px;
      height: 40px;
      margin-right: 4%;
      border-radius: 20px;
      align-self: center;
      max-width: 100%;
      z-index: 3; /* In front of the camera icon */
      background-color: #fff;
    
  }
  .number{
    color: #d90000;
    font-size: 30px;
    margin-top: 5px;
  }
  
  .infoContainer {
    position: relative;
    display: flex;
    margin-top: 566px;
    width: 100%;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    z-index: 3; /* In front of the camera icon */
  }
  
  .statusPriceContainer {
    display: flex;
    gap: 14px;
    margin-left: 3%;
    /* margin-top: 5%; */
    align-items: center;
  }
  .statusBadge, .priceTag, .saveButton, .logoImage{
    border-radius: 10px !important;
  }

  
  .statusBadge {
    font-family: Poppins, sans-serif;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    font-weight: 600; 
    font-size: 24px;
    padding: 7px 10px;
    border: 1px solid gainsboro;
    /* padding: 8px; */
  }
  
  .priceTag {
    font-family: Inter, sans-serif;
    border-radius: 20px;
    background-color: #d90000;
    color: #fff;
    font-weight: 700;
    height: 15%;
    white-space: nowrap;
    flex-grow: 1;
    width: fit-content;
    padding: 10px;
    font-size: 30px;
  }
  
  .actionContainer {
    display: flex;
    flex-direction: column;
    color: #d90000;
    font-weight: 400;
    white-space: nowrap;
    margin-right: 4%;
  }
  .actionContainer :where(.css-dev-only-do-not-override-1uq9j6g).ant-tag-checkable-checked {
    background-color: transparent;
}
  .saveButton {
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ffffff;
    display: flex;
    /* gap: 6px; */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .saveIcon {
    aspect-ratio: 1.22;
    object-fit: auto;
    object-position: center;
    width: 49px;
  }
  
  .saveText {
    margin: auto 0;
  }
  
  .moreOptionsIcon {
    aspect-ratio: 7.69;
    object-fit: auto;
    object-position: center;
    width: 8px;
    stroke-width: 1px;
    stroke: #222;
    margin: 14px 0 0 10px;
    border: 1px solid #222;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
 
  
  /* Media Queries */
 
  @media only screen and (max-width: 1024px) and (min-width: 730px) {

    .propertyCard {
      padding: 30px 40px;
      font-size: 30px;
    }
  
  
    .cameraIcon {
      width: 25px;
      height: 25px;
    }
  
    .logoImage {
      width: 16%;
    }
  
    .infoContainer {
      margin-top: 500px;
    }
  
    .priceTag {
      padding: 12px 16px;
    }
  
    .saveIcon {
      width: 40px;
    }
    .carouselControls {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      z-index: 3;
      width: 100%;
      transform: translateY(-50%);
      padding: 0 20px;
    }
    
    .leftIcon {
      font-size: 24px;
      color: black;
      background-color: white;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      margin-left: 4%;
    }
    .rightIcon {
      font-size: 24px;
      color: black;
      background-color: white;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      margin-right: 5%;
    }
    
    
    
    .leftIcon:hover,
    .rightIcon:hover {
      color: #d90000;
    }
  }
  
  
  
  @media only screen and (max-width: 320px) {
    .propertyCard {
      padding: 15px 20px;
      font-size: 20px;
      position: relative;
    }
  
    .backgroundImage {
      width: 93%;
    }
  
    .cameraIcon {
      position: absolute;
      top: 30px;
      right: 20px;
      z-index: 2;
      width: 15px;
      height: 15px;
    }
  
    .logoImage {
      object-fit: auto;
      object-position: center;
      width: 50px;
      height: 25px;
      border-radius: 20px;
      align-self: flex-end;
      z-index: 3;
      margin-bottom: 8px;
    }
  
    .cameraImage {
      aspect-ratio: 2;
      object-position: center;
      width: 25px;
      height: 25px;
      border-radius: 20px;
      background-color: #fff;
      z-index: 3;
    }
  
    .number {
      color: #d90000;
      font-size: 14px;
    }
  
    .infoContainer {
      position: relative;
      display: flex;
      margin-top: 60%;
      width: 100%;
      align-items: center;
      gap: 30px;
      justify-content: space-between;
      z-index: 3;
    }
  
    .statusPriceContainer {
      display: flex;
    }
  
    .statusBadge {

      font-size: 12px;
      padding: 5px 10px;
      position: absolute;
     bottom: 47vh;
    }
  
    .priceTag {
      font-family: Inter, sans-serif;
      border-radius: 20px;
      background-color: #d90000;
      color: #fff;
      font-size: 16px;
      height: 35%;
      white-space: nowrap;
      flex-grow: 1;
      padding: 5px ;
      text-align: right;
    }
  
    .actionContainer {
      position: absolute;
      color: #d90000;
      font-weight: 400;
      white-space: nowrap;
      right: 0px;
      bottom: 0px;
      padding: 0px;
    }
  
    .saveButton {
      border-radius: 20px;
      background-color: #fff;
      gap: 2px;
      padding: 0px;
    }
  
    .saveIcon {
      aspect-ratio: 1.22;
      object-fit: contain;
      width: 20px;
    }
  
.saveText {
  display: none;
}
  
    .moreOptionsIcon {
      aspect-ratio: 7.69;
      object-fit: contain;
      width: 6px;
      stroke-width: 1px;
      stroke: #222;
      margin: 10px 0 0 8px;
      border: 1px solid #222;
    }
  
    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
    .carouselControls {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      z-index: 3;
      width: 100%;
      transform: translateY(-50%);
      padding: 0 20px;
    }
    
    .leftIcon {
      font-size: 10px;
      color: black;
      background-color: white;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      margin-left: 4%;
    }
    .rightIcon {
      font-size: 10px;
      color: black;
      background-color: white;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      margin-right: 5%;
    }
  }
  
  
  @media only screen and (min-width: 360px) and (max-width: 480px) {
    .propertyCard {
      padding: 15px 20px 15px 25px;
      font-size: 20px;
      /* height: 50%; */
    }
    
    .backgroundImage {
      width: 95%;
      margin-left: 3% ;
    }
.cameraIcon {
  position: absolute;
  top: 30px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 2; /* In front of the background image, but behind other content */
  width: 15px; /* Adjust as needed */
  height: 15px; /* Adjust as needed */
}

.logoImage{
  /* aspect-ratio: 2; */
  object-fit: auto;
  width: 55px;
  height: 27px;
  margin-right: 0%;
  border-radius: 10px !important;
  padding: 0 5px;
  align-items: center;
  gap: 2px;
}
.cameraImage {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 3;
}
.ViewListing_saveButton__ej8wX  .anticon .anticon-heart svg{
  font-size: 12px;
}
.number {
  color: #d90000;
  font-size: 14px;
  /* margin-left: 5px; */
  margin-top: 3px;
}
.infoContainer {
  position: relative;
  display: flex;
  margin-top: 58%;
  width: 100%;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  z-index: 3; /* In front of the camera icon */
}

.statusPriceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.statusBadge {
  font-family: Poppins, sans-serif;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  padding: 5px 10px;
  position: absolute;
  margin-bottom: 134%;
  left: 16px;
}

.priceTag {
  font-size: 16px;
}

.actionContainer {
  align-items: center;
  margin-right: 0%;
}

.saveButton {
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 0px;
}
.circle-tags.heart{
   font-size: 50px !important;
}
.ant-tag .ant-tag-checkable {
  font-size: 50px !important;
}

.saveButton .ant-tag.heart{
  margin-inline-end:7px
}

.saveIcon {
  width: 20px;
  aspect-ratio: 1;
  object-fit: contain;
}

.saveText {
  display: none;
}

.moreOptionsIcon {
  width: 6px;
  object-fit: contain;
  stroke-width: 1px;
  stroke: #222;
  margin-top: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.rightIcon{
  margin-right: 0;
}

  
  }
