.photo-gallery--container {
    width: 100%;
    padding: 50px 80px;
}

.photo-gallery--container .photo-gallery--header {
    font-size: calc(var(--d-body-text) + 5px);
    font-weight: bold;
}

.photo-gallery--gallery {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.photo-gallery--item {
    flex: 1 1 calc(33.33% - 10px);
    /* Three images per row */
    box-sizing: border-box;
}

.photo-gallery--item.large {
    flex: 2 1 calc(66.66% - 10px);
    /* Make the large images span two columns */
}

.photo-gallery--item .photo-gallery__img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    object-fit: cover;
}

.gallery-container {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    /* Space between rows */
}

.photo-gallery__gallery-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.photo-gallery__gallery-column {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    flex: 1;
}

.photo-gallery__gallery-item {
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.photo-gallery__gallery-item .photo-gallery__img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.photo-gallery__gallery-item .ant-image {
    width: 100%;
}

.photo-gallery__gallery-img,
.photo-gallery__gallery-item .ant-image {
    border-radius: var(--radius);

}

.photo-gallery__gallery-item.large .ant-image,
.photo-gallery__gallery-item.large .ant-image img {
    height: 500px !important;
}

.photo-gallery__gallery-item.small .ant-image,
.photo-gallery__gallery-item.small .ant-image img {
    height: 350px !important;
}

.photo-gallery__gallery-item.large {
    /* flex: 2; */
    /* Large images take up more space */
}

.photo-gallery__gallery-item.small {
    flex: 1;
    /* Small images share equal space */
}

.ant-image-preview-mask {
    background-color: rgb(0 0 0 / 79%) !important;
}

.ant-image-preview-close {
    color: #ffffff;
    background-color: rgb(0 0 0);
}

.ant-image-preview-switch-right,
.ant-image-preview-switch-left {
    color: rgb(255 255 255);
    background: rgb(0 0 0);
}

.ant-image-preview-operations {
    display: none;
}

img.ant-image-preview-img {
    max-height: 80% !important;
    width: 800px !important;
}

/* RESPONSIVE */
/* Extra Extra Large Devices (very large screens) */
@media (min-width: 1400px) {}

/* Extra Large Devices (large desktops) */
@media (min-width: 1099px) and (max-width: 1399px) {}

/* Large Devices (desktops) */
@media (min-width: 992px) and (max-width: 1100px) {}

/* Medium Devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .photo-gallery--container {
        padding: 50px;
    }

    .photo-gallery--gallery {
        margin-top: 30px;
    }

    img.ant-image-preview-img {
        width: 95% !important;
    }

    .photo-gallery__gallery-item.large .ant-image,
    .photo-gallery__gallery-item.large .ant-image img {
        height: 400px !important;
    }

    .photo-gallery__gallery-item.small .ant-image,
    .photo-gallery__gallery-item.small .ant-image img {
        height: 280px !important;
    }

    .ant-image-preview-switch-right,
    .ant-image-preview-switch-left {
        margin-top: 0;
    }
    .photo-gallery__hr{
        width: 100%;
        margin: 10px 0;
    }
}

/* Small Devices (phones, landscape) */
@media (min-width: 576px) and (max-width: 767px) {
    .photo-gallery--container {
        padding: 50px 30px;
    }

    .photo-gallery--gallery {
        margin-top: 30px;
    }

    img.ant-image-preview-img {
        width: 95% !important;
    }

    .photo-gallery__gallery-item.large .ant-image,
    .photo-gallery__gallery-item.large .ant-image img {
        height: 340px !important;
    }

    .photo-gallery__gallery-item.small .ant-image,
    .photo-gallery__gallery-item.small .ant-image img {
        height: 200px !important;
    }

    .ant-image-preview-switch-right,
    .ant-image-preview-switch-left {
        margin-top: 0;
    }
}

/* Extra Small Devices (phones, portrait) */

@media (max-width: 575px) {
    .photo-gallery--container {
        padding: 50px 30px;
    }

    .photo-gallery--gallery {
        margin-top: 30px;
    }

    img.ant-image-preview-img {
        width: 95% !important;
    }

    .photo-gallery__gallery-item.large .ant-image,
    .photo-gallery__gallery-item.large .ant-image img {
        height: 260px !important;
    }

    .photo-gallery__gallery-item.small .ant-image,
    .photo-gallery__gallery-item.small .ant-image img {
        height: 160px !important;
    }

    .ant-image-preview-switch-right,
    .ant-image-preview-switch-left {
        margin-top: 0;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .photo-gallery--container {
        padding: 30px 20px;
    }

    img.ant-image-preview-img {
        width: 95% !important;
    }

    .photo-gallery__gallery-item.large .ant-image,
    .photo-gallery__gallery-item.large .ant-image img {
        height: 220px !important;
    }

    .photo-gallery__gallery-item.small .ant-image,
    .photo-gallery__gallery-item.small .ant-image img {
        height: 120px !important;
    }

    .ant-image-preview-switch-right,
    .ant-image-preview-switch-left {
        margin-top: 0;
    }
}