.leftcontainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 35px;
  font-weight: 700;
  padding: 0 20px;
}

.lefttitle {
  font-family: Poppins, sans-serif;
  color: #000;
  width: 100%;
  font-size: 30px;
}

.specificationContainer {
  margin-top: 20px;
  padding: 0px 0px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  background-color: #FAFAFA;
  width: 100%;
}

.specificationHeader {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #ededed;
  padding: 10px 20px;
  color: #000;
}

.specificationTable {
  width: 100%;
  padding: 0px 20px;
  /* border-collapse: collapse; */
}

.specificationTable th, .specificationTable td {
  padding: 10px;
  text-align: left;
  font-size: 16px;
}

.specificationTable th {
  font-weight: bold;
  /* border-bottom: 1px solid #E0E0E0; */
}

/* .specificationTable td {
  border-bottom: 1px solid #E0E0E0;
}

.specificationTable th:first-child, .specificationTable td:first-child {
  border-right: 1px solid #E0E0E0;
}

.specificationTable th:nth-child(3), .specificationTable td:nth-child(3) {
  border-right: 1px solid #E0E0E0;
} */

.leftlocation {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #000;
  /* margin-top: 33px; */
  width: 100%;
}

.leftctaButton {
  color: #d90000;
  margin-top: 20px;
  /* width: 100%; */
  /* display: flex;
  align-items: flex-start; */
  font-size: 24px;
  border: none;
  font-weight: 600;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

.leftsectionTitle {
  font-family: Poppins, sans-serif;
  color: #000;
  /* margin-top: 30px; */
  width: 100%;
  font-size: 30px;
}

.leftfeatureGrid {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
  gap: 10px;
  font-size: 20px;
  font-weight: 400;
}

.featureCard {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #1e1e1e;
  white-space: nowrap;
  width: 200px;
  padding: 15px;
  border: 1px solid #000;
  /* max-width: 20%; */
}

.featureTitle {
  font-family: Poppins, sans-serif;
}

.featureContent {
  display: flex;
  margin-top: 22px;
  gap: 13px;
}

.featureIcon {
  aspect-ratio: 1.11;
  object-fit: auto;
  object-position: center;
  background: transparent;
}

.featureValue {
  font-family: Poppins, sans-serif;
  margin: auto 0;
}

.leftdescriptionTitle {
  color: #000;
  width: 100%;
  /* margin-top: 30px; */
  /* font: 30px Poppins; */
  margin-bottom: 20px;
  font-weight: bold;
}

.leftdescriptionTitle{
  font-size: 25px;

}

.leftdescriptionText {
  color: #8c9094;
  width: 100%;
  font: 400 20px Poppins, sans-serif;
}

.applyNowbtn{
  display: none;
}

@media only screen and (max-width: 1024px) and (min-width:720px){
  .leftcontainer {
    display: flex;
   width: 100%;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
    padding: 0 20px;
  }
  
  .lefttitle {
    font-family: Poppins, sans-serif;
    color: #000;
    width: 100%;
    /* font-size: 20px; */
  }
  
  .specificationContainer {
    margin-top: 20px;
    margin-left: 0px;
    padding: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    background-color: #FAFAFA;
    width: 100%;
  }
  
  .specificationHeader {
    /* font-size: 15px; */
    padding: 8px;
  }

  .specificationTable th, .specificationTable td {
    padding: 10px;
    /* font-size: 10px; */
  }

  .specificationTable th:first-child, .specificationTable td:first-child {
    border-right: none; /* Remove the border for better readability on small screens */
  }

  .specificationTable th:nth-child(3), .specificationTable td:nth-child(3) {
    border-right: none; /* Remove the border for better readability on small screens */
  }

  .leftlocation {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    /* font-size: 15px; */
    color: #000;
    margin-top: 33px;
    width: 100%;
  }
  
  .leftctaButton {
    color: #d90000;
    margin-top: 26px;
    width: 100%;
    /* font-size: 15px; */
    border: none;
    background-color: transparent;
  }
  
  .leftsectionTitle {
    font-family: Poppins, sans-serif;
    color: #000;
    margin-top: 30px;
    width: 100%;
    /* font-size: 17px; */
  }
  
  .leftfeatureGrid {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 48%;
    gap: 10px;
    /* font-size: 20px; */
    font-weight: 400;
  }
  
  .featureCard {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #1e1e1e;
    white-space: nowrap;
    width: 90%;
    padding: 15px;
    border: 1px solid #000;
  }
  
  .featureTitle {
    font-family: Poppins, sans-serif;
    font-size: 16px;
  }
  
  .featureContent {
    display: flex;
    margin-top: 22px;
    gap: 13px;
  }
  
  .featureIcon {
    aspect-ratio: 1.11;
    object-fit: auto;
    object-position: center;
  }
  
  .featureValue {
    font-family: Poppins, sans-serif;
    margin: auto 0;
    font-size: 15px;
  }
  
  .leftdescriptionTitle {
    color: #000;
    margin-top: 30px;
    width: 100%;
    font: 20px Poppins;
    font-weight: bold;
  }
  
  .leftdescriptionText {
    color: #8c9094;
    width: 100%;
    font: 400 18px Poppins, sans-serif;
  }
 
}
@media only screen and (min-width: 360px) and (max-width: 480px) {
  .leftcontainer {
    font-size: 15px;
  }
  
  .lefttitle {
    font-family: Poppins, sans-serif;
    color: #000;
    width: 100%;
    font-size: 20px;
  }
  
  .specificationContainer {
    margin-top: 20px;
    padding: 10px;
  }

  .specificationTable{
    padding: 0;
  }
  
  .specificationHeader {
    font-size: 17px;
    padding: 8px;
  }

  .specificationTable th, .specificationTable td {
    padding: 8px;
    font-size: 12px;
  }

  .specificationTable th:first-child, .specificationTable td:first-child {
    border-right: none; /* Remove the border for better readability on small screens */
  }

  .specificationTable th:nth-child(3), .specificationTable td:nth-child(3) {
    border-right: none; /* Remove the border for better readability on small screens */
  }

  .leftlocation {
    font-size: 17px;
    margin-top: 10px;
  }
  
  .leftctaButton {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .leftsectionTitle {
    font-size: 20px;
  }
  
  .leftfeatureGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    font-size: 18px;
  }
  
  .featureCard {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #1e1e1e;
    white-space: nowrap;
    width: 100%;
    padding: 15px;
    border: 1px solid #000;
    max-width: 100%;
  }
  
  .featureTitle {
    font-family: Poppins, sans-serif;
    font-size: 12px;
  }
  
  .featureContent {
    display: flex;
    margin-top: 22px;
    gap: 13px;
  }
  
  .featureIcon {
    aspect-ratio: 1.11;
    object-fit: auto;
    object-position: center;
  }
  
  .featureValue {
    font-family: Poppins, sans-serif;
    margin: auto 0;
    font-size: 12px;
  }
  
  .leftdescriptionTitle {
    color: #000;
    margin-top: 30px;
    width: 100%;
    font: 20px Poppins;
    font-weight: bold;
  }
  
  .leftdescriptionText {
    font: 400 15px Poppins, sans-serif;
    text-align: justify;
  }
  .applyNowbtn{
    border-color: var(--red) ;
    color: var(--red);
    height: 35px;
    display: block;
  }
 
}
@media screen  and (min-width: 1024px) {
.VListingHouseDetails_featureCard__ZDxzL{
  width:300px !important;
}
  
}