<div style="margin: auto;width:100%">
    <br>
    <div>
        <div style="margin: 1px auto;width:100%; display: flex">
            <p style="font-size: 14px;font-weight: 600;margin: 1px 3px">
                Name:
            </p>
            <p style="font-size: 14px;font-weight: 400;margin: 1px 3px">
                {{{ name }}}
            </p>
        </div>
        <div style="margin: 1px auto;width:100%; display: flex">
            <p style="font-size: 14px;font-weight: 600;margin: 1px 3px">
                Email Address:
            </p>
            <p style="font-size: 14px;font-weight: 400;margin: 1px 3px">
                {{{ email }}}
            </p>
        </div>
        <div style="margin: 1px auto;width:100%; display: flex">
            <p style="font-size: 14px;font-weight: 600;margin: 1px 3px">
                Mobile Number:
            </p>
            <p style="font-size: 14px;font-weight: 400;margin: 1px 3px">
                {{{ phone }}}
            </p>
        </div>
        <div style="margin: 1px auto;width:100%; display: flex">
            <p style="font-size: 14px;font-weight: 600;margin: 1px 3px">
                Message:
            </p>
            <p style="font-size: 14px;font-weight: 400;margin: 1px 3px">
                {{{ message }}}
            </p>
        </div>
        <br>
        <br><br>
        <div>
            <p style="color:red;font-style: italic;font-size:12px;margin: 0px 3px">This is a system generated email. Please do not reply to this message.</p>
        </div>
    </div>
</div>