.wholeViewSavedProperties {
  display: flex;
  flex-direction: column;
  padding: 0px 30px 50px 30px;
  font-size: var(--d-body-text);
  background: var(--white) ;
  /* max-width: var(--default-page-size); */
}
.savedPropertiesBackgroundComponent {
  background: var(--white) ;
  color: black;
}
.savedPropertiesContent {
  background: var(--white);
  max-width: var(--default-page-size);
  margin: auto;
  /* flex-direction: row;
  flex-wrap: wrap; */
}
.ant-tabs-nav .ant-tabs-nav-wrap{
  border-top: 1px solid #8c909452;
}

/* Cellphone */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .savedPropertiesBackgroundComponent .listing-carousel-saved-properties{
    grid-template-columns: 1fr !important;
    font-size: var(--m-body-text);
  }
  .wholeViewSavedProperties{
    padding: 0 20px 50px ;
  }
}
/* Big Size Cellphone */
@media screen and (min-width: 481px) and (max-width: 769px) {
  .savedPropertiesBackgroundComponent .listing-carousel-saved-properties{
    grid-template-columns: 1fr 1fr !important;
  }
}
/* Tablets */
@media screen and (min-width: 770px) and (max-width: 1024px) {
  .cardBackgroundSavedProperties #card-listing .ant-card-body .card-content .card-content--title{
  margin: 0px 0px 10px 0px !important;
  }
}
.savedPropertiesBackgroundComponent
  .ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: black;
  font-weight: 500;
  text-shadow: 0 0 0.25px currentcolor;
}
.savedPropertiesBackgroundComponent .ant-tabs .ant-tabs-tab-btn {
  color: black;
}
.savedPropertiesBackgroundComponent .ant-tabs .ant-tabs-ink-bar {
  background: red;
}
.savedPropertiesBackgroundComponent .ant-tabs-top > .ant-tabs-nav::before {
  display: none;
}
/* .savedPropertiesBackgroundComponent .ant-tabs .ant-tabs-content {
  padding-top: 30px;
  padding-left: 17%;
} */
.savedPropertiesBackgroundComponent
  .ant-tabs
  .ant-tabs-content
  #myPropertiesTextHeader {
  color: black;
  font-size: x-large;
  font-weight: bold;
}
.savedPropertiesBackgroundComponent .savedPropertiesContent .card-item.field {
  margin-top: 15px;
  width: 200px;
  height: 40px;
  color: black;
  border-color: #d9d9d9;
  border-width: 1px;
}

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: transparent !important;
}
.ant-select-item-option.ant-select-item-option-active:hover {
  background-color: #d9d9d9 !important;
}
.savedPropertiesBackgroundComponent
  .savedPropertiesContent
  .ant-select-item-option-content {
  color: black;
  font-weight: 400;
}
.savedPropertiesBackgroundComponent .listing-carousel-saved-properties {
  cursor: pointer;
  display: grid;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 100px; */
  margin-top: 30px;
}
.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: #d9d9d9;
}
