/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: "Poppins", Helvetica;


  /* font sizes */
  --font-size-smi: 13px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-red: #d90000;
  --color-gray: #8c9094;

  /* Paddings */
  --padding-10xs: 3px;
  --padding-sm: 14px;
  --padding-7xs: 6px;

  /* Border radiuses */
  --br-11xl: 30px;
}