body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: var(--font-family) !important;
  font-size: var(--d-body-text) !important;
  /* line-height: calc(var(--d-body-text) * var(--line-height)); */
}
.ant-layout{
  font-size:var(--d-body-text) !important;
}

h2{
  font-size: var(--d-h2-text) !important;
}

h3{
  font-size: var(--d-h3-text) !important;
}

h4{
  font-size: var(--d-h4-text) !important;
} 
 



:root {
  --red: #D90000;
  --mute-gray: #8C9094;
  --font-family: "Poppins";
  --mute-red: #FFDBDB;
  --bg-shadow: rgba(0, 0, 0, 0.4);
  --green: rgb(0, 102, 0);
  --black: black;
  --mute-white: #fdfbfa;
  --white: white;
  --radius: 6px;
  --half-radius: 5px;
  --default-page-size: 1000px;
  --d-body-text: 15px;
  --m-body-text: 0.875rem; /* 14px */
  --d-h1-text: 30px;
  --d-h2-text: 28px;
  --d-h3-text: 24px;
  --d-h4-text: 22px;
  --m-h1-text: 28px;
  --m-h2-text: 25px;
  --m-h3-text: 22px;
  --m-h4-text: 20px;
  --line-height: 1.6;
  /* xl */
  --xl-header-1-fs: 2.8rem;
  --xl-header-2-fs: 2.5rem;
  --xl-header-3-fs: 2rem;
  --xl-label-fs: 1.8rem;
  --xl-sub-label-fs: 1.5rem;
  --xl-text-label-fs: 1.2rem;
  --xl-field-fs: 0.95rem;
  /* DESKTOP */
  --d-header-1-fs: 2.5rem;
  --d-header-2-fs: 2rem;
  --d-header-3-fs: 1.5rem;
  --d-label-fs: 1.3rem;
  --d-sub-label-fs: 1.2rem;
  --d-text-label-fs: 1.1rem;
  --d-field-fs: 0.85rem;
  /* LAPTOP */
  --l-header-1-fs: 2.2rem;
  --l-header-2-fs: 1.7rem;
  --l-header-3-fs: 1.4rem;
  --l-label-fs: 1.3rem;
  --l-sub-label-fs: 1rem;
  --l-text-label-fs: 0.95rem;
  --l-field-fs: 0.75rem;
  /* TABLET */
  --t-header-1-fs: 2rem;
  --t-header-2-fs: 1.5rem;
  --t-header-3-fs: 1.3rem;
  --t-label-fs: 1.2rem;
  --t-sub-label-fs: 1rem;
  --t-text-label-fs: 0.95rem;
  --t-field-fs: 0.75rem;
  /* Mobile */
  --m-header-1-fs: 1.5rem;
  --m-header-2-fs: 1.4rem;
  --m-header-3-fs: 1.2rem;
  --m-label-fs: 1rem;
  --m-sub-label-fs: 0.90rem;
  --m-text-label-fs: 0.80rem;
  --m-field-fs: 0.70rem;
  /* Font Weight */
  --header-1-fw: bold;
  --header-2-fw: 600;
  --header-3-fw: 500;
  --label-fw: 400;
  --field-fw: 300;
}

/* Font Size Recommendations:

1. Desktop 
H1: 2.5rem (approx. 32px)
H2: 2rem (approx. 28px)
H3: 1.5rem (approx. 24px)
Body Text: 1rem (16px)

2. Laptop 
H1: 2.2rem (approx. 28px)
H2: 1.8rem (approx. 24x)
H3: 1.4rem (approx. 20px)
Body Text: 1rem (14px)

3. Tablet 
H1: 2rem (approx. 24px)
H2: 1.6rem (approx. 20px)
H3: 1.3rem (approx. 16px)
Body Text: 0.75rem (12px)

3. Mobile 
H1: 1.5rem (20px)
H2: 1.4rem (16px)
H3: 1.2rem (14px)
Body Text: 0.75rem (12px / 10px) */

/* sm    640px    @media (min-width: 640px) { ... }
md    768px    @media (min-width: 768px) { ... }
lg    1024px    @media (min-width: 1024px) { ... }
xl    1280px    @media (min-width: 1280px) { ... }
2xl    1536px    @media (min-width: 1536px) { ... } */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.loading--message-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-shadow);
  z-index: 100;
}

.layout--background {
  background: white;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .dropdown-icon {
    display: none;
  }
}

@media (max-width: 575px) {
  h1{
    font-size: var(--m-h1-text) !important;
  }
  h2{
    font-size: var(--m-h2-text) !important;
  }
  
  h3{
    font-size: var(--m-h3-text) !important;
  }
  
  h4{
    font-size: var(--m-h4-text) !important;
  } 
}