.upload-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.drag-area {
  border: 2px dashed #ddd;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.drag-area h2 {
  margin: 0;
  font-size: 24px;
}

.drag-area span {
  display: block;
  margin: 10px 0;
  font-size: 16px;
}

.choose-file {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#gallery {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.image-container {
  position: relative;
  margin: 5px;
  z-index: 1;
}

#gallery img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 5px;
}

.delete-btn,
.view-btn {
  position: absolute;
  top: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  width: 10%;
  background: gray;
}

.delete-btn {
  right: 40px;
  color: black;
  font-weight: bold;
}

.view-btn {
  left: 40px;
  color: blue;
}

/* Modal styles */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  display: block;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.caption {
  text-align: center;
  color: #ccc;
  font-size: 20px;
  padding: 10px 0;
}

@media only screen and (max-width: 768px) {
  .upload-container {
    width: 100vw;
  }
  .drag-area {
    width: 80%;
  }
}

@media only screen and (max-width: 860px) {
  .drag-area {
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {
}
